<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Upload - NG-ZORRO - Ant Design Of Angular</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
    <!-- Hotjar Tracking Code for ng.ant.design -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:792689,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
  <link rel="stylesheet" href="styles.ba7484eafc88ea9e5128.css"></head>
  <body>
    <nav><ul><li><a href="/docs/introduce/zh">Ant Design of Angular</a></li>
<li><a href="/docs/introduce/en">Ant Design of Angular</a></li>
<li><a href="/docs/getting-started/zh">快速上手</a></li>
<li><a href="/docs/getting-started/en">Getting Started</a></li>
<li><a href="/docs/schematics/en">Schematics</a></li>
<li><a href="/docs/schematics/zh">脚手架</a></li>
<li><a href="/docs/i18n/en">Internationalization</a></li>
<li><a href="/docs/i18n/zh">国际化</a></li>
<li><a href="/docs/customize-theme/en">Customize Theme</a></li>
<li><a href="/docs/customize-theme/zh">定制主题</a></li>
<li><a href="/docs/recommendation/zh">社区推荐</a></li>
<li><a href="/docs/recommendation/en">Third-Party Libraries</a></li>
<li><a href="/docs/faq/zh">常见问题</a></li>
<li><a href="/docs/faq/en">FAQ</a></li>
<li><a href="/docs/contributing/zh">贡献指南</a></li>
<li><a href="/docs/changelog/zh">更新日志</a></li>
<li><a href="/docs/contributing/en">Contributing to NG-ZORRO</a></li>
<li><a href="/docs/changelog/en">Change Log</a></li></ul><ul><li><h3>General</h3><ul><li><a href="/components/button/zh">按钮</a></li>
<li><a href="/components/button/en">Button</a></li>
<li><a href="/components/icon/zh">图标</a></li>
<li><a href="/components/icon/en">Icon</a></li></ul></li>,<li><h3>Layout</h3><ul><li><a href="/components/grid/zh">栅格</a></li>
<li><a href="/components/grid/en">Grid</a></li>
<li><a href="/components/layout/zh">布局</a></li>
<li><a href="/components/layout/en">Layout</a></li></ul></li>,<li><h3>Navigation</h3><ul><li><a href="/components/affix/zh">固钉</a></li>
<li><a href="/components/affix/en">Affix</a></li>
<li><a href="/components/breadcrumb/zh">面包屑</a></li>
<li><a href="/components/breadcrumb/en">Breadcrumb</a></li>
<li><a href="/components/dropdown/zh">下拉菜单</a></li>
<li><a href="/components/dropdown/en">Dropdown</a></li>
<li><a href="/components/menu/zh">导航菜单</a></li>
<li><a href="/components/menu/en">Menu</a></li>
<li><a href="/components/pagination/zh">分页</a></li>
<li><a href="/components/pagination/en">Pagination</a></li>
<li><a href="/components/steps/zh">步骤条</a></li>
<li><a href="/components/steps/en">Steps</a></li></ul></li>,<li><h3>Data Entry</h3><ul><li><a href="/components/auto-complete/zh">自动完成</a></li>
<li><a href="/components/auto-complete/en">Autocomplete</a></li>
<li><a href="/components/cascader/zh">级联选择</a></li>
<li><a href="/components/cascader/en">Cascader</a></li>
<li><a href="/components/checkbox/zh">多选框</a></li>
<li><a href="/components/checkbox/en">Checkbox</a></li>
<li><a href="/components/date-picker/zh">日期选择框</a></li>
<li><a href="/components/date-picker/en">DatePicker</a></li>
<li><a href="/components/form/zh">表单</a></li>
<li><a href="/components/form/en">Form</a></li>
<li><a href="/components/input/zh">输入框</a></li>
<li><a href="/components/input/en">Input</a></li>
<li><a href="/components/input-number/zh">数字输入框</a></li>
<li><a href="/components/input-number/en">InputNumber</a></li>
<li><a href="/components/mention/zh">提及</a></li>
<li><a href="/components/mention/en">Mention</a></li>
<li><a href="/components/radio/zh">单选框</a></li>
<li><a href="/components/radio/en">Radio</a></li>
<li><a href="/components/rate/zh">评分</a></li>
<li><a href="/components/rate/en">Rate</a></li>
<li><a href="/components/select/zh">选择器</a></li>
<li><a href="/components/select/en">Select</a></li>
<li><a href="/components/slider/zh">滑动输入条</a></li>
<li><a href="/components/slider/en">Slider</a></li>
<li><a href="/components/switch/zh">开关</a></li>
<li><a href="/components/switch/en">Switch</a></li>
<li><a href="/components/time-picker/zh">时间选择框</a></li>
<li><a href="/components/time-picker/en">TimePicker</a></li>
<li><a href="/components/transfer/zh">穿梭框</a></li>
<li><a href="/components/transfer/en">Transfer</a></li>
<li><a href="/components/tree-select/zh">树选择</a></li>
<li><a href="/components/tree-select/en">TreeSelect</a></li>
<li><a href="/components/upload/zh">上传</a></li>
<li><a href="/components/upload/en">Upload</a></li></ul></li>,<li><h3>Data Display</h3><ul><li><a href="/components/avatar/zh">头像</a></li>
<li><a href="/components/avatar/en">Avatar</a></li>
<li><a href="/components/badge/zh">徽标数</a></li>
<li><a href="/components/badge/en">Badge</a></li>
<li><a href="/components/calendar/zh">日历</a></li>
<li><a href="/components/calendar/en">Calendar</a></li>
<li><a href="/components/card/zh">卡片</a></li>
<li><a href="/components/card/en">Card</a></li>
<li><a href="/components/carousel/zh">走马灯</a></li>
<li><a href="/components/carousel/en">Carousel</a></li>
<li><a href="/components/collapse/zh">折叠面板</a></li>
<li><a href="/components/collapse/en">Collapse</a></li>
<li><a href="/components/list/zh">列表</a></li>
<li><a href="/components/list/en">List</a></li>
<li><a href="/components/popover/zh">气泡卡片</a></li>
<li><a href="/components/popover/en">Popover</a></li>
<li><a href="/components/table/zh">表格</a></li>
<li><a href="/components/table/en">Table</a></li>
<li><a href="/components/tabs/zh">标签页</a></li>
<li><a href="/components/tabs/en">Tabs</a></li>
<li><a href="/components/tag/zh">标签</a></li>
<li><a href="/components/tag/en">Tag</a></li>
<li><a href="/components/timeline/zh">时间轴</a></li>
<li><a href="/components/timeline/en">Timeline</a></li>
<li><a href="/components/tooltip/zh">文字提示</a></li>
<li><a href="/components/tooltip/en">Tooltip</a></li>
<li><a href="/components/tree/zh">树形控件</a></li>
<li><a href="/components/tree/en">Tree</a></li></ul></li>,<li><h3>Feedback</h3><ul><li><a href="/components/alert/zh">警告提示</a></li>
<li><a href="/components/alert/en">Alert</a></li>
<li><a href="/components/drawer/zh">抽屉</a></li>
<li><a href="/components/drawer/en">Drawer</a></li>
<li><a href="/components/message/zh">全局提示</a></li>
<li><a href="/components/message/en">Message</a></li>
<li><a href="/components/modal/zh">对话框</a></li>
<li><a href="/components/modal/en">Modal</a></li>
<li><a href="/components/notification/zh">通知提醒框</a></li>
<li><a href="/components/notification/en">Notification</a></li>
<li><a href="/components/popconfirm/zh">气泡确认框</a></li>
<li><a href="/components/popconfirm/en">Popconfirm</a></li>
<li><a href="/components/progress/zh">进度条</a></li>
<li><a href="/components/progress/en">Progress</a></li>
<li><a href="/components/skeleton/zh">加载占位图</a></li>
<li><a href="/components/skeleton/en">Skeleton</a></li>
<li><a href="/components/spin/zh">加载中</a></li>
<li><a href="/components/spin/en">Spin</a></li></ul></li>,<li><h3>Other</h3><ul><li><a href="/components/anchor/zh">锚点</a></li>
<li><a href="/components/anchor/en">Anchor</a></li>
<li><a href="/components/back-top/zh">回到顶部</a></li>
<li><a href="/components/back-top/en">BackTop</a></li>
<li><a href="/components/divider/zh">分割线</a></li>
<li><a href="/components/divider/en">Divider</a></li></ul></li></ul></nav><main><article><nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
      <nz-link nzHref="#components-upload-demo-basic" nzTitle="Upload by clicking"></nz-link><nz-link nzHref="#components-upload-demo-avatar" nzTitle="Avatar"></nz-link><nz-link nzHref="#components-upload-demo-file-list" nzTitle="Default Files"></nz-link><nz-link nzHref="#components-upload-demo-picture-card" nzTitle="Pictures Wall"></nz-link><nz-link nzHref="#components-upload-demo-filter" nzTitle="Filter"></nz-link><nz-link nzHref="#components-upload-demo-drag" nzTitle="Drag and Drop"></nz-link><nz-link nzHref="#components-upload-demo-directory" nzTitle="Upload directory"></nz-link><nz-link nzHref="#components-upload-demo-manually" nzTitle="Upload manually"></nz-link><nz-link nzHref="#components-upload-demo-picture-style" nzTitle="Pictures with list style"></nz-link><nz-link nzHref="#components-upload-demo-custom-request" nzTitle="Custom request"></nz-link>
    </nz-anchor>
  </nz-affix><section class="markdown">
	<h1>Upload<span class="subtitle"></span>
	<a class="edit-button" href="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/upload/doc/index.en-US.md" target="_blank">
		<i nz-icon type="edit"></i></a>
</h1>
	<section class="markdown" ngNonBindable>
		<p>Upload file by selecting or dragging.</p>
<h2 id="when-to-use"><span>When To Use</span><a onclick="window.location.hash = 'when-to-use'" class="anchor">#</a></h2><p>Uploading is the process of publishing information (web pages, text, pictures, video, etc.) to a remote server via a web page or upload tool.</p>
<ul>
<li>When you need to upload one or more files.</li>
<li>When you need to show the process of uploading.</li>
<li>When you need to upload files by dragging and dropping.</li>
</ul>

	</section>
	
	<h2>
		<span>Examples</span>
		<i nz-icon type="appstore" class="code-box-expand-trigger" title="expand all code" (click)="expandAllCode()"></i>
	</h2>
</section><div nz-row [nzGutter]="16">
	<div nz-col [nzLg]="12" [nzMd]="24">
		<nz-code-box nzTitle="Upload by clicking" [nzId]="'components-upload-demo-basic'" nzSelector="nz-demo-upload-basic" [nzLink]="'components-upload-demo-basic'" nzGenerateCommand="ng g ng-zorro-antd:upload-basic -p app --name=" nzComponentName="NzDemoUploadBasicComponent" [nzCode]="basic" [nzRawCode]="basicRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/upload/demo/basic.md'">
	<nz-demo-upload-basic demo></nz-demo-upload-basic>
	<div intro ngNonBindable>
		<p>Classic mode. File selection dialog pops up when upload button is clicked.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Default Files" [nzId]="'components-upload-demo-file-list'" nzSelector="nz-demo-upload-file-list" [nzLink]="'components-upload-demo-file-list'" nzGenerateCommand="ng g ng-zorro-antd:upload-file-list -p app --name=" nzComponentName="NzDemoUploadFileListComponent" [nzCode]="fileList" [nzRawCode]="fileListRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/upload/demo/file-list.md'">
	<nz-demo-upload-file-list demo></nz-demo-upload-file-list>
	<div intro ngNonBindable>
		<p>Use <code>nzFileList</code> for uploaded files when page init.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Filter" [nzId]="'components-upload-demo-filter'" nzSelector="nz-demo-upload-filter" [nzLink]="'components-upload-demo-filter'" nzGenerateCommand="ng g ng-zorro-antd:upload-filter -p app --name=" nzComponentName="NzDemoUploadFilterComponent" [nzCode]="filter" [nzRawCode]="filterRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/upload/demo/filter.md'">
	<nz-demo-upload-filter demo></nz-demo-upload-filter>
	<div intro ngNonBindable>
		<p>You can gain full control over filelist by configuring <code>nzFilter</code>. You can accomplish all kinds of customed functions. The following shows three circumstances:</p>
<p>1) limit the number of uploaded files.</p>
<p>2) read from response and show file link.</p>
<p>3) filter successfully uploaded files according to response from server.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Upload directory" [nzId]="'components-upload-demo-directory'" nzSelector="nz-demo-upload-directory" [nzLink]="'components-upload-demo-directory'" nzGenerateCommand="ng g ng-zorro-antd:upload-directory -p app --name=" nzComponentName="NzDemoUploadDirectoryComponent" [nzCode]="directory" [nzRawCode]="directoryRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/upload/demo/directory.md'">
	<nz-demo-upload-directory demo></nz-demo-upload-directory>
	<div intro ngNonBindable>
		<p>You can select and upload a whole directory.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Pictures with list style" [nzId]="'components-upload-demo-picture-style'" nzSelector="nz-demo-upload-picture-style" [nzLink]="'components-upload-demo-picture-style'" nzGenerateCommand="ng g ng-zorro-antd:upload-picture-style -p app --name=" nzComponentName="NzDemoUploadPictureStyleComponent" [nzCode]="pictureStyle" [nzRawCode]="pictureStyleRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/upload/demo/picture-style.md'">
	<nz-demo-upload-picture-style demo></nz-demo-upload-picture-style>
	<div intro ngNonBindable>
		<p>If uploaded file is a picture, the thumbnail can be shown. <code>IE8/9</code> do not support local thumbnail show. Please use <code>thumbUrl</code> instead.</p>

	</div>
</nz-code-box>

	</div>
	<div nz-col [nzLg]="12" [nzMd]="24">
		<nz-code-box nzTitle="Avatar" [nzId]="'components-upload-demo-avatar'" nzSelector="nz-demo-upload-avatar" [nzLink]="'components-upload-demo-avatar'" nzGenerateCommand="ng g ng-zorro-antd:upload-avatar -p app --name=" nzComponentName="NzDemoUploadAvatarComponent" [nzCode]="avatar" [nzRawCode]="avatarRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/upload/demo/avatar.md'">
	<nz-demo-upload-avatar demo></nz-demo-upload-avatar>
	<div intro ngNonBindable>
		<p>Click to upload user&#39;s avatar, and validate size and format of picture with <code>nzBeforeUpload</code>.</p>
<blockquote>
<p>The return value of function <code>nzBeforeUpload</code> can be a Observable to check asynchronously.</p>
</blockquote>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Pictures Wall" [nzId]="'components-upload-demo-picture-card'" nzSelector="nz-demo-upload-picture-card" [nzLink]="'components-upload-demo-picture-card'" nzGenerateCommand="ng g ng-zorro-antd:upload-picture-card -p app --name=" nzComponentName="NzDemoUploadPictureCardComponent" [nzCode]="pictureCard" [nzRawCode]="pictureCardRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/upload/demo/picture-card.md'">
	<nz-demo-upload-picture-card demo></nz-demo-upload-picture-card>
	<div intro ngNonBindable>
		<p>After users upload picture, the thumbnail will be shown in list. The upload button will disappear when count meets limitation.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Drag and Drop" [nzId]="'components-upload-demo-drag'" nzSelector="nz-demo-upload-drag" [nzLink]="'components-upload-demo-drag'" nzGenerateCommand="ng g ng-zorro-antd:upload-drag -p app --name=" nzComponentName="NzDemoUploadDragComponent" [nzCode]="drag" [nzRawCode]="dragRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/upload/demo/drag.md'">
	<nz-demo-upload-drag demo></nz-demo-upload-drag>
	<div intro ngNonBindable>
		<p>You can drag files to a specific area, to upload. Alternatively, you can also upload by selecting.</p>
<p>We can upload serveral files at once in modern browsers by giving the input the <code>nzMultiple</code> attribute.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Upload manually" [nzId]="'components-upload-demo-manually'" nzSelector="nz-demo-upload-manually" [nzLink]="'components-upload-demo-manually'" nzGenerateCommand="ng g ng-zorro-antd:upload-manually -p app --name=" nzComponentName="NzDemoUploadManuallyComponent" [nzCode]="manually" [nzRawCode]="manuallyRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/upload/demo/manually.md'">
	<nz-demo-upload-manually demo></nz-demo-upload-manually>
	<div intro ngNonBindable>
		<p>Upload files manually after <code>nzBeforeUpload</code> returns <code>false</code>.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Custom request" [nzId]="'components-upload-demo-custom-request'" nzSelector="nz-demo-upload-custom-request" [nzLink]="'components-upload-demo-custom-request'" nzGenerateCommand="ng g ng-zorro-antd:upload-custom-request -p app --name=" nzComponentName="NzDemoUploadCustomRequestComponent" [nzCode]="customRequest" [nzRawCode]="customRequestRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/upload/demo/custom-request.md'">
	<nz-demo-upload-custom-request demo></nz-demo-upload-custom-request>
	<div intro ngNonBindable>
		<p>Use <code>nzCustomRequest</code> override for the default xhr behavior.</p>

	</div>
</nz-code-box>

	</div>
</div>
<section class="markdown api-container" ngNonBindable><h2 id="api"><span>API</span><a onclick="window.location.hash = 'api'" class="anchor">#</a></h2><blockquote>
<p>You can consult <a href="https://github.com/blueimp/jQuery-File-Upload/wiki">jQuery-File-Upload</a> about how to implement server side upload interface.</p>
</blockquote>
<h3 id="nz-upload"><span>nz-upload</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-upload'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[nzAccept]</code></td>
<td>File types that can be accepted. See <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#attr-accept">input accept Attribute</a></td>
<td>string</td>
<td>-</td>
</tr>
<tr>
<td><code>[nzAction]</code></td>
<td>Required. Uploading URL</td>
<td>string</td>
<td>-</td>
</tr>
<tr>
<td><code>[nzDirectory]</code></td>
<td>support upload whole directory (<a href="https://caniuse.com/#feat=input-file-directory">caniuse</a>)</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzBeforeUpload]</code></td>
<td>Hook function which will be executed before uploading. Uploading will be stopped with <code>false</code> or a Observable. <strong>Warning：this function is not supported in IE9</strong>. NOTICE: Muse be use <code>=&gt;</code> to define the method.</td>
<td>(file, fileList) =&gt; `boolean</td>
<td>Observable`</td>
<td>-</td>
</tr>
<tr>
<td><code>[nzCustomRequest]</code></td>
<td>override for the default xhr behavior allowing for additional customization and ability to implement your own XMLHttpRequest. NOTICE: Muse be use <code>=&gt;</code> to define the method.</td>
<td><code>(item) =&gt; Subscription</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzData]</code></td>
<td>Uploading params or function which can return uploading params. NOTICE: Muse be use <code>=&gt;</code> to define the method.</td>
<td>`Object</td>
<td>((file: UploadFile) =&gt; Object)`</td>
<td>-</td>
</tr>
<tr>
<td><code>[nzDisabled]</code></td>
<td>disable upload button</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzFileList]</code></td>
<td>List of files, two-way data-binding</td>
<td>UploadFile[]</td>
<td>-</td>
</tr>
<tr>
<td><code>[nzLimit]</code></td>
<td>limit single upload count when <code>nzMultiple</code> has opened. <code>0</code> unlimited</td>
<td>number</td>
<td>0</td>
</tr>
<tr>
<td><code>[nzSize]</code></td>
<td>limit file size (KB). <code>0</code> unlimited</td>
<td>number</td>
<td>0</td>
</tr>
<tr>
<td><code>[nzFileType]</code></td>
<td>limit file type, e.g: <code>image/png,image/jpeg,image/gif,image/bmp</code></td>
<td>string</td>
<td>-</td>
</tr>
<tr>
<td><code>[nzFilter]</code></td>
<td>Custom filter when choosed file</td>
<td>UploadFilter[]</td>
<td>-</td>
</tr>
<tr>
<td><code>[nzHeaders]</code></td>
<td>Set request headers, valid above IE10. NOTICE: Muse be use <code>=&gt;</code> to define the method.</td>
<td><code>Object｜((file: UploadFile) =&gt; Object)</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzListType]</code></td>
<td>Built-in stylesheets, support for three types: <code>text</code>, <code>picture</code> or <code>picture-card</code></td>
<td>string</td>
<td>&#39;text&#39;</td>
</tr>
<tr>
<td><code>[nzMultiple]</code></td>
<td>Whether to support selected multiple file. <code>IE10+</code> supported. You can select multiple files with CTRL holding down while multiple is set to be true</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzName]</code></td>
<td>The name of uploading file</td>
<td>string</td>
<td>&#39;file&#39;</td>
</tr>
<tr>
<td><code>[nzShowUploadList]</code></td>
<td>Whether to show default upload list, could be an object to specify <code>showPreviewIcon</code> and <code>showRemoveIcon</code> individually</td>
<td><code>Boolean or &#123; showPreviewIcon?: boolean, showRemoveIcon?: boolean &#125;</code></td>
<td>true</td>
</tr>
<tr>
<td><code>[nzShowButton]</code></td>
<td>Show upload button</td>
<td>boolean</td>
<td>true</td>
</tr>
<tr>
<td><code>[nzWithCredentials]</code></td>
<td>ajax upload with cookie sent</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzPreview]</code></td>
<td>A callback function, will be executed when file link or preview icon is clicked. NOTICE: Muse be use <code>=&gt;</code> to define the method.</td>
<td><code>(file: UploadFile) =&gt; void</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzRemove]</code></td>
<td>A callback function, will be executed when removing file button is clicked, remove event will be prevented when return value is <code>false</code> or a Observable. NOTICE: Muse be use <code>=&gt;</code> to define the method.</td>
<td>(file: UploadFile) =&gt; <code>boolean｜Observable</code></td>
<td>-</td>
</tr>
<tr>
<td><code>(nzChange)</code></td>
<td>A callback function, can be executed when uploading state is changing</td>
<td>EventEmitter</td>
<td>-</td>
</tr>
</tbody>
</table>
<h4 id="nzchange"><span>nzChange</span><a onclick="window.location.hash = 'nzchange'" class="anchor">#</a></h4><blockquote>
<p>The function will be called when uploading is in progress, completed or failed</p>
</blockquote>
<p>When uploading state change, it returns:</p>
<pre><code class="lang-js"><span class="token punctuation">&#123;</span>
  file<span class="token punctuation">:</span> <span class="token punctuation">&#123;</span> <span class="token comment" spellcheck="true">/* ... */</span> <span class="token punctuation">&#125;</span><span class="token punctuation">,</span>
  fileList<span class="token punctuation">:</span> <span class="token punctuation">[</span> <span class="token comment" spellcheck="true">/* ... */</span> <span class="token punctuation">]</span><span class="token punctuation">,</span>
  event<span class="token punctuation">:</span> <span class="token punctuation">&#123;</span> <span class="token comment" spellcheck="true">/* ... */</span> <span class="token punctuation">&#125;</span><span class="token punctuation">,</span>
<span class="token punctuation">&#125;</span>
</code></pre>
<ol>
<li><p><code>file</code> File object for the current operation.</p>
<pre><code class="lang-js"><span class="token punctuation">&#123;</span>
   uid<span class="token punctuation">:</span> <span class="token string">'uid'</span><span class="token punctuation">,</span>      <span class="token comment" spellcheck="true">// unique identifier</span>
   name<span class="token punctuation">:</span> <span class="token string">'xx.png'</span>   <span class="token comment" spellcheck="true">// file name</span>
   status<span class="token punctuation">:</span> <span class="token string">'done'</span><span class="token punctuation">,</span> <span class="token comment" spellcheck="true">// options：uploading, done, error, removed</span>
   response<span class="token punctuation">:</span> <span class="token string">'&#123;"status": "success"&#125;'</span> <span class="token comment" spellcheck="true">// response from server</span>
<span class="token punctuation">&#125;</span>
</code></pre>
</li>
<li><p><code>fileList</code> current list of files</p>
</li>
<li><code>event</code> response from server, including uploading progress, supported by advanced browsers.</li>
</ol>
<h4 id="nzcustomrequest"><span>nzCustomRequest</span><a onclick="window.location.hash = 'nzcustomrequest'" class="anchor">#</a></h4><p>Allows for advanced customization by overriding default behavior in <code>HttpClient</code>. Provide your own XMLHttpRequest calls to interface with custom backend processes or interact with AWS S3 service through the aws-sdk-js package.</p>
<p><code>nzCustomRequest</code> callback is passed an object with:</p>
<ul>
<li><code>onProgress: (event: &#123; percent: number &#125;): void</code></li>
<li><code>onError: (event: Error): void</code></li>
<li><code>onSuccess: (body: Object, xhr?: Object): void</code></li>
<li><code>data: Object</code></li>
<li><code>filename: String</code></li>
<li><code>file: File</code></li>
<li><code>withCredentials: Boolean</code></li>
<li><code>action: String</code></li>
<li><code>headers: Object</code></li>
</ul>
</section></article></main>
    <script type="text/javascript">
      // Single Page Apps for GitHub Pages
      // https://github.com/rafrex/spa-github-pages
      // Copyright (c) 2016 Rafael Pedicini, licensed under the MIT License
      // ----------------------------------------------------------------------
      // This script checks to see if a redirect is present in the query string
      // and converts it back into the correct url and adds it to the
      // browser's history using window.history.replaceState(...),
      // which won't cause the browser to attempt to load the new url.
      // When the single page app is loaded further down in this file,
      // the correct url will be waiting in the browser's history for
      // the single page app to route accordingly.
      (function(l) {
        if (l.search) {
          var q = {};
          l.search.slice(1).split('&').forEach(function(v) {
            var a = v.split('=');
            q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
          });
          if (q.p !== undefined) {
            window.history.replaceState(null, null,
              l.pathname.slice(0, -1) + (q.p || '') +
              (q.q ? ('?' + q.q) : '') +
              l.hash
            );
          }
        }
      }(window.location))
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52892298-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-52892298-2');
    </script>
  <script type="text/javascript" src="runtime.3b80d31845c016626f6e.js"></script><script type="text/javascript" src="polyfills.123964adf0983bf3e4a6.js"></script><script type="text/javascript" src="scripts.03e042f1f102bf0e2ed8.js"></script><script type="text/javascript" src="main.7e111ff5ba3e8cf76293.js"></script></body>
</html>
