<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>选择器 - NG-ZORRO - Ant Design Of Angular</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
    <!-- Hotjar Tracking Code for ng.ant.design -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:792689,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
  <link rel="stylesheet" href="styles.ba7484eafc88ea9e5128.css"></head>
  <body>
    <nav><ul><li><a href="/docs/introduce/zh">Ant Design of Angular</a></li>
<li><a href="/docs/introduce/en">Ant Design of Angular</a></li>
<li><a href="/docs/getting-started/zh">快速上手</a></li>
<li><a href="/docs/getting-started/en">Getting Started</a></li>
<li><a href="/docs/schematics/en">Schematics</a></li>
<li><a href="/docs/schematics/zh">脚手架</a></li>
<li><a href="/docs/i18n/en">Internationalization</a></li>
<li><a href="/docs/i18n/zh">国际化</a></li>
<li><a href="/docs/customize-theme/en">Customize Theme</a></li>
<li><a href="/docs/customize-theme/zh">定制主题</a></li>
<li><a href="/docs/recommendation/zh">社区推荐</a></li>
<li><a href="/docs/recommendation/en">Third-Party Libraries</a></li>
<li><a href="/docs/faq/zh">常见问题</a></li>
<li><a href="/docs/faq/en">FAQ</a></li>
<li><a href="/docs/contributing/zh">贡献指南</a></li>
<li><a href="/docs/changelog/zh">更新日志</a></li>
<li><a href="/docs/contributing/en">Contributing to NG-ZORRO</a></li>
<li><a href="/docs/changelog/en">Change Log</a></li></ul><ul><li><h3>General</h3><ul><li><a href="/components/button/zh">按钮</a></li>
<li><a href="/components/button/en">Button</a></li>
<li><a href="/components/icon/zh">图标</a></li>
<li><a href="/components/icon/en">Icon</a></li></ul></li>,<li><h3>Layout</h3><ul><li><a href="/components/grid/zh">栅格</a></li>
<li><a href="/components/grid/en">Grid</a></li>
<li><a href="/components/layout/zh">布局</a></li>
<li><a href="/components/layout/en">Layout</a></li></ul></li>,<li><h3>Navigation</h3><ul><li><a href="/components/affix/zh">固钉</a></li>
<li><a href="/components/affix/en">Affix</a></li>
<li><a href="/components/breadcrumb/zh">面包屑</a></li>
<li><a href="/components/breadcrumb/en">Breadcrumb</a></li>
<li><a href="/components/dropdown/zh">下拉菜单</a></li>
<li><a href="/components/dropdown/en">Dropdown</a></li>
<li><a href="/components/menu/zh">导航菜单</a></li>
<li><a href="/components/menu/en">Menu</a></li>
<li><a href="/components/pagination/zh">分页</a></li>
<li><a href="/components/pagination/en">Pagination</a></li>
<li><a href="/components/steps/zh">步骤条</a></li>
<li><a href="/components/steps/en">Steps</a></li></ul></li>,<li><h3>Data Entry</h3><ul><li><a href="/components/auto-complete/zh">自动完成</a></li>
<li><a href="/components/auto-complete/en">Autocomplete</a></li>
<li><a href="/components/cascader/zh">级联选择</a></li>
<li><a href="/components/cascader/en">Cascader</a></li>
<li><a href="/components/checkbox/zh">多选框</a></li>
<li><a href="/components/checkbox/en">Checkbox</a></li>
<li><a href="/components/date-picker/zh">日期选择框</a></li>
<li><a href="/components/date-picker/en">DatePicker</a></li>
<li><a href="/components/form/zh">表单</a></li>
<li><a href="/components/form/en">Form</a></li>
<li><a href="/components/input/zh">输入框</a></li>
<li><a href="/components/input/en">Input</a></li>
<li><a href="/components/input-number/zh">数字输入框</a></li>
<li><a href="/components/input-number/en">InputNumber</a></li>
<li><a href="/components/mention/zh">提及</a></li>
<li><a href="/components/mention/en">Mention</a></li>
<li><a href="/components/radio/zh">单选框</a></li>
<li><a href="/components/radio/en">Radio</a></li>
<li><a href="/components/rate/zh">评分</a></li>
<li><a href="/components/rate/en">Rate</a></li>
<li><a href="/components/select/zh">选择器</a></li>
<li><a href="/components/select/en">Select</a></li>
<li><a href="/components/slider/zh">滑动输入条</a></li>
<li><a href="/components/slider/en">Slider</a></li>
<li><a href="/components/switch/zh">开关</a></li>
<li><a href="/components/switch/en">Switch</a></li>
<li><a href="/components/time-picker/zh">时间选择框</a></li>
<li><a href="/components/time-picker/en">TimePicker</a></li>
<li><a href="/components/transfer/zh">穿梭框</a></li>
<li><a href="/components/transfer/en">Transfer</a></li>
<li><a href="/components/tree-select/zh">树选择</a></li>
<li><a href="/components/tree-select/en">TreeSelect</a></li>
<li><a href="/components/upload/zh">上传</a></li>
<li><a href="/components/upload/en">Upload</a></li></ul></li>,<li><h3>Data Display</h3><ul><li><a href="/components/avatar/zh">头像</a></li>
<li><a href="/components/avatar/en">Avatar</a></li>
<li><a href="/components/badge/zh">徽标数</a></li>
<li><a href="/components/badge/en">Badge</a></li>
<li><a href="/components/calendar/zh">日历</a></li>
<li><a href="/components/calendar/en">Calendar</a></li>
<li><a href="/components/card/zh">卡片</a></li>
<li><a href="/components/card/en">Card</a></li>
<li><a href="/components/carousel/zh">走马灯</a></li>
<li><a href="/components/carousel/en">Carousel</a></li>
<li><a href="/components/collapse/zh">折叠面板</a></li>
<li><a href="/components/collapse/en">Collapse</a></li>
<li><a href="/components/list/zh">列表</a></li>
<li><a href="/components/list/en">List</a></li>
<li><a href="/components/popover/zh">气泡卡片</a></li>
<li><a href="/components/popover/en">Popover</a></li>
<li><a href="/components/table/zh">表格</a></li>
<li><a href="/components/table/en">Table</a></li>
<li><a href="/components/tabs/zh">标签页</a></li>
<li><a href="/components/tabs/en">Tabs</a></li>
<li><a href="/components/tag/zh">标签</a></li>
<li><a href="/components/tag/en">Tag</a></li>
<li><a href="/components/timeline/zh">时间轴</a></li>
<li><a href="/components/timeline/en">Timeline</a></li>
<li><a href="/components/tooltip/zh">文字提示</a></li>
<li><a href="/components/tooltip/en">Tooltip</a></li>
<li><a href="/components/tree/zh">树形控件</a></li>
<li><a href="/components/tree/en">Tree</a></li></ul></li>,<li><h3>Feedback</h3><ul><li><a href="/components/alert/zh">警告提示</a></li>
<li><a href="/components/alert/en">Alert</a></li>
<li><a href="/components/drawer/zh">抽屉</a></li>
<li><a href="/components/drawer/en">Drawer</a></li>
<li><a href="/components/message/zh">全局提示</a></li>
<li><a href="/components/message/en">Message</a></li>
<li><a href="/components/modal/zh">对话框</a></li>
<li><a href="/components/modal/en">Modal</a></li>
<li><a href="/components/notification/zh">通知提醒框</a></li>
<li><a href="/components/notification/en">Notification</a></li>
<li><a href="/components/popconfirm/zh">气泡确认框</a></li>
<li><a href="/components/popconfirm/en">Popconfirm</a></li>
<li><a href="/components/progress/zh">进度条</a></li>
<li><a href="/components/progress/en">Progress</a></li>
<li><a href="/components/skeleton/zh">加载占位图</a></li>
<li><a href="/components/skeleton/en">Skeleton</a></li>
<li><a href="/components/spin/zh">加载中</a></li>
<li><a href="/components/spin/en">Spin</a></li></ul></li>,<li><h3>Other</h3><ul><li><a href="/components/anchor/zh">锚点</a></li>
<li><a href="/components/anchor/en">Anchor</a></li>
<li><a href="/components/back-top/zh">回到顶部</a></li>
<li><a href="/components/back-top/en">BackTop</a></li>
<li><a href="/components/divider/zh">分割线</a></li>
<li><a href="/components/divider/en">Divider</a></li></ul></li></ul></nav><main><article><nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
      <nz-link nzHref="#components-select-demo-basic" nzTitle="基本使用"></nz-link><nz-link nzHref="#components-select-demo-size" nzTitle="三种大小"></nz-link><nz-link nzHref="#components-select-demo-search" nzTitle="带搜索框"></nz-link><nz-link nzHref="#components-select-demo-multiple" nzTitle="多选"></nz-link><nz-link nzHref="#components-select-demo-tags" nzTitle="标签"></nz-link><nz-link nzHref="#components-select-demo-optgroup" nzTitle="分组"></nz-link><nz-link nzHref="#components-select-demo-coordinate" nzTitle="联动"></nz-link><nz-link nzHref="#components-select-demo-custom-content" nzTitle="自定义下拉菜单内容"></nz-link><nz-link nzHref="#components-select-demo-label-in-value" nzTitle="获得选项的对象"></nz-link><nz-link nzHref="#components-select-demo-scroll-load" nzTitle="下拉加载"></nz-link><nz-link nzHref="#components-select-demo-select-users" nzTitle="搜索用户"></nz-link>
    </nz-anchor>
  </nz-affix><section class="markdown">
	<h1>Select<span class="subtitle">选择器</span>
	<a class="edit-button" href="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/select/doc/index.zh-CN.md" target="_blank">
		<i nz-icon type="edit"></i></a>
</h1>
	<section class="markdown" ngNonBindable>
		<p>下拉选择器。</p>
<h2 id="何时使用"><span>何时使用</span><a onclick="window.location.hash = '何时使用'" class="anchor">#</a></h2><ul>
<li>弹出一个下拉菜单给用户选择操作，用于代替原生的选择器，或者需要一个更优雅的多选器时。</li>
<li>当选项少时（少于 5 项），建议直接将选项平铺，使用 <a href="/components/radio/zh">Radio</a> 是更好的选择。</li>
</ul>

	</section>
	
	<h2>
		<span>代码演示</span>
		<i nz-icon type="appstore" class="code-box-expand-trigger" title="展开全部代码" (click)="expandAllCode()"></i>
	</h2>
</section><div nz-row [nzGutter]="16">
	<div nz-col [nzLg]="12" [nzMd]="24">
		<nz-code-box nzTitle="基本使用" [nzId]="'components-select-demo-basic'" nzSelector="nz-demo-select-basic" [nzLink]="'components-select-demo-basic'" nzGenerateCommand="ng g ng-zorro-antd:select-basic -p app --name=" nzComponentName="NzDemoSelectBasicComponent" [nzCode]="basic" [nzRawCode]="basicRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/select/demo/basic.md'">
	<nz-demo-select-basic demo></nz-demo-select-basic>
	<div intro ngNonBindable>
		<p>基本使用。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="带搜索框" [nzId]="'components-select-demo-search'" nzSelector="nz-demo-select-search" [nzLink]="'components-select-demo-search'" nzGenerateCommand="ng g ng-zorro-antd:select-search -p app --name=" nzComponentName="NzDemoSelectSearchComponent" [nzCode]="search" [nzRawCode]="searchRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/select/demo/search.md'">
	<nz-demo-select-search demo></nz-demo-select-search>
	<div intro ngNonBindable>
		<p>展开后可对选项进行搜索。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="标签" [nzId]="'components-select-demo-tags'" nzSelector="nz-demo-select-tags" [nzLink]="'components-select-demo-tags'" nzGenerateCommand="ng g ng-zorro-antd:select-tags -p app --name=" nzComponentName="NzDemoSelectTagsComponent" [nzCode]="tags" [nzRawCode]="tagsRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/select/demo/tags.md'">
	<nz-demo-select-tags demo></nz-demo-select-tags>
	<div intro ngNonBindable>
		<p>tags select，随意输入的内容（scroll the menu）</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="联动" [nzId]="'components-select-demo-coordinate'" nzSelector="nz-demo-select-coordinate" [nzLink]="'components-select-demo-coordinate'" nzGenerateCommand="ng g ng-zorro-antd:select-coordinate -p app --name=" nzComponentName="NzDemoSelectCoordinateComponent" [nzCode]="coordinate" [nzRawCode]="coordinateRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/select/demo/coordinate.md'">
	<nz-demo-select-coordinate demo></nz-demo-select-coordinate>
	<div intro ngNonBindable>
		<p>省市联动是典型的例子。</p>
<p>推荐使用 <a href="/components/cascader/zh">Cascader</a> 组件。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="获得选项的对象" [nzId]="'components-select-demo-label-in-value'" nzSelector="nz-demo-select-label-in-value" [nzLink]="'components-select-demo-label-in-value'" nzGenerateCommand="ng g ng-zorro-antd:select-label-in-value -p app --name=" nzComponentName="NzDemoSelectLabelInValueComponent" [nzCode]="labelInValue" [nzRawCode]="labelInValueRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/select/demo/label-in-value.md'">
	<nz-demo-select-label-in-value demo></nz-demo-select-label-in-value>
	<div intro ngNonBindable>
		<p><code>ngModel</code> 取到的值为选中 <code>nz-option</code> 的 <code>nzValue</code> 值，当 <code>nzValue</code> 传入为一个对象时，<code>ngModel</code> 获取的值也是一个对象，<code>compareWith</code> 的用法参见 <a href="https://angular.io/api/forms/SelectControlValueAccessor#caveat-option-selection">这里</a>.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="搜索用户" [nzId]="'components-select-demo-select-users'" nzSelector="nz-demo-select-select-users" [nzLink]="'components-select-demo-select-users'" nzGenerateCommand="ng g ng-zorro-antd:select-select-users -p app --name=" nzComponentName="NzDemoSelectSelectUsersComponent" [nzCode]="selectUsers" [nzRawCode]="selectUsersRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/select/demo/select-users.md'">
	<nz-demo-select-select-users demo></nz-demo-select-select-users>
	<div intro ngNonBindable>
		<p>一个带有远程搜索，节流控制，请求时序控制，加载状态的多选示例。</p>

	</div>
</nz-code-box>

	</div>
	<div nz-col [nzLg]="12" [nzMd]="24">
		<nz-code-box nzTitle="三种大小" [nzId]="'components-select-demo-size'" nzSelector="nz-demo-select-size" [nzLink]="'components-select-demo-size'" nzGenerateCommand="ng g ng-zorro-antd:select-size -p app --name=" nzComponentName="NzDemoSelectSizeComponent" [nzCode]="size" [nzRawCode]="sizeRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/select/demo/size.md'">
	<nz-demo-select-size demo></nz-demo-select-size>
	<div intro ngNonBindable>
		<p>三种大小的选择框，当 <code>nzSize</code> 分别为 <code>large</code> 和 <code>small</code> 时，输入框高度为 <code>40px</code> 和 <code>24px</code> ，默认高度为 <code>32px</code>。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="多选" [nzId]="'components-select-demo-multiple'" nzSelector="nz-demo-select-multiple" [nzLink]="'components-select-demo-multiple'" nzGenerateCommand="ng g ng-zorro-antd:select-multiple -p app --name=" nzComponentName="NzDemoSelectMultipleComponent" [nzCode]="multiple" [nzRawCode]="multipleRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/select/demo/multiple.md'">
	<nz-demo-select-multiple demo></nz-demo-select-multiple>
	<div intro ngNonBindable>
		<p>多选，从已有条目中选择，例子中通过 <code>nzMaxMultipleCount</code> 限制了最多选择3个选项。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="分组" [nzId]="'components-select-demo-optgroup'" nzSelector="nz-demo-select-optgroup" [nzLink]="'components-select-demo-optgroup'" nzGenerateCommand="ng g ng-zorro-antd:select-optgroup -p app --name=" nzComponentName="NzDemoSelectOptgroupComponent" [nzCode]="optgroup" [nzRawCode]="optgroupRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/select/demo/optgroup.md'">
	<nz-demo-select-optgroup demo></nz-demo-select-optgroup>
	<div intro ngNonBindable>
		<p>用 <code>nz-option-group</code> 进行选项分组。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="自定义下拉菜单内容" [nzId]="'components-select-demo-custom-content'" nzSelector="nz-demo-select-custom-content" [nzLink]="'components-select-demo-custom-content'" nzGenerateCommand="ng g ng-zorro-antd:select-custom-content -p app --name=" nzComponentName="NzDemoSelectCustomContentComponent" [nzCode]="customContent" [nzRawCode]="customContentRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/select/demo/custom-content.md'">
	<nz-demo-select-custom-content demo></nz-demo-select-custom-content>
	<div intro ngNonBindable>
		<p>通过 <code>nzCustomContent</code> 自定义 nz-option 显示的内容。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="下拉加载" [nzId]="'components-select-demo-scroll-load'" nzSelector="nz-demo-select-scroll-load" [nzLink]="'components-select-demo-scroll-load'" nzGenerateCommand="ng g ng-zorro-antd:select-scroll-load -p app --name=" nzComponentName="NzDemoSelectScrollLoadComponent" [nzCode]="scrollLoad" [nzRawCode]="scrollLoadRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/select/demo/scroll-load.md'">
	<nz-demo-select-scroll-load demo></nz-demo-select-scroll-load>
	<div intro ngNonBindable>
		<p>一个带有下拉加载远程数据的例子。</p>

	</div>
</nz-code-box>

	</div>
</div>
<section class="markdown api-container" ngNonBindable><h2 id="api"><span>API</span><a onclick="window.location.hash = 'api'" class="anchor">#</a></h2><pre><code class="lang-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nz-select</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nz-option</span> <span class="token attr-name">nzValue</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>lucy<span class="token punctuation">"</span></span> <span class="token attr-name">nzLabel</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Lucy<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nz-option</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nz-select</span><span class="token punctuation">></span></span>
</code></pre>
<h3 id="nz-select"><span>nz-select</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-select'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[ngModel]</code></td>
<td>当前选中的 nz-option 的 nzValue 值，可双向绑定，当 <code>nzMode</code> 为 <code>multiple</code> 或 <code>tags</code> 时，ngModel 为数组</td>
<td><code>any 丨 any[]</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[compareWith]</code></td>
<td>与 <a href="https://angular.io/api/forms/SelectControlValueAccessor#caveat-option-selection">SelectControlValueAccessor</a> 相同</td>
<td>(o1: any, o2: any) =&gt; boolean</td>
<td>(o1: any, o2: any) =&gt; o1===o2</td>
</tr>
<tr>
<td><code>[nzAllowClear]</code></td>
<td>支持清除</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzOpen]</code></td>
<td>下拉菜单是否打开，可双向绑定</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzAutoFocus]</code></td>
<td>默认获取焦点</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzDisabled]</code></td>
<td>是否禁用</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzDropdownClassName]</code></td>
<td>下拉菜单的 className 属性</td>
<td>string</td>
<td>-</td>
</tr>
<tr>
<td><code>[nzDropdownMatchSelectWidth]</code></td>
<td>下拉菜单和选择器同宽</td>
<td>boolean</td>
<td>true</td>
</tr>
<tr>
<td><code>[nzDropdownStyle]</code></td>
<td>下拉菜单的 style 属性</td>
<td>object</td>
<td>-</td>
</tr>
<tr>
<td><code>[nzServerSearch]</code></td>
<td>是否使用服务端搜索，当为 true 时，将不再在前端对 nz-option 进行过滤</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzFilterOption]</code></td>
<td>是否根据输入项进行筛选。当其为一个函数时，会接收 <code>inputValue</code> <code>option</code> 两个参数，当 <code>option</code> 符合筛选条件时，应返回 <code>true</code>，反之则返回 <code>false</code>。</td>
<td><code>(input?: string, option?: NzOptionComponent) =&gt; boolean;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzMaxMultipleCount]</code></td>
<td>最多选中多少个标签</td>
<td>number</td>
<td>Infinity</td>
</tr>
<tr>
<td><code>[nzMode]</code></td>
<td>设置 nz-select 的模式</td>
<td>&#39;multiple&#39; 丨 &#39;tags&#39; 丨 &#39;default&#39;</td>
<td>&#39;default&#39;</td>
</tr>
<tr>
<td><code>[nzNotFoundContent]</code></td>
<td>当下拉列表为空时显示的内容</td>
<td>string</td>
<td>-</td>
</tr>
<tr>
<td><code>[nzPlaceHolder]</code></td>
<td>选择框默认文字</td>
<td>string</td>
<td>-</td>
</tr>
<tr>
<td><code>[nzShowSearch]</code></td>
<td>使单选模式可搜索</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzSize]</code></td>
<td>选择框大小，可选 <code>large</code> <code>small</code></td>
<td>string</td>
<td>default</td>
</tr>
<tr>
<td><code>(ngModelChange)</code></td>
<td>选中的 nz-option 发生变化时，调用此函数</td>
<td><code>EventEmitter&lt;any[]&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>(nzOpenChange)</code></td>
<td>下拉菜单打开状态变化回调</td>
<td><code>EventEmitter&lt;boolean&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>(nzScrollToBottom)</code></td>
<td>下拉列表滚动到底部的回调</td>
<td><code>EventEmitter&lt;void&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>(nzOnSearch)</code></td>
<td>文本框值变化时回调</td>
<td><code>EventEmitter&lt;string&gt;</code></td>
<td>-</td>
</tr>
</tbody>
</table>
<h3 id="nz-option"><span>nz-option</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-option'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[nzDisabled]</code></td>
<td>是否禁用</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzLabel]</code></td>
<td>选中该 nz-option 后，nz-select 中显示的文字</td>
<td>string</td>
<td>-</td>
</tr>
<tr>
<td><code>[nzValue]</code></td>
<td>nz-select 中 ngModel 的值</td>
<td>any</td>
<td>-</td>
</tr>
<tr>
<td><code>[nzCustomContent]</code></td>
<td>是否自定义在下拉菜单中的Template内容，当为 true 时，nz-option 包裹的内容将直接渲染在下拉菜单中</td>
<td>boolean</td>
<td>false</td>
</tr>
</tbody>
</table>
<h3 id="nz-option-group"><span>nz-option-group</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-option-group'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[nzLabel]</code></td>
<td>组名</td>
<td>string丨<code>TemplateRef&lt;void&gt;</code></td>
<td>-</td>
</tr>
</tbody>
</table>
<h2 id="方法"><span>方法</span><a onclick="window.location.hash = '方法'" class="anchor">#</a></h2><h3 id="nz-select"><span>nz-select</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-select'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>名称</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>blur()</td>
<td>取消焦点</td>
</tr>
<tr>
<td>focus()</td>
<td>获取焦点</td>
</tr>
</tbody>
</table>
</section></article></main>
    <script type="text/javascript">
      // Single Page Apps for GitHub Pages
      // https://github.com/rafrex/spa-github-pages
      // Copyright (c) 2016 Rafael Pedicini, licensed under the MIT License
      // ----------------------------------------------------------------------
      // This script checks to see if a redirect is present in the query string
      // and converts it back into the correct url and adds it to the
      // browser's history using window.history.replaceState(...),
      // which won't cause the browser to attempt to load the new url.
      // When the single page app is loaded further down in this file,
      // the correct url will be waiting in the browser's history for
      // the single page app to route accordingly.
      (function(l) {
        if (l.search) {
          var q = {};
          l.search.slice(1).split('&').forEach(function(v) {
            var a = v.split('=');
            q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
          });
          if (q.p !== undefined) {
            window.history.replaceState(null, null,
              l.pathname.slice(0, -1) + (q.p || '') +
              (q.q ? ('?' + q.q) : '') +
              l.hash
            );
          }
        }
      }(window.location))
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52892298-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-52892298-2');
    </script>
  <script type="text/javascript" src="runtime.3b80d31845c016626f6e.js"></script><script type="text/javascript" src="polyfills.123964adf0983bf3e4a6.js"></script><script type="text/javascript" src="scripts.03e042f1f102bf0e2ed8.js"></script><script type="text/javascript" src="main.7e111ff5ba3e8cf76293.js"></script></body>
</html>
