<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tabs - NG-ZORRO - Ant Design Of Angular</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
    <!-- Hotjar Tracking Code for ng.ant.design -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:792689,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
  <link rel="stylesheet" href="styles.ba7484eafc88ea9e5128.css"></head>
  <body>
    <nav><ul><li><a href="/docs/introduce/zh">Ant Design of Angular</a></li>
<li><a href="/docs/introduce/en">Ant Design of Angular</a></li>
<li><a href="/docs/getting-started/zh">快速上手</a></li>
<li><a href="/docs/getting-started/en">Getting Started</a></li>
<li><a href="/docs/schematics/en">Schematics</a></li>
<li><a href="/docs/schematics/zh">脚手架</a></li>
<li><a href="/docs/i18n/en">Internationalization</a></li>
<li><a href="/docs/i18n/zh">国际化</a></li>
<li><a href="/docs/customize-theme/en">Customize Theme</a></li>
<li><a href="/docs/customize-theme/zh">定制主题</a></li>
<li><a href="/docs/recommendation/zh">社区推荐</a></li>
<li><a href="/docs/recommendation/en">Third-Party Libraries</a></li>
<li><a href="/docs/faq/zh">常见问题</a></li>
<li><a href="/docs/faq/en">FAQ</a></li>
<li><a href="/docs/contributing/zh">贡献指南</a></li>
<li><a href="/docs/changelog/zh">更新日志</a></li>
<li><a href="/docs/contributing/en">Contributing to NG-ZORRO</a></li>
<li><a href="/docs/changelog/en">Change Log</a></li></ul><ul><li><h3>General</h3><ul><li><a href="/components/button/zh">按钮</a></li>
<li><a href="/components/button/en">Button</a></li>
<li><a href="/components/icon/zh">图标</a></li>
<li><a href="/components/icon/en">Icon</a></li></ul></li>,<li><h3>Layout</h3><ul><li><a href="/components/grid/zh">栅格</a></li>
<li><a href="/components/grid/en">Grid</a></li>
<li><a href="/components/layout/zh">布局</a></li>
<li><a href="/components/layout/en">Layout</a></li></ul></li>,<li><h3>Navigation</h3><ul><li><a href="/components/affix/zh">固钉</a></li>
<li><a href="/components/affix/en">Affix</a></li>
<li><a href="/components/breadcrumb/zh">面包屑</a></li>
<li><a href="/components/breadcrumb/en">Breadcrumb</a></li>
<li><a href="/components/dropdown/zh">下拉菜单</a></li>
<li><a href="/components/dropdown/en">Dropdown</a></li>
<li><a href="/components/menu/zh">导航菜单</a></li>
<li><a href="/components/menu/en">Menu</a></li>
<li><a href="/components/pagination/zh">分页</a></li>
<li><a href="/components/pagination/en">Pagination</a></li>
<li><a href="/components/steps/zh">步骤条</a></li>
<li><a href="/components/steps/en">Steps</a></li></ul></li>,<li><h3>Data Entry</h3><ul><li><a href="/components/auto-complete/zh">自动完成</a></li>
<li><a href="/components/auto-complete/en">Autocomplete</a></li>
<li><a href="/components/cascader/zh">级联选择</a></li>
<li><a href="/components/cascader/en">Cascader</a></li>
<li><a href="/components/checkbox/zh">多选框</a></li>
<li><a href="/components/checkbox/en">Checkbox</a></li>
<li><a href="/components/date-picker/zh">日期选择框</a></li>
<li><a href="/components/date-picker/en">DatePicker</a></li>
<li><a href="/components/form/zh">表单</a></li>
<li><a href="/components/form/en">Form</a></li>
<li><a href="/components/input/zh">输入框</a></li>
<li><a href="/components/input/en">Input</a></li>
<li><a href="/components/input-number/zh">数字输入框</a></li>
<li><a href="/components/input-number/en">InputNumber</a></li>
<li><a href="/components/mention/zh">提及</a></li>
<li><a href="/components/mention/en">Mention</a></li>
<li><a href="/components/radio/zh">单选框</a></li>
<li><a href="/components/radio/en">Radio</a></li>
<li><a href="/components/rate/zh">评分</a></li>
<li><a href="/components/rate/en">Rate</a></li>
<li><a href="/components/select/zh">选择器</a></li>
<li><a href="/components/select/en">Select</a></li>
<li><a href="/components/slider/zh">滑动输入条</a></li>
<li><a href="/components/slider/en">Slider</a></li>
<li><a href="/components/switch/zh">开关</a></li>
<li><a href="/components/switch/en">Switch</a></li>
<li><a href="/components/time-picker/zh">时间选择框</a></li>
<li><a href="/components/time-picker/en">TimePicker</a></li>
<li><a href="/components/transfer/zh">穿梭框</a></li>
<li><a href="/components/transfer/en">Transfer</a></li>
<li><a href="/components/tree-select/zh">树选择</a></li>
<li><a href="/components/tree-select/en">TreeSelect</a></li>
<li><a href="/components/upload/zh">上传</a></li>
<li><a href="/components/upload/en">Upload</a></li></ul></li>,<li><h3>Data Display</h3><ul><li><a href="/components/avatar/zh">头像</a></li>
<li><a href="/components/avatar/en">Avatar</a></li>
<li><a href="/components/badge/zh">徽标数</a></li>
<li><a href="/components/badge/en">Badge</a></li>
<li><a href="/components/calendar/zh">日历</a></li>
<li><a href="/components/calendar/en">Calendar</a></li>
<li><a href="/components/card/zh">卡片</a></li>
<li><a href="/components/card/en">Card</a></li>
<li><a href="/components/carousel/zh">走马灯</a></li>
<li><a href="/components/carousel/en">Carousel</a></li>
<li><a href="/components/collapse/zh">折叠面板</a></li>
<li><a href="/components/collapse/en">Collapse</a></li>
<li><a href="/components/list/zh">列表</a></li>
<li><a href="/components/list/en">List</a></li>
<li><a href="/components/popover/zh">气泡卡片</a></li>
<li><a href="/components/popover/en">Popover</a></li>
<li><a href="/components/table/zh">表格</a></li>
<li><a href="/components/table/en">Table</a></li>
<li><a href="/components/tabs/zh">标签页</a></li>
<li><a href="/components/tabs/en">Tabs</a></li>
<li><a href="/components/tag/zh">标签</a></li>
<li><a href="/components/tag/en">Tag</a></li>
<li><a href="/components/timeline/zh">时间轴</a></li>
<li><a href="/components/timeline/en">Timeline</a></li>
<li><a href="/components/tooltip/zh">文字提示</a></li>
<li><a href="/components/tooltip/en">Tooltip</a></li>
<li><a href="/components/tree/zh">树形控件</a></li>
<li><a href="/components/tree/en">Tree</a></li></ul></li>,<li><h3>Feedback</h3><ul><li><a href="/components/alert/zh">警告提示</a></li>
<li><a href="/components/alert/en">Alert</a></li>
<li><a href="/components/drawer/zh">抽屉</a></li>
<li><a href="/components/drawer/en">Drawer</a></li>
<li><a href="/components/message/zh">全局提示</a></li>
<li><a href="/components/message/en">Message</a></li>
<li><a href="/components/modal/zh">对话框</a></li>
<li><a href="/components/modal/en">Modal</a></li>
<li><a href="/components/notification/zh">通知提醒框</a></li>
<li><a href="/components/notification/en">Notification</a></li>
<li><a href="/components/popconfirm/zh">气泡确认框</a></li>
<li><a href="/components/popconfirm/en">Popconfirm</a></li>
<li><a href="/components/progress/zh">进度条</a></li>
<li><a href="/components/progress/en">Progress</a></li>
<li><a href="/components/skeleton/zh">加载占位图</a></li>
<li><a href="/components/skeleton/en">Skeleton</a></li>
<li><a href="/components/spin/zh">加载中</a></li>
<li><a href="/components/spin/en">Spin</a></li></ul></li>,<li><h3>Other</h3><ul><li><a href="/components/anchor/zh">锚点</a></li>
<li><a href="/components/anchor/en">Anchor</a></li>
<li><a href="/components/back-top/zh">回到顶部</a></li>
<li><a href="/components/back-top/en">BackTop</a></li>
<li><a href="/components/divider/zh">分割线</a></li>
<li><a href="/components/divider/en">Divider</a></li></ul></li></ul></nav><main><article><nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
      <nz-link nzHref="#components-tabs-demo-basic" nzTitle="Basic"></nz-link><nz-link nzHref="#components-tabs-demo-disabled" nzTitle="Disabled"></nz-link><nz-link nzHref="#components-tabs-demo-icon" nzTitle="Icon"></nz-link><nz-link nzHref="#components-tabs-demo-slide" nzTitle="Slide"></nz-link><nz-link nzHref="#components-tabs-demo-extra" nzTitle="Extra content"></nz-link><nz-link nzHref="#components-tabs-demo-size" nzTitle="Size"></nz-link><nz-link nzHref="#components-tabs-demo-position" nzTitle="Position"></nz-link><nz-link nzHref="#components-tabs-demo-card" nzTitle="Card type tab"></nz-link><nz-link nzHref="#components-tabs-demo-editable-card" nzTitle="Add & close tab"></nz-link><nz-link nzHref="#components-tabs-demo-card-top" nzTitle="Container of card type Tab"></nz-link><nz-link nzHref="#components-tabs-demo-custom-add-trigger" nzTitle="Customized trigger of new tab"></nz-link>
    </nz-anchor>
  </nz-affix><section class="markdown">
	<h1>Tabs<span class="subtitle"></span>
	<a class="edit-button" href="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tabs/doc/index.en-US.md" target="_blank">
		<i nz-icon type="edit"></i></a>
</h1>
	<section class="markdown" ngNonBindable>
		<p>Tabs make it easy to switch between different views.</p>
<h3 id="when-to-use"><span>When To Use</span><a onclick="window.location.hash = 'when-to-use'" class="anchor">#</a></h3><p>Ant Design has 3 types of Tabs for different situations.</p>
<ul>
<li>Card Tabs: for managing too many closeable views.</li>
<li>Normal Tabs: for functional aspects of a page.</li>
<li><a href="/components/radio/en/#components-radio-demo-radiobutton">RadioButton</a>: for secondary tabs.</li>
</ul>

	</section>
	
	<h2>
		<span>Examples</span>
		<i nz-icon type="appstore" class="code-box-expand-trigger" title="expand all code" (click)="expandAllCode()"></i>
	</h2>
</section><div nz-row [nzGutter]="8">
	<div nz-col [nzSpan]="24">
		<nz-code-box nzTitle="Basic" [nzId]="'components-tabs-demo-basic'" nzSelector="nz-demo-tabs-basic" [nzLink]="'components-tabs-demo-basic'" nzGenerateCommand="ng g ng-zorro-antd:tabs-basic -p app --name=" nzComponentName="NzDemoTabsBasicComponent" [nzCode]="basic" [nzRawCode]="basicRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tabs/demo/basic.md'">
	<nz-demo-tabs-basic demo></nz-demo-tabs-basic>
	<div intro ngNonBindable>
		<p>Default activate first tab.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Disabled" [nzId]="'components-tabs-demo-disabled'" nzSelector="nz-demo-tabs-disabled" [nzLink]="'components-tabs-demo-disabled'" nzGenerateCommand="ng g ng-zorro-antd:tabs-disabled -p app --name=" nzComponentName="NzDemoTabsDisabledComponent" [nzCode]="disabled" [nzRawCode]="disabledRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tabs/demo/disabled.md'">
	<nz-demo-tabs-disabled demo></nz-demo-tabs-disabled>
	<div intro ngNonBindable>
		<p>Disabled a tab.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Icon" [nzId]="'components-tabs-demo-icon'" nzSelector="nz-demo-tabs-icon" [nzLink]="'components-tabs-demo-icon'" nzGenerateCommand="ng g ng-zorro-antd:tabs-icon -p app --name=" nzComponentName="NzDemoTabsIconComponent" [nzCode]="icon" [nzRawCode]="iconRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tabs/demo/icon.md'">
	<nz-demo-tabs-icon demo></nz-demo-tabs-icon>
	<div intro ngNonBindable>
		<p>The Tab with Icon.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Slide" [nzId]="'components-tabs-demo-slide'" nzSelector="nz-demo-tabs-slide" [nzLink]="'components-tabs-demo-slide'" nzGenerateCommand="ng g ng-zorro-antd:tabs-slide -p app --name=" nzComponentName="NzDemoTabsSlideComponent" [nzCode]="slide" [nzRawCode]="slideRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tabs/demo/slide.md'">
	<nz-demo-tabs-slide demo></nz-demo-tabs-slide>
	<div intro ngNonBindable>
		<p>Tab can be slide to left or right(up or down), which is used for a lot of tabs.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Extra content" [nzId]="'components-tabs-demo-extra'" nzSelector="nz-demo-tabs-extra" [nzLink]="'components-tabs-demo-extra'" nzGenerateCommand="ng g ng-zorro-antd:tabs-extra -p app --name=" nzComponentName="NzDemoTabsExtraComponent" [nzCode]="extra" [nzRawCode]="extraRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tabs/demo/extra.md'">
	<nz-demo-tabs-extra demo></nz-demo-tabs-extra>
	<div intro ngNonBindable>
		<p>You can add extra actions to the right of Tabs.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Size" [nzId]="'components-tabs-demo-size'" nzSelector="nz-demo-tabs-size" [nzLink]="'components-tabs-demo-size'" nzGenerateCommand="ng g ng-zorro-antd:tabs-size -p app --name=" nzComponentName="NzDemoTabsSizeComponent" [nzCode]="size" [nzRawCode]="sizeRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tabs/demo/size.md'">
	<nz-demo-tabs-size demo></nz-demo-tabs-size>
	<div intro ngNonBindable>
		<p>Large size tabs are usally used in page header, and small size could be used in Modal.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Position" [nzId]="'components-tabs-demo-position'" nzSelector="nz-demo-tabs-position" [nzLink]="'components-tabs-demo-position'" nzGenerateCommand="ng g ng-zorro-antd:tabs-position -p app --name=" nzComponentName="NzDemoTabsPositionComponent" [nzCode]="position" [nzRawCode]="positionRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tabs/demo/position.md'">
	<nz-demo-tabs-position demo></nz-demo-tabs-position>
	<div intro ngNonBindable>
		<p>Tab&#39;s position: left, right, top or bottom.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Card type tab" [nzId]="'components-tabs-demo-card'" nzSelector="nz-demo-tabs-card" [nzLink]="'components-tabs-demo-card'" nzGenerateCommand="ng g ng-zorro-antd:tabs-card -p app --name=" nzComponentName="NzDemoTabsCardComponent" [nzCode]="card" [nzRawCode]="cardRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tabs/demo/card.md'">
	<nz-demo-tabs-card demo></nz-demo-tabs-card>
	<div intro ngNonBindable>
		<p>Another type Tabs, which doesn&#39;t support vertical mode.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Add & close tab" [nzId]="'components-tabs-demo-editable-card'" nzSelector="nz-demo-tabs-editable-card" [nzLink]="'components-tabs-demo-editable-card'" nzGenerateCommand="ng g ng-zorro-antd:tabs-editable-card -p app --name=" nzComponentName="NzDemoTabsEditableCardComponent" [nzCode]="editableCard" [nzRawCode]="editableCardRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tabs/demo/editable-card.md'">
	<nz-demo-tabs-editable-card demo></nz-demo-tabs-editable-card>
	<div intro ngNonBindable>
		<p>Only card type Tabs support adding &amp; closable.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Container of card type Tab" [nzId]="'components-tabs-demo-card-top'" nzSelector="nz-demo-tabs-card-top" [nzLink]="'components-tabs-demo-card-top'" nzGenerateCommand="ng g ng-zorro-antd:tabs-card-top -p app --name=" nzComponentName="NzDemoTabsCardTopComponent" [nzCode]="cardTop" [nzRawCode]="cardTopRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tabs/demo/card-top.md'">
	<nz-demo-tabs-card-top demo></nz-demo-tabs-card-top>
	<div intro ngNonBindable>
		<p>Should be used at the top of container, needs to override styles.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Customized trigger of new tab" [nzId]="'components-tabs-demo-custom-add-trigger'" nzSelector="nz-demo-tabs-custom-add-trigger" [nzLink]="'components-tabs-demo-custom-add-trigger'" nzGenerateCommand="ng g ng-zorro-antd:tabs-custom-add-trigger -p app --name=" nzComponentName="NzDemoTabsCustomAddTriggerComponent" [nzCode]="customAddTrigger" [nzRawCode]="customAddTriggerRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tabs/demo/custom-add-trigger.md'">
	<nz-demo-tabs-custom-add-trigger demo></nz-demo-tabs-custom-add-trigger>
	<div intro ngNonBindable>
		<p>Bind event for customized trigger.</p>

	</div>
</nz-code-box>

	</div>
</div><section class="markdown api-container" ngNonBindable><h2 id="api"><span>API</span><a onclick="window.location.hash = 'api'" class="anchor">#</a></h2><h3 id="nz-tabset"><span>nz-tabset</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-tabset'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[nzSelectedIndex]</code></td>
<td>Current tab&#39;s index</td>
<td>number</td>
<td>-</td>
</tr>
<tr>
<td><code>[nzAnimated]</code></td>
<td>Whether to change tabs with animation. Only works while <code>nzTabPosition=&quot;top&quot;｜&quot;bottom&quot;</code></td>
<td>boolean ｜ &#123;inkBar:boolean, tabPane:boolean&#125;</td>
<td><code>true</code>, <code>false</code> when <code>type=&quot;card&quot;</code></td>
</tr>
<tr>
<td><code>[nzSize]</code></td>
<td>preset tab bar size</td>
<td><code>large</code> ｜ <code>default</code> ｜ <code>small</code></td>
<td><code>default</code></td>
</tr>
<tr>
<td><code>[nzTabBarExtraContent]</code></td>
<td>Extra content in tab bar</td>
<td><code>TemplateRef&lt;void&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzTabBarStyle]</code></td>
<td>Tab bar style object</td>
<td>object</td>
<td>-</td>
</tr>
<tr>
<td><code>[nzTabPosition]</code></td>
<td>Position of tabs</td>
<td><code>top</code> ｜ <code>right</code> ｜ <code>bottom</code> ｜ <code>left</code></td>
<td><code>top</code></td>
</tr>
<tr>
<td><code>[nzType]</code></td>
<td>Basic style of tabs</td>
<td><code>line</code> ｜ <code>card</code></td>
<td><code>line</code></td>
</tr>
<tr>
<td><code>[nzTabBarGutter]</code></td>
<td>The gap between tabs</td>
<td>number</td>
<td>-</td>
</tr>
<tr>
<td><code>[nzHideAll]</code></td>
<td>Whether hide all tabs</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzShowPagination]</code></td>
<td>Whether show pre or next button when exceed display area</td>
<td>boolean</td>
<td>true</td>
</tr>
<tr>
<td><code>(nzSelectedIndexChange)</code></td>
<td>Current tab&#39;s index change callback</td>
<td><code>EventEmitter&lt;number&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>(nzSelectChange)</code></td>
<td>Current tab&#39;s change callback</td>
<td><code>EventEmitter&lt;&#123;nzSelectedIndex: number,tab: NzTabComponent&#125;&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>(nzOnNextClick)</code></td>
<td>Callback executed when next button is clicked</td>
<td><code>EventEmitter&lt;void&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>(nzOnPrevClick)</code></td>
<td>Callback executed when prev button is clicked</td>
<td><code>EventEmitter&lt;void&gt;</code></td>
<td>-</td>
</tr>
</tbody>
</table>
<h3 id="nz-tab"><span>nz-tab</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-tab'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[nzTitle]</code></td>
<td>Show text in tab&#39;s head</td>
<td>string｜<code>TemplateRef&lt;void&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzDisabled]</code></td>
<td>tab disable</td>
<td>boolean</td>
<td>-</td>
</tr>
<tr>
<td><code>(nzClick)</code></td>
<td>title click callback</td>
<td><code>EventEmitter&lt;void&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>(nzSelect)</code></td>
<td>title select callback</td>
<td><code>EventEmitter&lt;void&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>(nzDeselect)</code></td>
<td>title deselect callback</td>
<td><code>EventEmitter&lt;void&gt;</code></td>
<td>-</td>
</tr>
</tbody>
</table>
</section></article></main>
    <script type="text/javascript">
      // Single Page Apps for GitHub Pages
      // https://github.com/rafrex/spa-github-pages
      // Copyright (c) 2016 Rafael Pedicini, licensed under the MIT License
      // ----------------------------------------------------------------------
      // This script checks to see if a redirect is present in the query string
      // and converts it back into the correct url and adds it to the
      // browser's history using window.history.replaceState(...),
      // which won't cause the browser to attempt to load the new url.
      // When the single page app is loaded further down in this file,
      // the correct url will be waiting in the browser's history for
      // the single page app to route accordingly.
      (function(l) {
        if (l.search) {
          var q = {};
          l.search.slice(1).split('&').forEach(function(v) {
            var a = v.split('=');
            q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
          });
          if (q.p !== undefined) {
            window.history.replaceState(null, null,
              l.pathname.slice(0, -1) + (q.p || '') +
              (q.q ? ('?' + q.q) : '') +
              l.hash
            );
          }
        }
      }(window.location))
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52892298-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-52892298-2');
    </script>
  <script type="text/javascript" src="runtime.3b80d31845c016626f6e.js"></script><script type="text/javascript" src="polyfills.123964adf0983bf3e4a6.js"></script><script type="text/javascript" src="scripts.03e042f1f102bf0e2ed8.js"></script><script type="text/javascript" src="main.7e111ff5ba3e8cf76293.js"></script></body>
</html>
