<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pagination - NG-ZORRO - Ant Design Of Angular</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
    <!-- Hotjar Tracking Code for ng.ant.design -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:792689,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
  <link rel="stylesheet" href="styles.ba7484eafc88ea9e5128.css"></head>
  <body>
    <app-root><div style="overflow: hidden;height: 0"><nav><ul><li><a href="/docs/introduce/zh">Ant Design of Angular</a></li>
<li><a href="/docs/introduce/en">Ant Design of Angular</a></li>
<li><a href="/docs/getting-started/zh">快速上手</a></li>
<li><a href="/docs/getting-started/en">Getting Started</a></li>
<li><a href="/docs/schematics/en">Schematics</a></li>
<li><a href="/docs/schematics/zh">脚手架</a></li>
<li><a href="/docs/i18n/en">Internationalization</a></li>
<li><a href="/docs/i18n/zh">国际化</a></li>
<li><a href="/docs/customize-theme/en">Customize Theme</a></li>
<li><a href="/docs/customize-theme/zh">定制主题</a></li>
<li><a href="/docs/recommendation/zh">社区推荐</a></li>
<li><a href="/docs/recommendation/en">Third-Party Libraries</a></li>
<li><a href="/docs/faq/zh">常见问题</a></li>
<li><a href="/docs/faq/en">FAQ</a></li>
<li><a href="/docs/contributing/zh">贡献指南</a></li>
<li><a href="/docs/changelog/zh">更新日志</a></li>
<li><a href="/docs/contributing/en">Contributing to NG-ZORRO</a></li>
<li><a href="/docs/changelog/en">Change Log</a></li></ul><ul><li><h3>General</h3><ul><li><a href="/components/button/zh">按钮</a></li>
<li><a href="/components/button/en">Button</a></li>
<li><a href="/components/icon/zh">图标</a></li>
<li><a href="/components/icon/en">Icon</a></li></ul></li>,<li><h3>Layout</h3><ul><li><a href="/components/grid/zh">栅格</a></li>
<li><a href="/components/grid/en">Grid</a></li>
<li><a href="/components/layout/zh">布局</a></li>
<li><a href="/components/layout/en">Layout</a></li></ul></li>,<li><h3>Navigation</h3><ul><li><a href="/components/affix/zh">固钉</a></li>
<li><a href="/components/affix/en">Affix</a></li>
<li><a href="/components/breadcrumb/zh">面包屑</a></li>
<li><a href="/components/breadcrumb/en">Breadcrumb</a></li>
<li><a href="/components/dropdown/zh">下拉菜单</a></li>
<li><a href="/components/dropdown/en">Dropdown</a></li>
<li><a href="/components/menu/zh">导航菜单</a></li>
<li><a href="/components/menu/en">Menu</a></li>
<li><a href="/components/pagination/zh">分页</a></li>
<li><a href="/components/pagination/en">Pagination</a></li>
<li><a href="/components/steps/zh">步骤条</a></li>
<li><a href="/components/steps/en">Steps</a></li></ul></li>,<li><h3>Data Entry</h3><ul><li><a href="/components/auto-complete/zh">自动完成</a></li>
<li><a href="/components/auto-complete/en">Autocomplete</a></li>
<li><a href="/components/cascader/zh">级联选择</a></li>
<li><a href="/components/cascader/en">Cascader</a></li>
<li><a href="/components/checkbox/zh">多选框</a></li>
<li><a href="/components/checkbox/en">Checkbox</a></li>
<li><a href="/components/date-picker/zh">日期选择框</a></li>
<li><a href="/components/date-picker/en">DatePicker</a></li>
<li><a href="/components/form/zh">表单</a></li>
<li><a href="/components/form/en">Form</a></li>
<li><a href="/components/input/zh">输入框</a></li>
<li><a href="/components/input/en">Input</a></li>
<li><a href="/components/input-number/zh">数字输入框</a></li>
<li><a href="/components/input-number/en">InputNumber</a></li>
<li><a href="/components/mention/zh">提及</a></li>
<li><a href="/components/mention/en">Mention</a></li>
<li><a href="/components/radio/zh">单选框</a></li>
<li><a href="/components/radio/en">Radio</a></li>
<li><a href="/components/rate/zh">评分</a></li>
<li><a href="/components/rate/en">Rate</a></li>
<li><a href="/components/select/zh">选择器</a></li>
<li><a href="/components/select/en">Select</a></li>
<li><a href="/components/slider/zh">滑动输入条</a></li>
<li><a href="/components/slider/en">Slider</a></li>
<li><a href="/components/switch/zh">开关</a></li>
<li><a href="/components/switch/en">Switch</a></li>
<li><a href="/components/time-picker/zh">时间选择框</a></li>
<li><a href="/components/time-picker/en">TimePicker</a></li>
<li><a href="/components/transfer/zh">穿梭框</a></li>
<li><a href="/components/transfer/en">Transfer</a></li>
<li><a href="/components/tree-select/zh">树选择</a></li>
<li><a href="/components/tree-select/en">TreeSelect</a></li>
<li><a href="/components/upload/zh">上传</a></li>
<li><a href="/components/upload/en">Upload</a></li></ul></li>,<li><h3>Data Display</h3><ul><li><a href="/components/avatar/zh">头像</a></li>
<li><a href="/components/avatar/en">Avatar</a></li>
<li><a href="/components/badge/zh">徽标数</a></li>
<li><a href="/components/badge/en">Badge</a></li>
<li><a href="/components/calendar/zh">日历</a></li>
<li><a href="/components/calendar/en">Calendar</a></li>
<li><a href="/components/card/zh">卡片</a></li>
<li><a href="/components/card/en">Card</a></li>
<li><a href="/components/carousel/zh">走马灯</a></li>
<li><a href="/components/carousel/en">Carousel</a></li>
<li><a href="/components/collapse/zh">折叠面板</a></li>
<li><a href="/components/collapse/en">Collapse</a></li>
<li><a href="/components/list/zh">列表</a></li>
<li><a href="/components/list/en">List</a></li>
<li><a href="/components/popover/zh">气泡卡片</a></li>
<li><a href="/components/popover/en">Popover</a></li>
<li><a href="/components/table/zh">表格</a></li>
<li><a href="/components/table/en">Table</a></li>
<li><a href="/components/tabs/zh">标签页</a></li>
<li><a href="/components/tabs/en">Tabs</a></li>
<li><a href="/components/tag/zh">标签</a></li>
<li><a href="/components/tag/en">Tag</a></li>
<li><a href="/components/timeline/zh">时间轴</a></li>
<li><a href="/components/timeline/en">Timeline</a></li>
<li><a href="/components/tooltip/zh">文字提示</a></li>
<li><a href="/components/tooltip/en">Tooltip</a></li>
<li><a href="/components/tree/zh">树形控件</a></li>
<li><a href="/components/tree/en">Tree</a></li></ul></li>,<li><h3>Feedback</h3><ul><li><a href="/components/alert/zh">警告提示</a></li>
<li><a href="/components/alert/en">Alert</a></li>
<li><a href="/components/drawer/zh">抽屉</a></li>
<li><a href="/components/drawer/en">Drawer</a></li>
<li><a href="/components/message/zh">全局提示</a></li>
<li><a href="/components/message/en">Message</a></li>
<li><a href="/components/modal/zh">对话框</a></li>
<li><a href="/components/modal/en">Modal</a></li>
<li><a href="/components/notification/zh">通知提醒框</a></li>
<li><a href="/components/notification/en">Notification</a></li>
<li><a href="/components/popconfirm/zh">气泡确认框</a></li>
<li><a href="/components/popconfirm/en">Popconfirm</a></li>
<li><a href="/components/progress/zh">进度条</a></li>
<li><a href="/components/progress/en">Progress</a></li>
<li><a href="/components/skeleton/zh">加载占位图</a></li>
<li><a href="/components/skeleton/en">Skeleton</a></li>
<li><a href="/components/spin/zh">加载中</a></li>
<li><a href="/components/spin/en">Spin</a></li></ul></li>,<li><h3>Other</h3><ul><li><a href="/components/anchor/zh">锚点</a></li>
<li><a href="/components/anchor/en">Anchor</a></li>
<li><a href="/components/back-top/zh">回到顶部</a></li>
<li><a href="/components/back-top/en">BackTop</a></li>
<li><a href="/components/divider/zh">分割线</a></li>
<li><a href="/components/divider/en">Divider</a></li></ul></li></ul></nav><main><article><nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
      <nz-link nzHref="#components-pagination-demo-basic" nzTitle="Basic"></nz-link><nz-link nzHref="#components-pagination-demo-more" nzTitle="More"></nz-link><nz-link nzHref="#components-pagination-demo-changer" nzTitle="Changer"></nz-link><nz-link nzHref="#components-pagination-demo-jump" nzTitle="Jumper"></nz-link><nz-link nzHref="#components-pagination-demo-mini" nzTitle="Mini size"></nz-link><nz-link nzHref="#components-pagination-demo-simple" nzTitle="Simple mode"></nz-link><nz-link nzHref="#components-pagination-demo-controlled" nzTitle="Page Index"></nz-link><nz-link nzHref="#components-pagination-demo-total" nzTitle="Total number"></nz-link><nz-link nzHref="#components-pagination-demo-itemRender" nzTitle="Prev and next"></nz-link>
    </nz-anchor>
  </nz-affix><section class="markdown">
	<h1>Pagination<span class="subtitle"></span>
	<a class="edit-button" href="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/pagination/doc/index.en-US.md" target="_blank">
		<i nz-icon type="edit"></i></a>
</h1>
	<section class="markdown" ngNonBindable>
		<p>A long list can be divided into several pages by <code>Pagination</code>, and only one page will be loaded at a time.</p>
<h2 id="when-to-use"><span>When To Use</span><a onclick="window.location.hash = 'when-to-use'" class="anchor">#</a></h2><ul>
<li>When it will take a long time to load/render all items.</li>
<li>If you want to browse the data by navigating through pages.</li>
</ul>

	</section>
	
	<h2>
		<span>Examples</span>
		<i nz-icon type="appstore" class="code-box-expand-trigger" title="expand all code" (click)="expandAllCode()"></i>
	</h2>
</section><div nz-row [nzGutter]="8">
	<div nz-col [nzSpan]="24">
		<nz-code-box nzTitle="Basic" [nzId]="'components-pagination-demo-basic'" nzSelector="nz-demo-pagination-basic" [nzLink]="'components-pagination-demo-basic'" nzGenerateCommand="ng g ng-zorro-antd:pagination-basic -p app --name=" nzComponentName="NzDemoPaginationBasicComponent" [nzCode]="basic" [nzRawCode]="basicRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/pagination/demo/basic.md'">
	<nz-demo-pagination-basic demo></nz-demo-pagination-basic>
	<div intro ngNonBindable>
		<p>Basic pagination.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="More" [nzId]="'components-pagination-demo-more'" nzSelector="nz-demo-pagination-more" [nzLink]="'components-pagination-demo-more'" nzGenerateCommand="ng g ng-zorro-antd:pagination-more -p app --name=" nzComponentName="NzDemoPaginationMoreComponent" [nzCode]="more" [nzRawCode]="moreRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/pagination/demo/more.md'">
	<nz-demo-pagination-more demo></nz-demo-pagination-more>
	<div intro ngNonBindable>
		<p>More pages.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Changer" [nzId]="'components-pagination-demo-changer'" nzSelector="nz-demo-pagination-changer" [nzLink]="'components-pagination-demo-changer'" nzGenerateCommand="ng g ng-zorro-antd:pagination-changer -p app --name=" nzComponentName="NzDemoPaginationChangerComponent" [nzCode]="changer" [nzRawCode]="changerRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/pagination/demo/changer.md'">
	<nz-demo-pagination-changer demo></nz-demo-pagination-changer>
	<div intro ngNonBindable>
		<p>Change <code>nzPageSize</code>.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Jumper" [nzId]="'components-pagination-demo-jump'" nzSelector="nz-demo-pagination-jump" [nzLink]="'components-pagination-demo-jump'" nzGenerateCommand="ng g ng-zorro-antd:pagination-jump -p app --name=" nzComponentName="NzDemoPaginationJumpComponent" [nzCode]="jump" [nzRawCode]="jumpRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/pagination/demo/jump.md'">
	<nz-demo-pagination-jump demo></nz-demo-pagination-jump>
	<div intro ngNonBindable>
		<p>Jump to a page directly.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Mini size" [nzId]="'components-pagination-demo-mini'" nzSelector="nz-demo-pagination-mini" [nzLink]="'components-pagination-demo-mini'" nzGenerateCommand="ng g ng-zorro-antd:pagination-mini -p app --name=" nzComponentName="NzDemoPaginationMiniComponent" [nzCode]="mini" [nzRawCode]="miniRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/pagination/demo/mini.md'">
	<nz-demo-pagination-mini demo></nz-demo-pagination-mini>
	<div intro ngNonBindable>
		<p>Mini size pagination.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Simple mode" [nzId]="'components-pagination-demo-simple'" nzSelector="nz-demo-pagination-simple" [nzLink]="'components-pagination-demo-simple'" nzGenerateCommand="ng g ng-zorro-antd:pagination-simple -p app --name=" nzComponentName="NzDemoPaginationSimpleComponent" [nzCode]="simple" [nzRawCode]="simpleRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/pagination/demo/simple.md'">
	<nz-demo-pagination-simple demo></nz-demo-pagination-simple>
	<div intro ngNonBindable>
		<p>Simple mode.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Page Index" [nzId]="'components-pagination-demo-controlled'" nzSelector="nz-demo-pagination-controlled" [nzLink]="'components-pagination-demo-controlled'" nzGenerateCommand="ng g ng-zorro-antd:pagination-controlled -p app --name=" nzComponentName="NzDemoPaginationControlledComponent" [nzCode]="controlled" [nzRawCode]="controlledRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/pagination/demo/controlled.md'">
	<nz-demo-pagination-controlled demo></nz-demo-pagination-controlled>
	<div intro ngNonBindable>
		<p>Change page index number.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Total number" [nzId]="'components-pagination-demo-total'" nzSelector="nz-demo-pagination-total" [nzLink]="'components-pagination-demo-total'" nzGenerateCommand="ng g ng-zorro-antd:pagination-total -p app --name=" nzComponentName="NzDemoPaginationTotalComponent" [nzCode]="total" [nzRawCode]="totalRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/pagination/demo/total.md'">
	<nz-demo-pagination-total demo></nz-demo-pagination-total>
	<div intro ngNonBindable>
		<p>You can show the total number of data by setting <code>nzShowTotal</code>.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Prev and next" [nzId]="'components-pagination-demo-itemRender'" nzSelector="nz-demo-pagination-itemRender" [nzLink]="'components-pagination-demo-itemRender'" nzGenerateCommand="ng g ng-zorro-antd:pagination-itemRender -p app --name=" nzComponentName="NzDemoPaginationItemRenderComponent" [nzCode]="itemRender" [nzRawCode]="itemRenderRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/pagination/demo/itemRender.md'">
	<nz-demo-pagination-itemRender demo></nz-demo-pagination-itemRender>
	<div intro ngNonBindable>
		<p>Use text link for prev and next button.</p>

	</div>
</nz-code-box>

	</div>
</div><section class="markdown api-container" ngNonBindable><h2 id="api"><span>API</span><a onclick="window.location.hash = 'api'" class="anchor">#</a></h2><pre><code class="lang-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nz-pagination</span> <span class="token attr-name">[nzPageIndex]</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>1<span class="token punctuation">"</span></span> <span class="token attr-name">[nzTotal]</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>50<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nz-pagination</span><span class="token punctuation">></span></span>
</code></pre>
<h3 id="nz-pagination"><span>nz-pagination</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-pagination'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[nzTotal]</code></td>
<td>total number of data items</td>
<td>number</td>
<td>0</td>
</tr>
<tr>
<td><code>[nzPageIndex]</code></td>
<td>current page number，double binding</td>
<td>number</td>
<td>1</td>
</tr>
<tr>
<td><code>[nzPageSize]</code></td>
<td>number of data items per page, double binding</td>
<td>number</td>
<td>10</td>
</tr>
<tr>
<td><code>[nzShowQuickJumper]</code></td>
<td>determine whether you can jump to pages directly</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzShowSizeChanger]</code></td>
<td>determine whether <code>nzPageSize</code> can be changed</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzSimple]</code></td>
<td>whether to use simple mode</td>
<td>boolean</td>
<td>-</td>
</tr>
<tr>
<td><code>[nzSize]</code></td>
<td>specify the size of <code>nz-pagination</code>, can be set to <code>small</code></td>
<td>string</td>
<td>&quot;&quot;</td>
</tr>
<tr>
<td><code>[nzPageSizeOptions]</code></td>
<td>specify the sizeChanger options</td>
<td><code>number[]</code></td>
<td><code>[10, 20, 30, 40]</code></td>
</tr>
<tr>
<td><code>[nzItemRender]</code></td>
<td>to customize item</td>
<td><code>TemplateRef&lt;&#123; $implicit: &#39;page&#39; ｜ &#39;prev&#39; ｜ &#39;next&#39;, page: number &#125;&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzShowTotal]</code></td>
<td>to display the total number and range</td>
<td><code>TemplateRef&lt;&#123; $implicit: number, range: [ number, number ] &#125;&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzHideOnSinglePage]</code></td>
<td>Whether to hide pager on single page</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>(nzPageIndexChange)</code></td>
<td>current page number change callback</td>
<td><code>EventEmitter&lt;number&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>(nzPageSizeChange)</code></td>
<td>number of data items per page change callback</td>
<td><code>EventEmitter&lt;number&gt;</code></td>
<td>-</td>
</tr>
</tbody>
</table>
</section></article></main></div></app-root>
    <script type="text/javascript">
      // Single Page Apps for GitHub Pages
      // https://github.com/rafrex/spa-github-pages
      // Copyright (c) 2016 Rafael Pedicini, licensed under the MIT License
      // ----------------------------------------------------------------------
      // This script checks to see if a redirect is present in the query string
      // and converts it back into the correct url and adds it to the
      // browser's history using window.history.replaceState(...),
      // which won't cause the browser to attempt to load the new url.
      // When the single page app is loaded further down in this file,
      // the correct url will be waiting in the browser's history for
      // the single page app to route accordingly.
      (function(l) {
        if (l.search) {
          var q = {};
          l.search.slice(1).split('&').forEach(function(v) {
            var a = v.split('=');
            q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
          });
          if (q.p !== undefined) {
            window.history.replaceState(null, null,
              l.pathname.slice(0, -1) + (q.p || '') +
              (q.q ? ('?' + q.q) : '') +
              l.hash
            );
          }
        }
      }(window.location))
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52892298-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-52892298-2');
    </script>
  <script type="text/javascript" src="runtime.3b80d31845c016626f6e.js"></script><script type="text/javascript" src="polyfills.123964adf0983bf3e4a6.js"></script><script type="text/javascript" src="scripts.03e042f1f102bf0e2ed8.js"></script><script type="text/javascript" src="main.e2ecce41a02d6a32c114.js"></script></body>
</html>
