<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>栅格 - NG-ZORRO - Ant Design Of Angular</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
    <!-- Hotjar Tracking Code for ng.ant.design -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:792689,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
  <link rel="stylesheet" href="styles.ba7484eafc88ea9e5128.css"></head>
  <body>
    <app-root><nav><ul><li><a href="/docs/introduce/zh">Ant Design of Angular</a></li>
<li><a href="/docs/introduce/en">Ant Design of Angular</a></li>
<li><a href="/docs/getting-started/zh">快速上手</a></li>
<li><a href="/docs/getting-started/en">Getting Started</a></li>
<li><a href="/docs/schematics/en">Schematics</a></li>
<li><a href="/docs/schematics/zh">脚手架</a></li>
<li><a href="/docs/i18n/en">Internationalization</a></li>
<li><a href="/docs/i18n/zh">国际化</a></li>
<li><a href="/docs/customize-theme/en">Customize Theme</a></li>
<li><a href="/docs/customize-theme/zh">定制主题</a></li>
<li><a href="/docs/recommendation/zh">社区推荐</a></li>
<li><a href="/docs/recommendation/en">Third-Party Libraries</a></li>
<li><a href="/docs/faq/zh">常见问题</a></li>
<li><a href="/docs/faq/en">FAQ</a></li>
<li><a href="/docs/contributing/zh">贡献指南</a></li>
<li><a href="/docs/changelog/zh">更新日志</a></li>
<li><a href="/docs/contributing/en">Contributing to NG-ZORRO</a></li>
<li><a href="/docs/changelog/en">Change Log</a></li></ul><ul><li><h3>General</h3><ul><li><a href="/components/button/zh">按钮</a></li>
<li><a href="/components/button/en">Button</a></li>
<li><a href="/components/icon/zh">图标</a></li>
<li><a href="/components/icon/en">Icon</a></li></ul></li>,<li><h3>Layout</h3><ul><li><a href="/components/grid/zh">栅格</a></li>
<li><a href="/components/grid/en">Grid</a></li>
<li><a href="/components/layout/zh">布局</a></li>
<li><a href="/components/layout/en">Layout</a></li></ul></li>,<li><h3>Navigation</h3><ul><li><a href="/components/affix/zh">固钉</a></li>
<li><a href="/components/affix/en">Affix</a></li>
<li><a href="/components/breadcrumb/zh">面包屑</a></li>
<li><a href="/components/breadcrumb/en">Breadcrumb</a></li>
<li><a href="/components/dropdown/zh">下拉菜单</a></li>
<li><a href="/components/dropdown/en">Dropdown</a></li>
<li><a href="/components/menu/zh">导航菜单</a></li>
<li><a href="/components/menu/en">Menu</a></li>
<li><a href="/components/pagination/zh">分页</a></li>
<li><a href="/components/pagination/en">Pagination</a></li>
<li><a href="/components/steps/zh">步骤条</a></li>
<li><a href="/components/steps/en">Steps</a></li></ul></li>,<li><h3>Data Entry</h3><ul><li><a href="/components/auto-complete/zh">自动完成</a></li>
<li><a href="/components/auto-complete/en">Autocomplete</a></li>
<li><a href="/components/cascader/zh">级联选择</a></li>
<li><a href="/components/cascader/en">Cascader</a></li>
<li><a href="/components/checkbox/zh">多选框</a></li>
<li><a href="/components/checkbox/en">Checkbox</a></li>
<li><a href="/components/date-picker/zh">日期选择框</a></li>
<li><a href="/components/date-picker/en">DatePicker</a></li>
<li><a href="/components/form/zh">表单</a></li>
<li><a href="/components/form/en">Form</a></li>
<li><a href="/components/input/zh">输入框</a></li>
<li><a href="/components/input/en">Input</a></li>
<li><a href="/components/input-number/zh">数字输入框</a></li>
<li><a href="/components/input-number/en">InputNumber</a></li>
<li><a href="/components/mention/zh">提及</a></li>
<li><a href="/components/mention/en">Mention</a></li>
<li><a href="/components/radio/zh">单选框</a></li>
<li><a href="/components/radio/en">Radio</a></li>
<li><a href="/components/rate/zh">评分</a></li>
<li><a href="/components/rate/en">Rate</a></li>
<li><a href="/components/select/zh">选择器</a></li>
<li><a href="/components/select/en">Select</a></li>
<li><a href="/components/slider/zh">滑动输入条</a></li>
<li><a href="/components/slider/en">Slider</a></li>
<li><a href="/components/switch/zh">开关</a></li>
<li><a href="/components/switch/en">Switch</a></li>
<li><a href="/components/time-picker/zh">时间选择框</a></li>
<li><a href="/components/time-picker/en">TimePicker</a></li>
<li><a href="/components/transfer/zh">穿梭框</a></li>
<li><a href="/components/transfer/en">Transfer</a></li>
<li><a href="/components/tree-select/zh">树选择</a></li>
<li><a href="/components/tree-select/en">TreeSelect</a></li>
<li><a href="/components/upload/zh">上传</a></li>
<li><a href="/components/upload/en">Upload</a></li></ul></li>,<li><h3>Data Display</h3><ul><li><a href="/components/avatar/zh">头像</a></li>
<li><a href="/components/avatar/en">Avatar</a></li>
<li><a href="/components/badge/zh">徽标数</a></li>
<li><a href="/components/badge/en">Badge</a></li>
<li><a href="/components/calendar/zh">日历</a></li>
<li><a href="/components/calendar/en">Calendar</a></li>
<li><a href="/components/card/zh">卡片</a></li>
<li><a href="/components/card/en">Card</a></li>
<li><a href="/components/carousel/zh">走马灯</a></li>
<li><a href="/components/carousel/en">Carousel</a></li>
<li><a href="/components/collapse/zh">折叠面板</a></li>
<li><a href="/components/collapse/en">Collapse</a></li>
<li><a href="/components/list/zh">列表</a></li>
<li><a href="/components/list/en">List</a></li>
<li><a href="/components/popover/zh">气泡卡片</a></li>
<li><a href="/components/popover/en">Popover</a></li>
<li><a href="/components/table/zh">表格</a></li>
<li><a href="/components/table/en">Table</a></li>
<li><a href="/components/tabs/zh">标签页</a></li>
<li><a href="/components/tabs/en">Tabs</a></li>
<li><a href="/components/tag/zh">标签</a></li>
<li><a href="/components/tag/en">Tag</a></li>
<li><a href="/components/timeline/zh">时间轴</a></li>
<li><a href="/components/timeline/en">Timeline</a></li>
<li><a href="/components/tooltip/zh">文字提示</a></li>
<li><a href="/components/tooltip/en">Tooltip</a></li>
<li><a href="/components/tree/zh">树形控件</a></li>
<li><a href="/components/tree/en">Tree</a></li></ul></li>,<li><h3>Feedback</h3><ul><li><a href="/components/alert/zh">警告提示</a></li>
<li><a href="/components/alert/en">Alert</a></li>
<li><a href="/components/drawer/zh">抽屉</a></li>
<li><a href="/components/drawer/en">Drawer</a></li>
<li><a href="/components/message/zh">全局提示</a></li>
<li><a href="/components/message/en">Message</a></li>
<li><a href="/components/modal/zh">对话框</a></li>
<li><a href="/components/modal/en">Modal</a></li>
<li><a href="/components/notification/zh">通知提醒框</a></li>
<li><a href="/components/notification/en">Notification</a></li>
<li><a href="/components/popconfirm/zh">气泡确认框</a></li>
<li><a href="/components/popconfirm/en">Popconfirm</a></li>
<li><a href="/components/progress/zh">进度条</a></li>
<li><a href="/components/progress/en">Progress</a></li>
<li><a href="/components/skeleton/zh">加载占位图</a></li>
<li><a href="/components/skeleton/en">Skeleton</a></li>
<li><a href="/components/spin/zh">加载中</a></li>
<li><a href="/components/spin/en">Spin</a></li></ul></li>,<li><h3>Other</h3><ul><li><a href="/components/anchor/zh">锚点</a></li>
<li><a href="/components/anchor/en">Anchor</a></li>
<li><a href="/components/back-top/zh">回到顶部</a></li>
<li><a href="/components/back-top/en">BackTop</a></li>
<li><a href="/components/divider/zh">分割线</a></li>
<li><a href="/components/divider/en">Divider</a></li></ul></li></ul></nav><main><article><nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
      <nz-link nzHref="#components-grid-demo-basic" nzTitle="基础栅格"></nz-link><nz-link nzHref="#components-grid-demo-gutter" nzTitle="区块间隔"></nz-link><nz-link nzHref="#components-grid-demo-offset" nzTitle="左右偏移"></nz-link><nz-link nzHref="#components-grid-demo-sort" nzTitle="栅格排序"></nz-link><nz-link nzHref="#components-grid-demo-flex" nzTitle="Flex 布局"></nz-link><nz-link nzHref="#components-grid-demo-flex-align" nzTitle="Flex 对齐"></nz-link><nz-link nzHref="#components-grid-demo-flex-order" nzTitle="Flex 排序"></nz-link><nz-link nzHref="#components-grid-demo-responsive" nzTitle="响应式布局"></nz-link><nz-link nzHref="#components-grid-demo-responsive-more" nzTitle="其他属性的响应式"></nz-link><nz-link nzHref="#components-grid-demo-playground" nzTitle="栅格配置器"></nz-link>
    </nz-anchor>
  </nz-affix><section class="markdown">
	<h1>Grid<span class="subtitle">栅格</span>
	<a class="edit-button" href="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/grid/doc/index.zh-CN.md" target="_blank">
		<i nz-icon type="edit"></i></a>
</h1>
	<section class="markdown" ngNonBindable>
		<p>24 栅格系统。</p>
<h2 id="设计理念"><span>设计理念</span><a onclick="window.location.hash = '设计理念'" class="anchor">#</a></h2><div class="grid-demo">
<div class="ant-row demo-row">
  <div class="ant-col-24 demo-col demo-col-1">
    100%
  </div>
</div>
<div class="ant-row demo-row">
  <div class="ant-col-6 demo-col demo-col-2">
    25%
  </div>
  <div class="ant-col-6 demo-col demo-col-3">
    25%
  </div>
  <div class="ant-col-6 demo-col demo-col-2">
    25%
  </div>
  <div class="ant-col-6 demo-col demo-col-3">
    25%
  </div>
</div>
<div class="ant-row demo-row">
  <div class="ant-col-8 demo-col demo-col-4">
    33.33%
  </div>
  <div class="ant-col-8 demo-col demo-col-5">
    33.33%
  </div>
  <div class="ant-col-8 demo-col demo-col-4">
    33.33%
  </div>
</div>
<div class="ant-row demo-row">
  <div class="ant-col-12 demo-col demo-col-1">
    50%
  </div>
  <div class="ant-col-12 demo-col demo-col-3">
    50%
  </div>
</div>
<div class="ant-row demo-row">
  <div class="ant-col-16 demo-col demo-col-4">
    66.66%
  </div>
  <div class="ant-col-8 demo-col demo-col-5">
    33.33%
  </div>
</div>
</div><p>在多数业务情况下，Ant Design需要在设计区域内解决大量信息收纳的问题，因此在 12 栅格系统的基础上，我们将整个设计建议区域按照 24 等分的原则进行划分。</p>
<p>划分之后的信息区块我们称之为『盒子』。建议横向排列的盒子数量最多四个，最少一个。『盒子』在整个屏幕上占比见上图。设计部分基于盒子的单位定制盒子内部的排版规则，以保证视觉层面的舒适感。</p>
<h2 id="概述"><span>概述</span><a onclick="window.location.hash = '概述'" class="anchor">#</a></h2><p>布局的栅格化系统，我们是基于行（row）和列（col）来定义信息区块的外部框架，以保证页面的每个区域能够稳健地排布起来。下面简单介绍一下它的工作原理：</p>
<ul>
<li>通过<code>row</code>在水平方向建立一组<code>column</code>（简写col）</li>
<li>你的内容应当放置于<code>col</code>内，并且，只有<code>col</code>可以作为<code>row</code>的直接元素</li>
<li>栅格系统中的列是指1到24的值来表示其跨越的范围。例如，三个等宽的列可以使用<code>.col-8</code>来创建</li>
<li>如果一个<code>row</code>中的<code>col</code>总和超过 24，那么多余的<code>col</code>会作为一个整体另起一行排列</li>
</ul>
<h2 id="flex-布局"><span>Flex 布局</span><a onclick="window.location.hash = 'flex-布局'" class="anchor">#</a></h2><p>我们的栅格化系统支持 Flex 布局，允许子元素在父节点内的水平对齐方式 - 居左、居中、居右、等宽排列、分散排列。子元素与子元素之间，支持顶部对齐、垂直居中对齐、底部对齐的方式。同时，支持使用 order 来定义元素的排列顺序。</p>
<p>Flex 布局是基于 24 栅格来定义每一个『盒子』的宽度，但排版则不拘泥于栅格。</p>

	</section>
	
	<h2>
		<span>代码演示</span>
		<i nz-icon type="appstore" class="code-box-expand-trigger" title="展开全部代码" (click)="expandAllCode()"></i>
	</h2>
</section><div nz-row [nzGutter]="8">
	<div nz-col [nzSpan]="24">
		<nz-code-box nzTitle="基础栅格" [nzId]="'components-grid-demo-basic'" nzSelector="nz-demo-grid-basic" [nzLink]="'components-grid-demo-basic'" nzGenerateCommand="ng g ng-zorro-antd:grid-basic -p app --name=" nzComponentName="NzDemoGridBasicComponent" [nzCode]="basic" [nzRawCode]="basicRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/grid/demo/basic.md'">
	<nz-demo-grid-basic demo></nz-demo-grid-basic>
	<div intro ngNonBindable>
		<p>从堆叠到水平排列。</p>
<p>使用单一的一组 <code>nz-row</code> 和 <code>nz-col</code> 栅格组件，就可以创建一个基本的栅格系统，所有列（<code>nz-col</code>）必须放在 <code>nz-row</code> 内。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="区块间隔" [nzId]="'components-grid-demo-gutter'" nzSelector="nz-demo-grid-gutter" [nzLink]="'components-grid-demo-gutter'" nzGenerateCommand="ng g ng-zorro-antd:grid-gutter -p app --name=" nzComponentName="NzDemoGridGutterComponent" [nzCode]="gutter" [nzRawCode]="gutterRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/grid/demo/gutter.md'">
	<nz-demo-grid-gutter demo></nz-demo-grid-gutter>
	<div intro ngNonBindable>
		<p>栅格常常需要和间隔进行配合，你可以使用 <code>nz-row</code> 的 <code>nzGutter</code> 属性，我们推荐使用 <code>(16+8n)px</code> 作为栅格间隔。(n 是自然数)</p>
<p>如果要支持响应式，可以写成 <code>&#123; xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 &#125;</code>。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="左右偏移" [nzId]="'components-grid-demo-offset'" nzSelector="nz-demo-grid-offset" [nzLink]="'components-grid-demo-offset'" nzGenerateCommand="ng g ng-zorro-antd:grid-offset -p app --name=" nzComponentName="NzDemoGridOffsetComponent" [nzCode]="offset" [nzRawCode]="offsetRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/grid/demo/offset.md'">
	<nz-demo-grid-offset demo></nz-demo-grid-offset>
	<div intro ngNonBindable>
		<p>列偏移。</p>
<p>使用 <code>nzOffset</code> 可以将列向右侧偏。例如，<code>nzOffset=&quot;4&quot;</code> 将元素向右侧偏移了 4 个列（column）的宽度。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="栅格排序" [nzId]="'components-grid-demo-sort'" nzSelector="nz-demo-grid-sort" [nzLink]="'components-grid-demo-sort'" nzGenerateCommand="ng g ng-zorro-antd:grid-sort -p app --name=" nzComponentName="NzDemoGridSortComponent" [nzCode]="sort" [nzRawCode]="sortRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/grid/demo/sort.md'">
	<nz-demo-grid-sort demo></nz-demo-grid-sort>
	<div intro ngNonBindable>
		<p>列排序。</p>
<p>通过使用 <code>nzPush</code> 和 <code>nzPull</code> 类就可以很容易的改变列（column）的顺序。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Flex 布局" [nzId]="'components-grid-demo-flex'" nzSelector="nz-demo-grid-flex" [nzLink]="'components-grid-demo-flex'" nzGenerateCommand="ng g ng-zorro-antd:grid-flex -p app --name=" nzComponentName="NzDemoGridFlexComponent" [nzCode]="flex" [nzRawCode]="flexRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/grid/demo/flex.md'">
	<nz-demo-grid-flex demo></nz-demo-grid-flex>
	<div intro ngNonBindable>
		<p>Flex 布局基础。</p>
<p>使用 <code>nzType</code> 定义 <code>flex</code> 布局，其子元素根据不同的值 <code>start</code>,<code>center</code>,<code>end</code>,<code>space-between</code>,<code>space-around</code>，分别定义其在父节点里面的排版方式。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Flex 对齐" [nzId]="'components-grid-demo-flex-align'" nzSelector="nz-demo-grid-flex-align" [nzLink]="'components-grid-demo-flex-align'" nzGenerateCommand="ng g ng-zorro-antd:grid-flex-align -p app --name=" nzComponentName="NzDemoGridFlexAlignComponent" [nzCode]="flexAlign" [nzRawCode]="flexAlignRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/grid/demo/flex-align.md'">
	<nz-demo-grid-flex-align demo></nz-demo-grid-flex-align>
	<div intro ngNonBindable>
		<p>Flex 子元素垂直对齐。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Flex 排序" [nzId]="'components-grid-demo-flex-order'" nzSelector="nz-demo-grid-flex-order" [nzLink]="'components-grid-demo-flex-order'" nzGenerateCommand="ng g ng-zorro-antd:grid-flex-order -p app --name=" nzComponentName="NzDemoGridFlexOrderComponent" [nzCode]="flexOrder" [nzRawCode]="flexOrderRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/grid/demo/flex-order.md'">
	<nz-demo-grid-flex-order demo></nz-demo-grid-flex-order>
	<div intro ngNonBindable>
		<p>通过 Flex 布局的 <code>nzOrder</code> 来改变元素的排序。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="响应式布局" [nzId]="'components-grid-demo-responsive'" nzSelector="nz-demo-grid-responsive" [nzLink]="'components-grid-demo-responsive'" nzGenerateCommand="ng g ng-zorro-antd:grid-responsive -p app --name=" nzComponentName="NzDemoGridResponsiveComponent" [nzCode]="responsive" [nzRawCode]="responsiveRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/grid/demo/responsive.md'">
	<nz-demo-grid-responsive demo></nz-demo-grid-responsive>
	<div intro ngNonBindable>
		<p>参照 Bootstrap 的 <a href="http://getbootstrap.com/css/#grid-media-queries">响应式设计</a>，预设五个响应尺寸：<code>xs</code> <code>sm</code> <code>md</code> <code>lg</code> <code>xl</code>  <code>xxl</code>。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="其他属性的响应式" [nzId]="'components-grid-demo-responsive-more'" nzSelector="nz-demo-grid-responsive-more" [nzLink]="'components-grid-demo-responsive-more'" nzGenerateCommand="ng g ng-zorro-antd:grid-responsive-more -p app --name=" nzComponentName="NzDemoGridResponsiveMoreComponent" [nzCode]="responsiveMore" [nzRawCode]="responsiveMoreRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/grid/demo/responsive-more.md'">
	<nz-demo-grid-responsive-more demo></nz-demo-grid-responsive-more>
	<div intro ngNonBindable>
		<p><code>span</code> <code>pull</code> <code>push</code> <code>offset</code> <code>order</code> 属性可以通过内嵌到 <code>nzXs</code> <code>nzSm</code> <code>nzMd</code> <code>nzLg</code> <code>nzXl</code> <code>nzXXl</code> 属性中来使用。</p>
<p>其中 <code>nzXs=&quot;6&quot;</code> 相当于 <code>[nzXs]=&quot;&#123; span: 6 &#125;&quot;</code>。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="栅格配置器" [nzId]="'components-grid-demo-playground'" nzSelector="nz-demo-grid-playground" [nzLink]="'components-grid-demo-playground'" nzGenerateCommand="ng g ng-zorro-antd:grid-playground -p app --name=" nzComponentName="NzDemoGridPlaygroundComponent" [nzCode]="playground" [nzRawCode]="playgroundRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/grid/demo/playground.md'">
	<nz-demo-grid-playground demo></nz-demo-grid-playground>
	<div intro ngNonBindable>
		<p>可以简单配置几种等分栅格和间距。</p>

	</div>
</nz-code-box>

	</div>
</div><section class="markdown api-container" ngNonBindable><h2 id="api"><span>API</span><a onclick="window.location.hash = 'api'" class="anchor">#</a></h2><h3 id="[nz-row]"><span>[nz-row]</span><label class="api-type-label directive">directive</label><a onclick="window.location.hash = '[nz-row]'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>成员</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[nzAlign]</code></td>
<td>flex 布局下的垂直对齐方式：<code>top</code> <code>middle</code> <code>bottom</code></td>
<td>string</td>
<td><code>top</code></td>
</tr>
<tr>
<td><code>[nzGutter]</code></td>
<td>栅格间隔，可以写成像素值或支持响应式的对象写法 <code>&#123; xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 &#125;</code></td>
<td>number/object</td>
<td>0</td>
</tr>
<tr>
<td><code>[nzJustify]</code></td>
<td>flex 布局下的水平排列方式：<code>start</code> <code>end</code> <code>center</code> <code>space-around</code> <code>space-between</code></td>
<td>string</td>
<td><code>start</code></td>
</tr>
<tr>
<td><code>[nzType]</code></td>
<td>布局模式，可选 <code>flex</code>，<a href="http://caniuse.com/#search=flex">现代浏览器</a> 下有效</td>
<td>string</td>
<td></td>
</tr>
</tbody>
</table>
<h3 id="[nz-col]"><span>[nz-col]</span><label class="api-type-label directive">directive</label><a onclick="window.location.hash = '[nz-col]'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>成员</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[nzOffset]</code></td>
<td>栅格左侧的间隔格数，间隔内不可以有栅格</td>
<td>number</td>
<td>0</td>
</tr>
<tr>
<td><code>[nzOrder]</code></td>
<td>栅格顺序，<code>flex</code> 布局模式下有效</td>
<td>number</td>
<td>0</td>
</tr>
<tr>
<td><code>[nzPull]</code></td>
<td>栅格向左移动格数</td>
<td>number</td>
<td>0</td>
</tr>
<tr>
<td><code>[nzPush]</code></td>
<td>栅格向右移动格数</td>
<td>number</td>
<td>0</td>
</tr>
<tr>
<td><code>[nzSpan]</code></td>
<td>栅格占位格数，为 0 时相当于 <code>display: none</code></td>
<td>number</td>
<td>-</td>
</tr>
<tr>
<td><code>[nzXs]</code></td>
<td><code>&lt;576px</code> 响应式栅格，可为栅格数或一个包含其他属性的对象</td>
<td>number丨object</td>
<td>-</td>
</tr>
<tr>
<td><code>[nzSm]</code></td>
<td><code>≥576px</code> 响应式栅格，可为栅格数或一个包含其他属性的对象</td>
<td>number丨object</td>
<td>-</td>
</tr>
<tr>
<td><code>[nzMd]</code></td>
<td><code>≥768px</code> 响应式栅格，可为栅格数或一个包含其他属性的对象</td>
<td>number丨object</td>
<td>-</td>
</tr>
<tr>
<td><code>[nzLg]</code></td>
<td><code>≥992px</code> 响应式栅格，可为栅格数或一个包含其他属性的对象</td>
<td>number丨object</td>
<td>-</td>
</tr>
<tr>
<td><code>[nzXl]</code></td>
<td><code>≥1200px</code> 响应式栅格，可为栅格数或一个包含其他属性的对象</td>
<td>number丨object</td>
<td>-</td>
</tr>
<tr>
<td><code>[nzXXl]</code></td>
<td><code>≥1600px</code> 响应式栅格，可为栅格数或一个包含其他属性的对象</td>
<td>number丨object</td>
<td>-</td>
</tr>
</tbody>
</table>
<p>响应式栅格的断点扩展自 <a href="https://getbootstrap.com/docs/4.0/layout/overview/#responsive-breakpoints">BootStrap 4 的规则</a>（不包含链接里 <code>occasionally</code> 的部分)。</p>
</section></article></main></app-root>
    <script type="text/javascript">
      // Single Page Apps for GitHub Pages
      // https://github.com/rafrex/spa-github-pages
      // Copyright (c) 2016 Rafael Pedicini, licensed under the MIT License
      // ----------------------------------------------------------------------
      // This script checks to see if a redirect is present in the query string
      // and converts it back into the correct url and adds it to the
      // browser's history using window.history.replaceState(...),
      // which won't cause the browser to attempt to load the new url.
      // When the single page app is loaded further down in this file,
      // the correct url will be waiting in the browser's history for
      // the single page app to route accordingly.
      (function(l) {
        if (l.search) {
          var q = {};
          l.search.slice(1).split('&').forEach(function(v) {
            var a = v.split('=');
            q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
          });
          if (q.p !== undefined) {
            window.history.replaceState(null, null,
              l.pathname.slice(0, -1) + (q.p || '') +
              (q.q ? ('?' + q.q) : '') +
              l.hash
            );
          }
        }
      }(window.location))
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52892298-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-52892298-2');
    </script>
  <script type="text/javascript" src="runtime.3b80d31845c016626f6e.js"></script><script type="text/javascript" src="polyfills.123964adf0983bf3e4a6.js"></script><script type="text/javascript" src="scripts.03e042f1f102bf0e2ed8.js"></script><script type="text/javascript" src="main.e2ecce41a02d6a32c114.js"></script></body>
</html>
