<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>卡片 - NG-ZORRO - Ant Design Of Angular</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
    <!-- Hotjar Tracking Code for ng.ant.design -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:792689,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
  <link rel="stylesheet" href="styles.ba7484eafc88ea9e5128.css"></head>
  <body>
    <app-root><div style="overflow: hidden;height: 0"><nav><ul><li><a href="/docs/introduce/zh">Ant Design of Angular</a></li>
<li><a href="/docs/introduce/en">Ant Design of Angular</a></li>
<li><a href="/docs/getting-started/zh">快速上手</a></li>
<li><a href="/docs/getting-started/en">Getting Started</a></li>
<li><a href="/docs/schematics/en">Schematics</a></li>
<li><a href="/docs/schematics/zh">脚手架</a></li>
<li><a href="/docs/i18n/en">Internationalization</a></li>
<li><a href="/docs/i18n/zh">国际化</a></li>
<li><a href="/docs/customize-theme/en">Customize Theme</a></li>
<li><a href="/docs/customize-theme/zh">定制主题</a></li>
<li><a href="/docs/recommendation/zh">社区推荐</a></li>
<li><a href="/docs/recommendation/en">Third-Party Libraries</a></li>
<li><a href="/docs/faq/zh">常见问题</a></li>
<li><a href="/docs/faq/en">FAQ</a></li>
<li><a href="/docs/contributing/zh">贡献指南</a></li>
<li><a href="/docs/changelog/zh">更新日志</a></li>
<li><a href="/docs/contributing/en">Contributing to NG-ZORRO</a></li>
<li><a href="/docs/changelog/en">Change Log</a></li></ul><ul><li><h3>General</h3><ul><li><a href="/components/button/zh">按钮</a></li>
<li><a href="/components/button/en">Button</a></li>
<li><a href="/components/icon/zh">图标</a></li>
<li><a href="/components/icon/en">Icon</a></li></ul></li>,<li><h3>Layout</h3><ul><li><a href="/components/grid/zh">栅格</a></li>
<li><a href="/components/grid/en">Grid</a></li>
<li><a href="/components/layout/zh">布局</a></li>
<li><a href="/components/layout/en">Layout</a></li></ul></li>,<li><h3>Navigation</h3><ul><li><a href="/components/affix/zh">固钉</a></li>
<li><a href="/components/affix/en">Affix</a></li>
<li><a href="/components/breadcrumb/zh">面包屑</a></li>
<li><a href="/components/breadcrumb/en">Breadcrumb</a></li>
<li><a href="/components/dropdown/zh">下拉菜单</a></li>
<li><a href="/components/dropdown/en">Dropdown</a></li>
<li><a href="/components/menu/zh">导航菜单</a></li>
<li><a href="/components/menu/en">Menu</a></li>
<li><a href="/components/pagination/zh">分页</a></li>
<li><a href="/components/pagination/en">Pagination</a></li>
<li><a href="/components/steps/zh">步骤条</a></li>
<li><a href="/components/steps/en">Steps</a></li></ul></li>,<li><h3>Data Entry</h3><ul><li><a href="/components/auto-complete/zh">自动完成</a></li>
<li><a href="/components/auto-complete/en">Autocomplete</a></li>
<li><a href="/components/cascader/zh">级联选择</a></li>
<li><a href="/components/cascader/en">Cascader</a></li>
<li><a href="/components/checkbox/zh">多选框</a></li>
<li><a href="/components/checkbox/en">Checkbox</a></li>
<li><a href="/components/date-picker/zh">日期选择框</a></li>
<li><a href="/components/date-picker/en">DatePicker</a></li>
<li><a href="/components/form/zh">表单</a></li>
<li><a href="/components/form/en">Form</a></li>
<li><a href="/components/input/zh">输入框</a></li>
<li><a href="/components/input/en">Input</a></li>
<li><a href="/components/input-number/zh">数字输入框</a></li>
<li><a href="/components/input-number/en">InputNumber</a></li>
<li><a href="/components/mention/zh">提及</a></li>
<li><a href="/components/mention/en">Mention</a></li>
<li><a href="/components/radio/zh">单选框</a></li>
<li><a href="/components/radio/en">Radio</a></li>
<li><a href="/components/rate/zh">评分</a></li>
<li><a href="/components/rate/en">Rate</a></li>
<li><a href="/components/select/zh">选择器</a></li>
<li><a href="/components/select/en">Select</a></li>
<li><a href="/components/slider/zh">滑动输入条</a></li>
<li><a href="/components/slider/en">Slider</a></li>
<li><a href="/components/switch/zh">开关</a></li>
<li><a href="/components/switch/en">Switch</a></li>
<li><a href="/components/time-picker/zh">时间选择框</a></li>
<li><a href="/components/time-picker/en">TimePicker</a></li>
<li><a href="/components/transfer/zh">穿梭框</a></li>
<li><a href="/components/transfer/en">Transfer</a></li>
<li><a href="/components/tree-select/zh">树选择</a></li>
<li><a href="/components/tree-select/en">TreeSelect</a></li>
<li><a href="/components/upload/zh">上传</a></li>
<li><a href="/components/upload/en">Upload</a></li></ul></li>,<li><h3>Data Display</h3><ul><li><a href="/components/avatar/zh">头像</a></li>
<li><a href="/components/avatar/en">Avatar</a></li>
<li><a href="/components/badge/zh">徽标数</a></li>
<li><a href="/components/badge/en">Badge</a></li>
<li><a href="/components/calendar/zh">日历</a></li>
<li><a href="/components/calendar/en">Calendar</a></li>
<li><a href="/components/card/zh">卡片</a></li>
<li><a href="/components/card/en">Card</a></li>
<li><a href="/components/carousel/zh">走马灯</a></li>
<li><a href="/components/carousel/en">Carousel</a></li>
<li><a href="/components/collapse/zh">折叠面板</a></li>
<li><a href="/components/collapse/en">Collapse</a></li>
<li><a href="/components/list/zh">列表</a></li>
<li><a href="/components/list/en">List</a></li>
<li><a href="/components/popover/zh">气泡卡片</a></li>
<li><a href="/components/popover/en">Popover</a></li>
<li><a href="/components/table/zh">表格</a></li>
<li><a href="/components/table/en">Table</a></li>
<li><a href="/components/tabs/zh">标签页</a></li>
<li><a href="/components/tabs/en">Tabs</a></li>
<li><a href="/components/tag/zh">标签</a></li>
<li><a href="/components/tag/en">Tag</a></li>
<li><a href="/components/timeline/zh">时间轴</a></li>
<li><a href="/components/timeline/en">Timeline</a></li>
<li><a href="/components/tooltip/zh">文字提示</a></li>
<li><a href="/components/tooltip/en">Tooltip</a></li>
<li><a href="/components/tree/zh">树形控件</a></li>
<li><a href="/components/tree/en">Tree</a></li></ul></li>,<li><h3>Feedback</h3><ul><li><a href="/components/alert/zh">警告提示</a></li>
<li><a href="/components/alert/en">Alert</a></li>
<li><a href="/components/drawer/zh">抽屉</a></li>
<li><a href="/components/drawer/en">Drawer</a></li>
<li><a href="/components/message/zh">全局提示</a></li>
<li><a href="/components/message/en">Message</a></li>
<li><a href="/components/modal/zh">对话框</a></li>
<li><a href="/components/modal/en">Modal</a></li>
<li><a href="/components/notification/zh">通知提醒框</a></li>
<li><a href="/components/notification/en">Notification</a></li>
<li><a href="/components/popconfirm/zh">气泡确认框</a></li>
<li><a href="/components/popconfirm/en">Popconfirm</a></li>
<li><a href="/components/progress/zh">进度条</a></li>
<li><a href="/components/progress/en">Progress</a></li>
<li><a href="/components/skeleton/zh">加载占位图</a></li>
<li><a href="/components/skeleton/en">Skeleton</a></li>
<li><a href="/components/spin/zh">加载中</a></li>
<li><a href="/components/spin/en">Spin</a></li></ul></li>,<li><h3>Other</h3><ul><li><a href="/components/anchor/zh">锚点</a></li>
<li><a href="/components/anchor/en">Anchor</a></li>
<li><a href="/components/back-top/zh">回到顶部</a></li>
<li><a href="/components/back-top/en">BackTop</a></li>
<li><a href="/components/divider/zh">分割线</a></li>
<li><a href="/components/divider/en">Divider</a></li></ul></li></ul></nav><main><article><nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
      <nz-link nzHref="#components-card-demo-basic" nzTitle="典型卡片"></nz-link><nz-link nzHref="#components-card-demo-border-less" nzTitle="无边框"></nz-link><nz-link nzHref="#components-card-demo-simple" nzTitle="简洁卡片"></nz-link><nz-link nzHref="#components-card-demo-flexible-content" nzTitle="更灵活的内容展示"></nz-link><nz-link nzHref="#components-card-demo-in-column" nzTitle="栅格卡片"></nz-link><nz-link nzHref="#components-card-demo-loading" nzTitle="预加载的卡片"></nz-link><nz-link nzHref="#components-card-demo-grid-card" nzTitle="网格型内嵌卡片"></nz-link><nz-link nzHref="#components-card-demo-inner" nzTitle="内部卡片"></nz-link><nz-link nzHref="#components-card-demo-tabs" nzTitle="带页签的卡片"></nz-link><nz-link nzHref="#components-card-demo-meta" nzTitle="支持更多内容配置"></nz-link>
    </nz-anchor>
  </nz-affix><section class="markdown">
	<h1>Card<span class="subtitle">卡片</span>
	<a class="edit-button" href="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/card/doc/index.zh-CN.md" target="_blank">
		<i nz-icon type="edit"></i></a>
</h1>
	<section class="markdown" ngNonBindable>
		<p>通用卡片容器。</p>
<h2 id="何时使用"><span>何时使用</span><a onclick="window.location.hash = '何时使用'" class="anchor">#</a></h2><p>最基础的卡片容器，可承载文字、列表、图片、段落，常用于后台概览页面。</p>

	</section>
	
	<h2>
		<span>代码演示</span>
		<i nz-icon type="appstore" class="code-box-expand-trigger" title="展开全部代码" (click)="expandAllCode()"></i>
	</h2>
</section><div nz-row [nzGutter]="8">
	<div nz-col [nzSpan]="24">
		<nz-code-box nzTitle="典型卡片" [nzId]="'components-card-demo-basic'" nzSelector="nz-demo-card-basic" [nzLink]="'components-card-demo-basic'" nzGenerateCommand="ng g ng-zorro-antd:card-basic -p app --name=" nzComponentName="NzDemoCardBasicComponent" [nzCode]="basic" [nzRawCode]="basicRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/card/demo/basic.md'">
	<nz-demo-card-basic demo></nz-demo-card-basic>
	<div intro ngNonBindable>
		<p>包含标题、内容、操作区域。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="无边框" [nzId]="'components-card-demo-border-less'" nzSelector="nz-demo-card-border-less" [nzLink]="'components-card-demo-border-less'" nzGenerateCommand="ng g ng-zorro-antd:card-border-less -p app --name=" nzComponentName="NzDemoCardBorderLessComponent" [nzCode]="borderLess" [nzRawCode]="borderLessRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/card/demo/border-less.md'">
	<nz-demo-card-border-less demo></nz-demo-card-border-less>
	<div intro ngNonBindable>
		<p>在灰色背景上使用无边框的卡片。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="简洁卡片" [nzId]="'components-card-demo-simple'" nzSelector="nz-demo-card-simple" [nzLink]="'components-card-demo-simple'" nzGenerateCommand="ng g ng-zorro-antd:card-simple -p app --name=" nzComponentName="NzDemoCardSimpleComponent" [nzCode]="simple" [nzRawCode]="simpleRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/card/demo/simple.md'">
	<nz-demo-card-simple demo></nz-demo-card-simple>
	<div intro ngNonBindable>
		<p>只包含内容区域。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="更灵活的内容展示" [nzId]="'components-card-demo-flexible-content'" nzSelector="nz-demo-card-flexible-content" [nzLink]="'components-card-demo-flexible-content'" nzGenerateCommand="ng g ng-zorro-antd:card-flexible-content -p app --name=" nzComponentName="NzDemoCardFlexibleContentComponent" [nzCode]="flexibleContent" [nzRawCode]="flexibleContentRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/card/demo/flexible-content.md'">
	<nz-demo-card-flexible-content demo></nz-demo-card-flexible-content>
	<div intro ngNonBindable>
		<p>可以利用 <code>nz-card-meta</code> 支持更灵活的内容。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="栅格卡片" [nzId]="'components-card-demo-in-column'" nzSelector="nz-demo-card-in-column" [nzLink]="'components-card-demo-in-column'" nzGenerateCommand="ng g ng-zorro-antd:card-in-column -p app --name=" nzComponentName="NzDemoCardInColumnComponent" [nzCode]="inColumn" [nzRawCode]="inColumnRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/card/demo/in-column.md'">
	<nz-demo-card-in-column demo></nz-demo-card-in-column>
	<div intro ngNonBindable>
		<p>在系统概览页面常常和栅格进行配合。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="预加载的卡片" [nzId]="'components-card-demo-loading'" nzSelector="nz-demo-card-loading" [nzLink]="'components-card-demo-loading'" nzGenerateCommand="ng g ng-zorro-antd:card-loading -p app --name=" nzComponentName="NzDemoCardLoadingComponent" [nzCode]="loading" [nzRawCode]="loadingRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/card/demo/loading.md'">
	<nz-demo-card-loading demo></nz-demo-card-loading>
	<div intro ngNonBindable>
		<p>数据读入前会有文本块样式。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="网格型内嵌卡片" [nzId]="'components-card-demo-grid-card'" nzSelector="nz-demo-card-grid-card" [nzLink]="'components-card-demo-grid-card'" nzGenerateCommand="ng g ng-zorro-antd:card-grid-card -p app --name=" nzComponentName="NzDemoCardGridCardComponent" [nzCode]="gridCard" [nzRawCode]="gridCardRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/card/demo/grid-card.md'">
	<nz-demo-card-grid-card demo></nz-demo-card-grid-card>
	<div intro ngNonBindable>
		<p>一种常见的卡片内容区隔模式。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="内部卡片" [nzId]="'components-card-demo-inner'" nzSelector="nz-demo-card-inner" [nzLink]="'components-card-demo-inner'" nzGenerateCommand="ng g ng-zorro-antd:card-inner -p app --name=" nzComponentName="NzDemoCardInnerComponent" [nzCode]="inner" [nzRawCode]="innerRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/card/demo/inner.md'">
	<nz-demo-card-inner demo></nz-demo-card-inner>
	<div intro ngNonBindable>
		<p>可以放在普通卡片内部，展示多层级结构的信息。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="带页签的卡片" [nzId]="'components-card-demo-tabs'" nzSelector="nz-demo-card-tabs" [nzLink]="'components-card-demo-tabs'" nzGenerateCommand="ng g ng-zorro-antd:card-tabs -p app --name=" nzComponentName="NzDemoCardTabsComponent" [nzCode]="tabs" [nzRawCode]="tabsRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/card/demo/tabs.md'">
	<nz-demo-card-tabs demo></nz-demo-card-tabs>
	<div intro ngNonBindable>
		<p>可承载更多内容。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="支持更多内容配置" [nzId]="'components-card-demo-meta'" nzSelector="nz-demo-card-meta" [nzLink]="'components-card-demo-meta'" nzGenerateCommand="ng g ng-zorro-antd:card-meta -p app --name=" nzComponentName="NzDemoCardMetaComponent" [nzCode]="meta" [nzRawCode]="metaRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/card/demo/meta.md'">
	<nz-demo-card-meta demo></nz-demo-card-meta>
	<div intro ngNonBindable>
		<p>一种支持封面、头像、标题和描述信息的卡片。</p>

	</div>
</nz-code-box>

	</div>
</div><section class="markdown api-container" ngNonBindable><h2 id="api"><span>API</span><a onclick="window.location.hash = 'api'" class="anchor">#</a></h2><pre><code class="lang-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nz-card</span> <span class="token attr-name">nzTitle</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>卡片标题<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>卡片内容<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nz-card</span><span class="token punctuation">></span></span>
</code></pre>
<h3 id="nz-card"><span>nz-card</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-card'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[nzActions]</code></td>
<td>卡片操作组，位置在卡片底部</td>
<td><code>Array&lt;TemplateRef&lt;void&gt;&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzBodyStyle]</code></td>
<td>内容区域自定义样式</td>
<td><code>&#123; [key: string]: string &#125;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzBordered]</code></td>
<td>是否有边框</td>
<td>boolean</td>
<td>true</td>
</tr>
<tr>
<td><code>[nzCover]</code></td>
<td>卡片封面</td>
<td><code>TemplateRef&lt;void&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzExtra]</code></td>
<td>卡片右上角的操作区域</td>
<td>string｜<code>TemplateRef&lt;void&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzHoverable]</code></td>
<td>鼠标移过时可浮起</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzLoading]</code></td>
<td>当卡片内容还在加载中时，可以用 loading 展示一个占位</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzTitle]</code></td>
<td>卡片标题</td>
<td>string｜<code>TemplateRef&lt;void&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzType]</code></td>
<td>卡片类型，可设置为 <code>inner</code> 或 不设置</td>
<td>string</td>
<td>-</td>
</tr>
</tbody>
</table>
<h3 id="nz-card-meta"><span>nz-card-meta</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-card-meta'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[nzAvatar]</code></td>
<td>头像/图标</td>
<td><code>TemplateRef&lt;void&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzDescription]</code></td>
<td>描述内容</td>
<td>string｜<code>TemplateRef&lt;void&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzTitle]</code></td>
<td>标题内容</td>
<td>string｜<code>TemplateRef&lt;void&gt;</code></td>
<td>-</td>
</tr>
</tbody>
</table>
<h3 id="[nz-card-grid]"><span>[nz-card-grid]</span><label class="api-type-label directive">directive</label><a onclick="window.location.hash = '[nz-card-grid]'" class="anchor">#</a></h3><p>分隔卡片内容区域</p>
<h3 id="nz-card-tab"><span>nz-card-tab</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-card-tab'" class="anchor">#</a></h3><p>分隔页签标题区域</p>
</section></article></main></div></app-root>
    <script type="text/javascript">
      // Single Page Apps for GitHub Pages
      // https://github.com/rafrex/spa-github-pages
      // Copyright (c) 2016 Rafael Pedicini, licensed under the MIT License
      // ----------------------------------------------------------------------
      // This script checks to see if a redirect is present in the query string
      // and converts it back into the correct url and adds it to the
      // browser's history using window.history.replaceState(...),
      // which won't cause the browser to attempt to load the new url.
      // When the single page app is loaded further down in this file,
      // the correct url will be waiting in the browser's history for
      // the single page app to route accordingly.
      (function(l) {
        if (l.search) {
          var q = {};
          l.search.slice(1).split('&').forEach(function(v) {
            var a = v.split('=');
            q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
          });
          if (q.p !== undefined) {
            window.history.replaceState(null, null,
              l.pathname.slice(0, -1) + (q.p || '') +
              (q.q ? ('?' + q.q) : '') +
              l.hash
            );
          }
        }
      }(window.location))
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52892298-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-52892298-2');
    </script>
  <script type="text/javascript" src="runtime.3b80d31845c016626f6e.js"></script><script type="text/javascript" src="polyfills.123964adf0983bf3e4a6.js"></script><script type="text/javascript" src="scripts.03e042f1f102bf0e2ed8.js"></script><script type="text/javascript" src="main.e2ecce41a02d6a32c114.js"></script></body>
</html>
