<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Input - NG-ZORRO - Ant Design Of Angular</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
    <!-- Hotjar Tracking Code for ng.ant.design -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:792689,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
  <link rel="stylesheet" href="styles.ba7484eafc88ea9e5128.css"></head>
  <body>
    <app-root><nav><ul><li><a href="/docs/introduce/zh">Ant Design of Angular</a></li>
<li><a href="/docs/introduce/en">Ant Design of Angular</a></li>
<li><a href="/docs/getting-started/zh">快速上手</a></li>
<li><a href="/docs/getting-started/en">Getting Started</a></li>
<li><a href="/docs/schematics/en">Schematics</a></li>
<li><a href="/docs/schematics/zh">脚手架</a></li>
<li><a href="/docs/i18n/en">Internationalization</a></li>
<li><a href="/docs/i18n/zh">国际化</a></li>
<li><a href="/docs/customize-theme/en">Customize Theme</a></li>
<li><a href="/docs/customize-theme/zh">定制主题</a></li>
<li><a href="/docs/recommendation/zh">社区推荐</a></li>
<li><a href="/docs/recommendation/en">Third-Party Libraries</a></li>
<li><a href="/docs/faq/zh">常见问题</a></li>
<li><a href="/docs/faq/en">FAQ</a></li>
<li><a href="/docs/contributing/zh">贡献指南</a></li>
<li><a href="/docs/changelog/zh">更新日志</a></li>
<li><a href="/docs/contributing/en">Contributing to NG-ZORRO</a></li>
<li><a href="/docs/changelog/en">Change Log</a></li></ul><ul><li><h3>General</h3><ul><li><a href="/components/button/zh">按钮</a></li>
<li><a href="/components/button/en">Button</a></li>
<li><a href="/components/icon/zh">图标</a></li>
<li><a href="/components/icon/en">Icon</a></li></ul></li>,<li><h3>Layout</h3><ul><li><a href="/components/grid/zh">栅格</a></li>
<li><a href="/components/grid/en">Grid</a></li>
<li><a href="/components/layout/zh">布局</a></li>
<li><a href="/components/layout/en">Layout</a></li></ul></li>,<li><h3>Navigation</h3><ul><li><a href="/components/affix/zh">固钉</a></li>
<li><a href="/components/affix/en">Affix</a></li>
<li><a href="/components/breadcrumb/zh">面包屑</a></li>
<li><a href="/components/breadcrumb/en">Breadcrumb</a></li>
<li><a href="/components/dropdown/zh">下拉菜单</a></li>
<li><a href="/components/dropdown/en">Dropdown</a></li>
<li><a href="/components/menu/zh">导航菜单</a></li>
<li><a href="/components/menu/en">Menu</a></li>
<li><a href="/components/pagination/zh">分页</a></li>
<li><a href="/components/pagination/en">Pagination</a></li>
<li><a href="/components/steps/zh">步骤条</a></li>
<li><a href="/components/steps/en">Steps</a></li></ul></li>,<li><h3>Data Entry</h3><ul><li><a href="/components/auto-complete/zh">自动完成</a></li>
<li><a href="/components/auto-complete/en">Autocomplete</a></li>
<li><a href="/components/cascader/zh">级联选择</a></li>
<li><a href="/components/cascader/en">Cascader</a></li>
<li><a href="/components/checkbox/zh">多选框</a></li>
<li><a href="/components/checkbox/en">Checkbox</a></li>
<li><a href="/components/date-picker/zh">日期选择框</a></li>
<li><a href="/components/date-picker/en">DatePicker</a></li>
<li><a href="/components/form/zh">表单</a></li>
<li><a href="/components/form/en">Form</a></li>
<li><a href="/components/input/zh">输入框</a></li>
<li><a href="/components/input/en">Input</a></li>
<li><a href="/components/input-number/zh">数字输入框</a></li>
<li><a href="/components/input-number/en">InputNumber</a></li>
<li><a href="/components/mention/zh">提及</a></li>
<li><a href="/components/mention/en">Mention</a></li>
<li><a href="/components/radio/zh">单选框</a></li>
<li><a href="/components/radio/en">Radio</a></li>
<li><a href="/components/rate/zh">评分</a></li>
<li><a href="/components/rate/en">Rate</a></li>
<li><a href="/components/select/zh">选择器</a></li>
<li><a href="/components/select/en">Select</a></li>
<li><a href="/components/slider/zh">滑动输入条</a></li>
<li><a href="/components/slider/en">Slider</a></li>
<li><a href="/components/switch/zh">开关</a></li>
<li><a href="/components/switch/en">Switch</a></li>
<li><a href="/components/time-picker/zh">时间选择框</a></li>
<li><a href="/components/time-picker/en">TimePicker</a></li>
<li><a href="/components/transfer/zh">穿梭框</a></li>
<li><a href="/components/transfer/en">Transfer</a></li>
<li><a href="/components/tree-select/zh">树选择</a></li>
<li><a href="/components/tree-select/en">TreeSelect</a></li>
<li><a href="/components/upload/zh">上传</a></li>
<li><a href="/components/upload/en">Upload</a></li></ul></li>,<li><h3>Data Display</h3><ul><li><a href="/components/avatar/zh">头像</a></li>
<li><a href="/components/avatar/en">Avatar</a></li>
<li><a href="/components/badge/zh">徽标数</a></li>
<li><a href="/components/badge/en">Badge</a></li>
<li><a href="/components/calendar/zh">日历</a></li>
<li><a href="/components/calendar/en">Calendar</a></li>
<li><a href="/components/card/zh">卡片</a></li>
<li><a href="/components/card/en">Card</a></li>
<li><a href="/components/carousel/zh">走马灯</a></li>
<li><a href="/components/carousel/en">Carousel</a></li>
<li><a href="/components/collapse/zh">折叠面板</a></li>
<li><a href="/components/collapse/en">Collapse</a></li>
<li><a href="/components/list/zh">列表</a></li>
<li><a href="/components/list/en">List</a></li>
<li><a href="/components/popover/zh">气泡卡片</a></li>
<li><a href="/components/popover/en">Popover</a></li>
<li><a href="/components/table/zh">表格</a></li>
<li><a href="/components/table/en">Table</a></li>
<li><a href="/components/tabs/zh">标签页</a></li>
<li><a href="/components/tabs/en">Tabs</a></li>
<li><a href="/components/tag/zh">标签</a></li>
<li><a href="/components/tag/en">Tag</a></li>
<li><a href="/components/timeline/zh">时间轴</a></li>
<li><a href="/components/timeline/en">Timeline</a></li>
<li><a href="/components/tooltip/zh">文字提示</a></li>
<li><a href="/components/tooltip/en">Tooltip</a></li>
<li><a href="/components/tree/zh">树形控件</a></li>
<li><a href="/components/tree/en">Tree</a></li></ul></li>,<li><h3>Feedback</h3><ul><li><a href="/components/alert/zh">警告提示</a></li>
<li><a href="/components/alert/en">Alert</a></li>
<li><a href="/components/drawer/zh">抽屉</a></li>
<li><a href="/components/drawer/en">Drawer</a></li>
<li><a href="/components/message/zh">全局提示</a></li>
<li><a href="/components/message/en">Message</a></li>
<li><a href="/components/modal/zh">对话框</a></li>
<li><a href="/components/modal/en">Modal</a></li>
<li><a href="/components/notification/zh">通知提醒框</a></li>
<li><a href="/components/notification/en">Notification</a></li>
<li><a href="/components/popconfirm/zh">气泡确认框</a></li>
<li><a href="/components/popconfirm/en">Popconfirm</a></li>
<li><a href="/components/progress/zh">进度条</a></li>
<li><a href="/components/progress/en">Progress</a></li>
<li><a href="/components/skeleton/zh">加载占位图</a></li>
<li><a href="/components/skeleton/en">Skeleton</a></li>
<li><a href="/components/spin/zh">加载中</a></li>
<li><a href="/components/spin/en">Spin</a></li></ul></li>,<li><h3>Other</h3><ul><li><a href="/components/anchor/zh">锚点</a></li>
<li><a href="/components/anchor/en">Anchor</a></li>
<li><a href="/components/back-top/zh">回到顶部</a></li>
<li><a href="/components/back-top/en">BackTop</a></li>
<li><a href="/components/divider/zh">分割线</a></li>
<li><a href="/components/divider/en">Divider</a></li></ul></li></ul></nav><main><article><nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
      <nz-link nzHref="#components-input-demo-basic" nzTitle="Basic usage"></nz-link><nz-link nzHref="#components-input-demo-size" nzTitle="Three sizes of Input"></nz-link><nz-link nzHref="#components-input-demo-addon" nzTitle="Pre / Post tab"></nz-link><nz-link nzHref="#components-input-demo-group" nzTitle="Input Group"></nz-link><nz-link nzHref="#components-input-demo-search-input" nzTitle="Search box"></nz-link><nz-link nzHref="#components-input-demo-textarea" nzTitle="TextArea"></nz-link><nz-link nzHref="#components-input-demo-autosize-textarea" nzTitle="Autosizing the height to fit the content"></nz-link><nz-link nzHref="#components-input-demo-tooltip" nzTitle="Format Tooltip Input"></nz-link><nz-link nzHref="#components-input-demo-presuffix" nzTitle="prefix and suffix"></nz-link>
    </nz-anchor>
  </nz-affix><section class="markdown">
	<h1>Input<span class="subtitle"></span>
	<a class="edit-button" href="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/input/doc/index.en-US.md" target="_blank">
		<i nz-icon type="edit"></i></a>
</h1>
	<section class="markdown" ngNonBindable>
		<p>A basic widget for getting the user input is a text field.
Keyboard and mouse can be used for providing or changing data.</p>
<h2 id="when-to-use"><span>When To Use</span><a onclick="window.location.hash = 'when-to-use'" class="anchor">#</a></h2><ul>
<li>A user input in a form field is needed.</li>
<li>A search input is required.</li>
</ul>

	</section>
	
	<h2>
		<span>Examples</span>
		<i nz-icon type="appstore" class="code-box-expand-trigger" title="expand all code" (click)="expandAllCode()"></i>
	</h2>
</section><div nz-row [nzGutter]="16">
	<div nz-col [nzLg]="12" [nzMd]="24">
		<nz-code-box nzTitle="Basic usage" [nzId]="'components-input-demo-basic'" nzSelector="nz-demo-input-basic" [nzLink]="'components-input-demo-basic'" nzGenerateCommand="ng g ng-zorro-antd:input-basic -p app --name=" nzComponentName="NzDemoInputBasicComponent" [nzCode]="basic" [nzRawCode]="basicRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/input/demo/basic.md'">
	<nz-demo-input-basic demo></nz-demo-input-basic>
	<div intro ngNonBindable>
		<p>Basic usage example.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Pre / Post tab" [nzId]="'components-input-demo-addon'" nzSelector="nz-demo-input-addon" [nzLink]="'components-input-demo-addon'" nzGenerateCommand="ng g ng-zorro-antd:input-addon -p app --name=" nzComponentName="NzDemoInputAddonComponent" [nzCode]="addon" [nzRawCode]="addonRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/input/demo/addon.md'">
	<nz-demo-input-addon demo></nz-demo-input-addon>
	<div intro ngNonBindable>
		<p>Using pre &amp; post tabs example.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Search box" [nzId]="'components-input-demo-search-input'" nzSelector="nz-demo-input-search-input" [nzLink]="'components-input-demo-search-input'" nzGenerateCommand="ng g ng-zorro-antd:input-search-input -p app --name=" nzComponentName="NzDemoInputSearchInputComponent" [nzCode]="searchInput" [nzRawCode]="searchInputRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/input/demo/search-input.md'">
	<nz-demo-input-search-input demo></nz-demo-input-search-input>
	<div intro ngNonBindable>
		<p>Example of creating a search box by grouping a standard input with a search button.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Autosizing the height to fit the content" [nzId]="'components-input-demo-autosize-textarea'" nzSelector="nz-demo-input-autosize-textarea" [nzLink]="'components-input-demo-autosize-textarea'" nzGenerateCommand="ng g ng-zorro-antd:input-autosize-textarea -p app --name=" nzComponentName="NzDemoInputAutosizeTextareaComponent" [nzCode]="autosizeTextarea" [nzRawCode]="autosizeTextareaRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/input/demo/autosize-textarea.md'">
	<nz-demo-input-autosize-textarea demo></nz-demo-input-autosize-textarea>
	<div intro ngNonBindable>
		<p><code>nzAutosize</code> prop for a <code>textarea</code> type of <code>nz-input</code> makes the height to automatically adjust based on the content.
An options object can be provided to <code>nzAutosize</code> to specify the minimum and maximum number of lines the textarea will automatically adjust.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="prefix and suffix" [nzId]="'components-input-demo-presuffix'" nzSelector="nz-demo-input-presuffix" [nzLink]="'components-input-demo-presuffix'" nzGenerateCommand="ng g ng-zorro-antd:input-presuffix -p app --name=" nzComponentName="NzDemoInputPresuffixComponent" [nzCode]="presuffix" [nzRawCode]="presuffixRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/input/demo/presuffix.md'">
	<nz-demo-input-presuffix demo></nz-demo-input-presuffix>
	<div intro ngNonBindable>
		<p>Add prefix or suffix icons inside input.</p>

	</div>
</nz-code-box>

	</div>
	<div nz-col [nzLg]="12" [nzMd]="24">
		<nz-code-box nzTitle="Three sizes of Input" [nzId]="'components-input-demo-size'" nzSelector="nz-demo-input-size" [nzLink]="'components-input-demo-size'" nzGenerateCommand="ng g ng-zorro-antd:input-size -p app --name=" nzComponentName="NzDemoInputSizeComponent" [nzCode]="size" [nzRawCode]="sizeRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/input/demo/size.md'">
	<nz-demo-input-size demo></nz-demo-input-size>
	<div intro ngNonBindable>
		<p>There are three sizes of an Input box: <code>large</code> (40px)、<code>default</code> (32px) and <code>small</code> (24px).</p>
<p>Note: Inside of forms, only the large size is used.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Input Group" [nzId]="'components-input-demo-group'" nzSelector="nz-demo-input-group" [nzLink]="'components-input-demo-group'" nzGenerateCommand="ng g ng-zorro-antd:input-group -p app --name=" nzComponentName="NzDemoInputGroupComponent" [nzCode]="group" [nzRawCode]="groupRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/input/demo/group.md'">
	<nz-demo-input-group demo></nz-demo-input-group>
	<div intro ngNonBindable>
		<p>Input.Group example</p>
<p>Note: You don&#39;t need <code>nz-col</code> to control the width in the <code>nzCompact</code> mode.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="TextArea" [nzId]="'components-input-demo-textarea'" nzSelector="nz-demo-input-textarea" [nzLink]="'components-input-demo-textarea'" nzGenerateCommand="ng g ng-zorro-antd:input-textarea -p app --name=" nzComponentName="NzDemoInputTextareaComponent" [nzCode]="textarea" [nzRawCode]="textareaRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/input/demo/textarea.md'">
	<nz-demo-input-textarea demo></nz-demo-input-textarea>
	<div intro ngNonBindable>
		<p>For multi-line input.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Format Tooltip Input" [nzId]="'components-input-demo-tooltip'" nzSelector="nz-demo-input-tooltip" [nzLink]="'components-input-demo-tooltip'" nzGenerateCommand="ng g ng-zorro-antd:input-tooltip -p app --name=" nzComponentName="NzDemoInputTooltipComponent" [nzCode]="tooltip" [nzRawCode]="tooltipRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/input/demo/tooltip.md'">
	<nz-demo-input-tooltip demo></nz-demo-input-tooltip>
	<div intro ngNonBindable>
		<p>You can use the Input in conjunction with <a href="/components/tooltip/en">Tooltip</a> component to create a Numeric Input, which can provide a good experience for extra-long content display.</p>

	</div>
</nz-code-box>

	</div>
</div>
<section class="markdown api-container" ngNonBindable><h2 id="api"><span>API</span><a onclick="window.location.hash = 'api'" class="anchor">#</a></h2><h3 id="[nz-input]"><span>[nz-input]</span><label class="api-type-label directive">directive</label><a onclick="window.location.hash = '[nz-input]'" class="anchor">#</a></h3><p>All props of input supported by <a href="https://www.w3schools.com/tags/tag_input.asp">w3c standards</a> and Angular can used in <code>nz-input</code>.</p>
<table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[nzSize]</code></td>
<td>The size of the input box. Note: in the context of a form, the <code>large</code> size is used. Available: <code>large</code> <code>default</code> <code>small</code></td>
<td>string</td>
<td><code>default</code></td>
</tr>
<tr>
<td><code>[nzAutosize]</code></td>
<td>Only used for <code>textarea</code>, height autosize feature, can be set to <code>boolean</code> or an object <code>&#123; minRows: 2, maxRows: 6 &#125;</code></td>
<td>boolean丨<code>&#123; minRows: number, maxRows: number &#125;</code></td>
<td>false</td>
</tr>
</tbody>
</table>
<h3 id="nz-input-group"><span>nz-input-group</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-input-group'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[nzAddonAfter]</code></td>
<td>The label text displayed after (on the right side of) the input field.</td>
<td>string 丨 <code>TemplateRef&lt;void&gt;</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzAddonAfterIcon]</code></td>
<td>The label icon&#39;s ngClass displayed after.</td>
<td><code>string 丨 string[] 丨 Set&lt;string&gt; 丨 &#123; [klass: string]: any; &#125;</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzAddonBefore]</code></td>
<td>The label text displayed before (on the left side of) the input field.</td>
<td>string 丨 <code>TemplateRef&lt;void&gt;</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzAddonBeforeIcon]</code></td>
<td>The label icon&#39;s ngClass displayed before.</td>
<td><code>string 丨 string[] 丨 Set&lt;string&gt; 丨 &#123; [klass: string]: any; &#125;</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzPrefix]</code></td>
<td>The prefix icon for the Input.</td>
<td>string 丨 <code>TemplateRef&lt;void&gt;</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzPrefixIcon]</code></td>
<td>The prefix icon&#39;s ngClass for the Input.</td>
<td><code>string 丨 string[] 丨 Set&lt;string&gt; 丨 &#123; [klass: string]: any; &#125;</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzSuffix]</code></td>
<td>The suffix icon for the Input.</td>
<td>string 丨 <code>TemplateRef&lt;void&gt;</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzSuffixIcon]</code></td>
<td>The suffix icon&#39;s ngClass for the Input.</td>
<td><code>string 丨 string[] 丨 Set&lt;string&gt; 丨 &#123; [klass: string]: any; &#125;</code></td>
<td></td>
</tr>
<tr>
<td><code>[nzCompact]</code></td>
<td>Whether use compact style</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzSize]</code></td>
<td>The size of <code>nz-input-group</code> specifies the size of the included <code>nz-input</code> fields. Available: <code>large</code> <code>default</code> <code>small</code></td>
<td>string</td>
<td><code>default</code></td>
</tr>
</tbody>
</table>
</section></article></main></app-root>
    <script type="text/javascript">
      // Single Page Apps for GitHub Pages
      // https://github.com/rafrex/spa-github-pages
      // Copyright (c) 2016 Rafael Pedicini, licensed under the MIT License
      // ----------------------------------------------------------------------
      // This script checks to see if a redirect is present in the query string
      // and converts it back into the correct url and adds it to the
      // browser's history using window.history.replaceState(...),
      // which won't cause the browser to attempt to load the new url.
      // When the single page app is loaded further down in this file,
      // the correct url will be waiting in the browser's history for
      // the single page app to route accordingly.
      (function(l) {
        if (l.search) {
          var q = {};
          l.search.slice(1).split('&').forEach(function(v) {
            var a = v.split('=');
            q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
          });
          if (q.p !== undefined) {
            window.history.replaceState(null, null,
              l.pathname.slice(0, -1) + (q.p || '') +
              (q.q ? ('?' + q.q) : '') +
              l.hash
            );
          }
        }
      }(window.location))
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52892298-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-52892298-2');
    </script>
  <script type="text/javascript" src="runtime.3b80d31845c016626f6e.js"></script><script type="text/javascript" src="polyfills.123964adf0983bf3e4a6.js"></script><script type="text/javascript" src="scripts.03e042f1f102bf0e2ed8.js"></script><script type="text/javascript" src="main.e2ecce41a02d6a32c114.js"></script></body>
</html>
