<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Steps - NG-ZORRO - Ant Design Of Angular</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
    <!-- Hotjar Tracking Code for ng.ant.design -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:792689,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
  <link rel="stylesheet" href="styles.ba7484eafc88ea9e5128.css"></head>
  <body>
    <nav><ul><li><a href="/docs/introduce/zh">Ant Design of Angular</a></li>
<li><a href="/docs/introduce/en">Ant Design of Angular</a></li>
<li><a href="/docs/getting-started/zh">快速上手</a></li>
<li><a href="/docs/getting-started/en">Getting Started</a></li>
<li><a href="/docs/schematics/en">Schematics</a></li>
<li><a href="/docs/schematics/zh">脚手架</a></li>
<li><a href="/docs/i18n/en">Internationalization</a></li>
<li><a href="/docs/i18n/zh">国际化</a></li>
<li><a href="/docs/customize-theme/en">Customize Theme</a></li>
<li><a href="/docs/customize-theme/zh">定制主题</a></li>
<li><a href="/docs/recommendation/zh">社区推荐</a></li>
<li><a href="/docs/recommendation/en">Third-Party Libraries</a></li>
<li><a href="/docs/faq/zh">常见问题</a></li>
<li><a href="/docs/faq/en">FAQ</a></li>
<li><a href="/docs/contributing/zh">贡献指南</a></li>
<li><a href="/docs/changelog/zh">更新日志</a></li>
<li><a href="/docs/contributing/en">Contributing to NG-ZORRO</a></li>
<li><a href="/docs/changelog/en">Change Log</a></li></ul><ul><li><h3>General</h3><ul><li><a href="/components/button/zh">按钮</a></li>
<li><a href="/components/button/en">Button</a></li>
<li><a href="/components/icon/zh">图标</a></li>
<li><a href="/components/icon/en">Icon</a></li></ul></li>,<li><h3>Layout</h3><ul><li><a href="/components/grid/zh">栅格</a></li>
<li><a href="/components/grid/en">Grid</a></li>
<li><a href="/components/layout/zh">布局</a></li>
<li><a href="/components/layout/en">Layout</a></li></ul></li>,<li><h3>Navigation</h3><ul><li><a href="/components/affix/zh">固钉</a></li>
<li><a href="/components/affix/en">Affix</a></li>
<li><a href="/components/breadcrumb/zh">面包屑</a></li>
<li><a href="/components/breadcrumb/en">Breadcrumb</a></li>
<li><a href="/components/dropdown/zh">下拉菜单</a></li>
<li><a href="/components/dropdown/en">Dropdown</a></li>
<li><a href="/components/menu/zh">导航菜单</a></li>
<li><a href="/components/menu/en">Menu</a></li>
<li><a href="/components/pagination/zh">分页</a></li>
<li><a href="/components/pagination/en">Pagination</a></li>
<li><a href="/components/steps/zh">步骤条</a></li>
<li><a href="/components/steps/en">Steps</a></li></ul></li>,<li><h3>Data Entry</h3><ul><li><a href="/components/auto-complete/zh">自动完成</a></li>
<li><a href="/components/auto-complete/en">Autocomplete</a></li>
<li><a href="/components/cascader/zh">级联选择</a></li>
<li><a href="/components/cascader/en">Cascader</a></li>
<li><a href="/components/checkbox/zh">多选框</a></li>
<li><a href="/components/checkbox/en">Checkbox</a></li>
<li><a href="/components/date-picker/zh">日期选择框</a></li>
<li><a href="/components/date-picker/en">DatePicker</a></li>
<li><a href="/components/form/zh">表单</a></li>
<li><a href="/components/form/en">Form</a></li>
<li><a href="/components/input/zh">输入框</a></li>
<li><a href="/components/input/en">Input</a></li>
<li><a href="/components/input-number/zh">数字输入框</a></li>
<li><a href="/components/input-number/en">InputNumber</a></li>
<li><a href="/components/mention/zh">提及</a></li>
<li><a href="/components/mention/en">Mention</a></li>
<li><a href="/components/radio/zh">单选框</a></li>
<li><a href="/components/radio/en">Radio</a></li>
<li><a href="/components/rate/zh">评分</a></li>
<li><a href="/components/rate/en">Rate</a></li>
<li><a href="/components/select/zh">选择器</a></li>
<li><a href="/components/select/en">Select</a></li>
<li><a href="/components/slider/zh">滑动输入条</a></li>
<li><a href="/components/slider/en">Slider</a></li>
<li><a href="/components/switch/zh">开关</a></li>
<li><a href="/components/switch/en">Switch</a></li>
<li><a href="/components/time-picker/zh">时间选择框</a></li>
<li><a href="/components/time-picker/en">TimePicker</a></li>
<li><a href="/components/transfer/zh">穿梭框</a></li>
<li><a href="/components/transfer/en">Transfer</a></li>
<li><a href="/components/tree-select/zh">树选择</a></li>
<li><a href="/components/tree-select/en">TreeSelect</a></li>
<li><a href="/components/upload/zh">上传</a></li>
<li><a href="/components/upload/en">Upload</a></li></ul></li>,<li><h3>Data Display</h3><ul><li><a href="/components/avatar/zh">头像</a></li>
<li><a href="/components/avatar/en">Avatar</a></li>
<li><a href="/components/badge/zh">徽标数</a></li>
<li><a href="/components/badge/en">Badge</a></li>
<li><a href="/components/calendar/zh">日历</a></li>
<li><a href="/components/calendar/en">Calendar</a></li>
<li><a href="/components/card/zh">卡片</a></li>
<li><a href="/components/card/en">Card</a></li>
<li><a href="/components/carousel/zh">走马灯</a></li>
<li><a href="/components/carousel/en">Carousel</a></li>
<li><a href="/components/collapse/zh">折叠面板</a></li>
<li><a href="/components/collapse/en">Collapse</a></li>
<li><a href="/components/list/zh">列表</a></li>
<li><a href="/components/list/en">List</a></li>
<li><a href="/components/popover/zh">气泡卡片</a></li>
<li><a href="/components/popover/en">Popover</a></li>
<li><a href="/components/table/zh">表格</a></li>
<li><a href="/components/table/en">Table</a></li>
<li><a href="/components/tabs/zh">标签页</a></li>
<li><a href="/components/tabs/en">Tabs</a></li>
<li><a href="/components/tag/zh">标签</a></li>
<li><a href="/components/tag/en">Tag</a></li>
<li><a href="/components/timeline/zh">时间轴</a></li>
<li><a href="/components/timeline/en">Timeline</a></li>
<li><a href="/components/tooltip/zh">文字提示</a></li>
<li><a href="/components/tooltip/en">Tooltip</a></li>
<li><a href="/components/tree/zh">树形控件</a></li>
<li><a href="/components/tree/en">Tree</a></li></ul></li>,<li><h3>Feedback</h3><ul><li><a href="/components/alert/zh">警告提示</a></li>
<li><a href="/components/alert/en">Alert</a></li>
<li><a href="/components/drawer/zh">抽屉</a></li>
<li><a href="/components/drawer/en">Drawer</a></li>
<li><a href="/components/message/zh">全局提示</a></li>
<li><a href="/components/message/en">Message</a></li>
<li><a href="/components/modal/zh">对话框</a></li>
<li><a href="/components/modal/en">Modal</a></li>
<li><a href="/components/notification/zh">通知提醒框</a></li>
<li><a href="/components/notification/en">Notification</a></li>
<li><a href="/components/popconfirm/zh">气泡确认框</a></li>
<li><a href="/components/popconfirm/en">Popconfirm</a></li>
<li><a href="/components/progress/zh">进度条</a></li>
<li><a href="/components/progress/en">Progress</a></li>
<li><a href="/components/skeleton/zh">加载占位图</a></li>
<li><a href="/components/skeleton/en">Skeleton</a></li>
<li><a href="/components/spin/zh">加载中</a></li>
<li><a href="/components/spin/en">Spin</a></li></ul></li>,<li><h3>Other</h3><ul><li><a href="/components/anchor/zh">锚点</a></li>
<li><a href="/components/anchor/en">Anchor</a></li>
<li><a href="/components/back-top/zh">回到顶部</a></li>
<li><a href="/components/back-top/en">BackTop</a></li>
<li><a href="/components/divider/zh">分割线</a></li>
<li><a href="/components/divider/en">Divider</a></li></ul></li></ul></nav><main><article><nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
      <nz-link nzHref="#components-steps-demo-simple" nzTitle="Basic"></nz-link><nz-link nzHref="#components-steps-demo-small-size" nzTitle="Mini version"></nz-link><nz-link nzHref="#components-steps-demo-start-index" nzTitle="Starting Index"></nz-link><nz-link nzHref="#components-steps-demo-icon" nzTitle="With icon"></nz-link><nz-link nzHref="#components-steps-demo-step-next" nzTitle="Switch Step"></nz-link><nz-link nzHref="#components-steps-demo-vertical" nzTitle="Vertical"></nz-link><nz-link nzHref="#components-steps-demo-vertical-small" nzTitle="Vertical mini version"></nz-link><nz-link nzHref="#components-steps-demo-error" nzTitle="Error status"></nz-link><nz-link nzHref="#components-steps-demo-progress-dot" nzTitle="Dot Style"></nz-link><nz-link nzHref="#components-steps-demo-customized-progress-dot" nzTitle="Customized Dot Style"></nz-link>
    </nz-anchor>
  </nz-affix><section class="markdown">
	<h1>Steps<span class="subtitle"></span>
	<a class="edit-button" href="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/steps/doc/index.en-US.md" target="_blank">
		<i nz-icon type="edit"></i></a>
</h1>
	<section class="markdown" ngNonBindable>
		<p><code>Steps</code> is a navigation bar that guides users through the steps of a task.</p>
<h2 id="when-to-use"><span>When To Use</span><a onclick="window.location.hash = 'when-to-use'" class="anchor">#</a></h2><p>When the task is complicated or has a certain sequence in the series of subtasks, we can decompose it into several steps to make things easier.</p>

	</section>
	
	<h2>
		<span>Examples</span>
		<i nz-icon type="appstore" class="code-box-expand-trigger" title="expand all code" (click)="expandAllCode()"></i>
	</h2>
</section><div nz-row [nzGutter]="8">
	<div nz-col [nzSpan]="24">
		<nz-code-box nzTitle="Basic" [nzId]="'components-steps-demo-simple'" nzSelector="nz-demo-steps-simple" [nzLink]="'components-steps-demo-simple'" nzGenerateCommand="ng g ng-zorro-antd:steps-simple -p app --name=" nzComponentName="NzDemoStepsSimpleComponent" [nzCode]="simple" [nzRawCode]="simpleRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/steps/demo/simple.md'">
	<nz-demo-steps-simple demo></nz-demo-steps-simple>
	<div intro ngNonBindable>
		<p>The most basic step bar.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Mini version" [nzId]="'components-steps-demo-small-size'" nzSelector="nz-demo-steps-small-size" [nzLink]="'components-steps-demo-small-size'" nzGenerateCommand="ng g ng-zorro-antd:steps-small-size -p app --name=" nzComponentName="NzDemoStepsSmallSizeComponent" [nzCode]="smallSize" [nzRawCode]="smallSizeRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/steps/demo/small-size.md'">
	<nz-demo-steps-small-size demo></nz-demo-steps-small-size>
	<div intro ngNonBindable>
		<p>By setting like this: <code>&lt;nz-steps nzSize=&quot;small&quot;&gt;</code>, you can get a mini version.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Starting Index" [nzId]="'components-steps-demo-start-index'" nzSelector="nz-demo-steps-start-index" [nzLink]="'components-steps-demo-start-index'" nzGenerateCommand="ng g ng-zorro-antd:steps-start-index -p app --name=" nzComponentName="NzDemoStepsStartIndexComponent" [nzCode]="startIndex" [nzRawCode]="startIndexRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/steps/demo/start-index.md'">
	<nz-demo-steps-start-index demo></nz-demo-steps-start-index>
	<div intro ngNonBindable>
		<p>By setting <code>nzStartIndex</code> to change starting index of a step component. Be sure to add an offset to <code>nzCurrent</code> as well.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="With icon" [nzId]="'components-steps-demo-icon'" nzSelector="nz-demo-steps-icon" [nzLink]="'components-steps-demo-icon'" nzGenerateCommand="ng g ng-zorro-antd:steps-icon -p app --name=" nzComponentName="NzDemoStepsIconComponent" [nzCode]="icon" [nzRawCode]="iconRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/steps/demo/icon.md'">
	<nz-demo-steps-icon demo></nz-demo-steps-icon>
	<div intro ngNonBindable>
		<p>You can use your own custom icons by setting the property <code>nzIcon</code> for <code>nz-step</code>. Old API is still compatible but we strongly suggest the new API.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Switch Step" [nzId]="'components-steps-demo-step-next'" nzSelector="nz-demo-steps-step-next" [nzLink]="'components-steps-demo-step-next'" nzGenerateCommand="ng g ng-zorro-antd:steps-step-next -p app --name=" nzComponentName="NzDemoStepsStepNextComponent" [nzCode]="stepNext" [nzRawCode]="stepNextRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/steps/demo/step-next.md'">
	<nz-demo-steps-step-next demo></nz-demo-steps-step-next>
	<div intro ngNonBindable>
		<p>Cooperate with the content and buttons, to represent the progress of a process.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Vertical" [nzId]="'components-steps-demo-vertical'" nzSelector="nz-demo-steps-vertical" [nzLink]="'components-steps-demo-vertical'" nzGenerateCommand="ng g ng-zorro-antd:steps-vertical -p app --name=" nzComponentName="NzDemoStepsVerticalComponent" [nzCode]="vertical" [nzRawCode]="verticalRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/steps/demo/vertical.md'">
	<nz-demo-steps-vertical demo></nz-demo-steps-vertical>
	<div intro ngNonBindable>
		<p>A simple step bar in the vertical direction.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Vertical mini version" [nzId]="'components-steps-demo-vertical-small'" nzSelector="nz-demo-steps-vertical-small" [nzLink]="'components-steps-demo-vertical-small'" nzGenerateCommand="ng g ng-zorro-antd:steps-vertical-small -p app --name=" nzComponentName="NzDemoStepsVerticalSmallComponent" [nzCode]="verticalSmall" [nzRawCode]="verticalSmallRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/steps/demo/vertical-small.md'">
	<nz-demo-steps-vertical-small demo></nz-demo-steps-vertical-small>
	<div intro ngNonBindable>
		<p>A simple mini version step bar in the vertical direction.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Error status" [nzId]="'components-steps-demo-error'" nzSelector="nz-demo-steps-error" [nzLink]="'components-steps-demo-error'" nzGenerateCommand="ng g ng-zorro-antd:steps-error -p app --name=" nzComponentName="NzDemoStepsErrorComponent" [nzCode]="error" [nzRawCode]="errorRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/steps/demo/error.md'">
	<nz-demo-steps-error demo></nz-demo-steps-error>
	<div intro ngNonBindable>
		<p>By using <code>nzStatus</code> of <code>nz-steps</code>, you can specify the state for current step.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Dot Style" [nzId]="'components-steps-demo-progress-dot'" nzSelector="nz-demo-steps-progress-dot" [nzLink]="'components-steps-demo-progress-dot'" nzGenerateCommand="ng g ng-zorro-antd:steps-progress-dot -p app --name=" nzComponentName="NzDemoStepsProgressDotComponent" [nzCode]="progressDot" [nzRawCode]="progressDotRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/steps/demo/progress-dot.md'">
	<nz-demo-steps-progress-dot demo></nz-demo-steps-progress-dot>
	<div intro ngNonBindable>
		<p>Steps with progress dot style.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Customized Dot Style" [nzId]="'components-steps-demo-customized-progress-dot'" nzSelector="nz-demo-steps-customized-progress-dot" [nzLink]="'components-steps-demo-customized-progress-dot'" nzGenerateCommand="ng g ng-zorro-antd:steps-customized-progress-dot -p app --name=" nzComponentName="NzDemoStepsCustomizedProgressDotComponent" [nzCode]="customizedProgressDot" [nzRawCode]="customizedProgressDotRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/steps/demo/customized-progress-dot.md'">
	<nz-demo-steps-customized-progress-dot demo></nz-demo-steps-customized-progress-dot>
	<div intro ngNonBindable>
		<p>You can customize the display for Steps with progress dot style.</p>

	</div>
</nz-code-box>

	</div>
</div><section class="markdown api-container" ngNonBindable><h2 id="api"><span>API</span><a onclick="window.location.hash = 'api'" class="anchor">#</a></h2><pre><code class="lang-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nz-steps</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nz-step</span> <span class="token attr-name">nzTitle</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>first step<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nz-step</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nz-step</span> <span class="token attr-name">nzTitle</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>second step<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nz-step</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nz-step</span> <span class="token attr-name">nzTitle</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>third step<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nz-step</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nz-steps</span><span class="token punctuation">></span></span>
</code></pre>
<h3 id="nz-steps"><span>nz-steps</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-steps'" class="anchor">#</a></h3><p>The whole of the step bar.</p>
<table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[nzCurrent]</code></td>
<td>to set the current step, counting from 0. You can overwrite this state by using <code>nzStatus</code> of <code>nz-step</code></td>
<td>number</td>
<td>0</td>
</tr>
<tr>
<td><code>[nzDirection]</code></td>
<td>to specify the direction of the step bar, <code>horizontal</code> and <code>vertical</code> are currently supported</td>
<td>string</td>
<td><code>horizontal</code></td>
</tr>
<tr>
<td><code>[nzProgressDot]</code></td>
<td>Steps with progress dot style, customize the progress dot by setting it with TemplateRef</td>
<td>Boolean 丨 <code>TemplateRef&lt;&#123; $implicit: TemplateRef&lt;void&gt;, status: string, index: number &#125;&gt;</code></td>
<td>false</td>
</tr>
<tr>
<td><code>[nzSize]</code></td>
<td>to specify the size of the step bar, <code>default</code> and <code>small</code> are currently supported</td>
<td>string</td>
<td><code>default</code></td>
</tr>
<tr>
<td><code>[nzStatus]</code></td>
<td>to specify the status of current step, can be set to one of the following values: <code>wait</code> <code>process</code> <code>finish</code> <code>error</code></td>
<td>string</td>
<td><code>process</code></td>
</tr>
<tr>
<td><code>[nzStartIndex]</code></td>
<td>to specify the starting number</td>
<td>number</td>
<td>0</td>
</tr>
</tbody>
</table>
<h3 id="nz-step"><span>nz-step</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-step'" class="anchor">#</a></h3><p>A single step in the step bar.</p>
<table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[nzDescription]</code></td>
<td>description of the step, optional property</td>
<td>string 丨 <code>TemplateRef&lt;void&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzIcon]</code></td>
<td>icon of the step, optional property</td>
<td><code>string 丨 string[] 丨 Set&lt;string&gt; 丨 &#123; [klass: string]: any; &#125;;</code> 丨 <code>TemplateRef&lt;void&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzStatus]</code></td>
<td>to specify the status. It will be automatically set by <code>nzCurrent</code> of <code>nz-steps</code> if not configured. Optional values are: <code>wait</code> <code>process</code> <code>finish</code> <code>error</code></td>
<td>string</td>
<td><code>wait</code></td>
</tr>
<tr>
<td><code>[nzTitle]</code></td>
<td>title of the step</td>
<td>string 丨 <code>TemplateRef&lt;void&gt;</code></td>
<td>-</td>
</tr>
</tbody>
</table>
</section></article></main>
    <script type="text/javascript">
      // Single Page Apps for GitHub Pages
      // https://github.com/rafrex/spa-github-pages
      // Copyright (c) 2016 Rafael Pedicini, licensed under the MIT License
      // ----------------------------------------------------------------------
      // This script checks to see if a redirect is present in the query string
      // and converts it back into the correct url and adds it to the
      // browser's history using window.history.replaceState(...),
      // which won't cause the browser to attempt to load the new url.
      // When the single page app is loaded further down in this file,
      // the correct url will be waiting in the browser's history for
      // the single page app to route accordingly.
      (function(l) {
        if (l.search) {
          var q = {};
          l.search.slice(1).split('&').forEach(function(v) {
            var a = v.split('=');
            q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
          });
          if (q.p !== undefined) {
            window.history.replaceState(null, null,
              l.pathname.slice(0, -1) + (q.p || '') +
              (q.q ? ('?' + q.q) : '') +
              l.hash
            );
          }
        }
      }(window.location))
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52892298-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-52892298-2');
    </script>
  <script type="text/javascript" src="runtime.3b80d31845c016626f6e.js"></script><script type="text/javascript" src="polyfills.123964adf0983bf3e4a6.js"></script><script type="text/javascript" src="scripts.03e042f1f102bf0e2ed8.js"></script><script type="text/javascript" src="main.7e111ff5ba3e8cf76293.js"></script></body>
</html>
