<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>表单 - NG-ZORRO - Ant Design Of Angular</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
    <!-- Hotjar Tracking Code for ng.ant.design -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:792689,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
  <link rel="stylesheet" href="styles.ba7484eafc88ea9e5128.css"></head>
  <body>
    <app-root><div style="overflow: hidden;height: 0"><nav><ul><li><a href="/docs/introduce/zh">Ant Design of Angular</a></li>
<li><a href="/docs/introduce/en">Ant Design of Angular</a></li>
<li><a href="/docs/getting-started/zh">快速上手</a></li>
<li><a href="/docs/getting-started/en">Getting Started</a></li>
<li><a href="/docs/schematics/en">Schematics</a></li>
<li><a href="/docs/schematics/zh">脚手架</a></li>
<li><a href="/docs/i18n/en">Internationalization</a></li>
<li><a href="/docs/i18n/zh">国际化</a></li>
<li><a href="/docs/customize-theme/en">Customize Theme</a></li>
<li><a href="/docs/customize-theme/zh">定制主题</a></li>
<li><a href="/docs/recommendation/zh">社区推荐</a></li>
<li><a href="/docs/recommendation/en">Third-Party Libraries</a></li>
<li><a href="/docs/faq/zh">常见问题</a></li>
<li><a href="/docs/faq/en">FAQ</a></li>
<li><a href="/docs/contributing/zh">贡献指南</a></li>
<li><a href="/docs/changelog/zh">更新日志</a></li>
<li><a href="/docs/contributing/en">Contributing to NG-ZORRO</a></li>
<li><a href="/docs/changelog/en">Change Log</a></li></ul><ul><li><h3>General</h3><ul><li><a href="/components/button/zh">按钮</a></li>
<li><a href="/components/button/en">Button</a></li>
<li><a href="/components/icon/zh">图标</a></li>
<li><a href="/components/icon/en">Icon</a></li></ul></li>,<li><h3>Layout</h3><ul><li><a href="/components/grid/zh">栅格</a></li>
<li><a href="/components/grid/en">Grid</a></li>
<li><a href="/components/layout/zh">布局</a></li>
<li><a href="/components/layout/en">Layout</a></li></ul></li>,<li><h3>Navigation</h3><ul><li><a href="/components/affix/zh">固钉</a></li>
<li><a href="/components/affix/en">Affix</a></li>
<li><a href="/components/breadcrumb/zh">面包屑</a></li>
<li><a href="/components/breadcrumb/en">Breadcrumb</a></li>
<li><a href="/components/dropdown/zh">下拉菜单</a></li>
<li><a href="/components/dropdown/en">Dropdown</a></li>
<li><a href="/components/menu/zh">导航菜单</a></li>
<li><a href="/components/menu/en">Menu</a></li>
<li><a href="/components/pagination/zh">分页</a></li>
<li><a href="/components/pagination/en">Pagination</a></li>
<li><a href="/components/steps/zh">步骤条</a></li>
<li><a href="/components/steps/en">Steps</a></li></ul></li>,<li><h3>Data Entry</h3><ul><li><a href="/components/auto-complete/zh">自动完成</a></li>
<li><a href="/components/auto-complete/en">Autocomplete</a></li>
<li><a href="/components/cascader/zh">级联选择</a></li>
<li><a href="/components/cascader/en">Cascader</a></li>
<li><a href="/components/checkbox/zh">多选框</a></li>
<li><a href="/components/checkbox/en">Checkbox</a></li>
<li><a href="/components/date-picker/zh">日期选择框</a></li>
<li><a href="/components/date-picker/en">DatePicker</a></li>
<li><a href="/components/form/zh">表单</a></li>
<li><a href="/components/form/en">Form</a></li>
<li><a href="/components/input/zh">输入框</a></li>
<li><a href="/components/input/en">Input</a></li>
<li><a href="/components/input-number/zh">数字输入框</a></li>
<li><a href="/components/input-number/en">InputNumber</a></li>
<li><a href="/components/mention/zh">提及</a></li>
<li><a href="/components/mention/en">Mention</a></li>
<li><a href="/components/radio/zh">单选框</a></li>
<li><a href="/components/radio/en">Radio</a></li>
<li><a href="/components/rate/zh">评分</a></li>
<li><a href="/components/rate/en">Rate</a></li>
<li><a href="/components/select/zh">选择器</a></li>
<li><a href="/components/select/en">Select</a></li>
<li><a href="/components/slider/zh">滑动输入条</a></li>
<li><a href="/components/slider/en">Slider</a></li>
<li><a href="/components/switch/zh">开关</a></li>
<li><a href="/components/switch/en">Switch</a></li>
<li><a href="/components/time-picker/zh">时间选择框</a></li>
<li><a href="/components/time-picker/en">TimePicker</a></li>
<li><a href="/components/transfer/zh">穿梭框</a></li>
<li><a href="/components/transfer/en">Transfer</a></li>
<li><a href="/components/tree-select/zh">树选择</a></li>
<li><a href="/components/tree-select/en">TreeSelect</a></li>
<li><a href="/components/upload/zh">上传</a></li>
<li><a href="/components/upload/en">Upload</a></li></ul></li>,<li><h3>Data Display</h3><ul><li><a href="/components/avatar/zh">头像</a></li>
<li><a href="/components/avatar/en">Avatar</a></li>
<li><a href="/components/badge/zh">徽标数</a></li>
<li><a href="/components/badge/en">Badge</a></li>
<li><a href="/components/calendar/zh">日历</a></li>
<li><a href="/components/calendar/en">Calendar</a></li>
<li><a href="/components/card/zh">卡片</a></li>
<li><a href="/components/card/en">Card</a></li>
<li><a href="/components/carousel/zh">走马灯</a></li>
<li><a href="/components/carousel/en">Carousel</a></li>
<li><a href="/components/collapse/zh">折叠面板</a></li>
<li><a href="/components/collapse/en">Collapse</a></li>
<li><a href="/components/list/zh">列表</a></li>
<li><a href="/components/list/en">List</a></li>
<li><a href="/components/popover/zh">气泡卡片</a></li>
<li><a href="/components/popover/en">Popover</a></li>
<li><a href="/components/table/zh">表格</a></li>
<li><a href="/components/table/en">Table</a></li>
<li><a href="/components/tabs/zh">标签页</a></li>
<li><a href="/components/tabs/en">Tabs</a></li>
<li><a href="/components/tag/zh">标签</a></li>
<li><a href="/components/tag/en">Tag</a></li>
<li><a href="/components/timeline/zh">时间轴</a></li>
<li><a href="/components/timeline/en">Timeline</a></li>
<li><a href="/components/tooltip/zh">文字提示</a></li>
<li><a href="/components/tooltip/en">Tooltip</a></li>
<li><a href="/components/tree/zh">树形控件</a></li>
<li><a href="/components/tree/en">Tree</a></li></ul></li>,<li><h3>Feedback</h3><ul><li><a href="/components/alert/zh">警告提示</a></li>
<li><a href="/components/alert/en">Alert</a></li>
<li><a href="/components/drawer/zh">抽屉</a></li>
<li><a href="/components/drawer/en">Drawer</a></li>
<li><a href="/components/message/zh">全局提示</a></li>
<li><a href="/components/message/en">Message</a></li>
<li><a href="/components/modal/zh">对话框</a></li>
<li><a href="/components/modal/en">Modal</a></li>
<li><a href="/components/notification/zh">通知提醒框</a></li>
<li><a href="/components/notification/en">Notification</a></li>
<li><a href="/components/popconfirm/zh">气泡确认框</a></li>
<li><a href="/components/popconfirm/en">Popconfirm</a></li>
<li><a href="/components/progress/zh">进度条</a></li>
<li><a href="/components/progress/en">Progress</a></li>
<li><a href="/components/skeleton/zh">加载占位图</a></li>
<li><a href="/components/skeleton/en">Skeleton</a></li>
<li><a href="/components/spin/zh">加载中</a></li>
<li><a href="/components/spin/en">Spin</a></li></ul></li>,<li><h3>Other</h3><ul><li><a href="/components/anchor/zh">锚点</a></li>
<li><a href="/components/anchor/en">Anchor</a></li>
<li><a href="/components/back-top/zh">回到顶部</a></li>
<li><a href="/components/back-top/en">BackTop</a></li>
<li><a href="/components/divider/zh">分割线</a></li>
<li><a href="/components/divider/en">Divider</a></li></ul></li></ul></nav><main><article><nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
      <nz-link nzHref="#components-form-demo-horizontal-login" nzTitle="水平登录栏"></nz-link><nz-link nzHref="#components-form-demo-normal-login" nzTitle="登录框"></nz-link><nz-link nzHref="#components-form-demo-register" nzTitle="注册新用户"></nz-link><nz-link nzHref="#components-form-demo-advanced-search" nzTitle="高级搜索"></nz-link><nz-link nzHref="#components-form-demo-dynamic-form-item" nzTitle="动态增减表单项"></nz-link><nz-link nzHref="#components-form-demo-time-related-controls" nzTitle="时间类控件"></nz-link><nz-link nzHref="#components-form-demo-validate-reactive" nzTitle="响应式表单验证"></nz-link><nz-link nzHref="#components-form-demo-validate-static" nzTitle="模板驱动表单验证"></nz-link><nz-link nzHref="#components-form-demo-coordinated" nzTitle="表单联动"></nz-link><nz-link nzHref="#components-form-demo-layout" nzTitle="表单布局"></nz-link><nz-link nzHref="#components-form-demo-dynamic-rule" nzTitle="动态校验规则"></nz-link>
    </nz-anchor>
  </nz-affix><section class="markdown">
	<h1>Form<span class="subtitle">表单</span>
	<a class="edit-button" href="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/form/doc/index.zh-CN.md" target="_blank">
		<i nz-icon type="edit"></i></a>
</h1>
	<section class="markdown" ngNonBindable>
		<p>具有数据收集、校验和提交功能的表单，包含复选框、单选框、输入框、下拉选择框等元素。</p>
<p>该组件需要与 <a href="https://angular.io/guide/forms#forms">Angular表单</a> 结合使用，开发者根据需要可以自由选择 <a href="https://angular.io/guide/reactive-forms#reactive-forms">响应式表单</a> 或 <a href="https://angular.io/guide/forms#template-driven-forms">模板驱动表单</a>.</p>
<blockquote>
<p>使用该组件前请确保您已经阅读并掌握了 <a href="https://angular.io/guide/forms#forms">Forms</a> 的使用方式。</p>
</blockquote>
<h2 id="表单"><span>表单</span><a onclick="window.location.hash = '表单'" class="anchor">#</a></h2><p>我们提供了以下三种排列方式：</p>
<ul>
<li>水平排列：标签和表单控件水平排列；（默认）</li>
<li>垂直排列：标签和表单控件上下垂直排列；</li>
<li>行内排列：表单项水平行内排列。</li>
</ul>
<h3 id="表单项-nz-form-item"><span>表单项 nz-form-item</span><a onclick="window.location.hash = '表单项-nz-form-item'" class="anchor">#</a></h3><p>表单项用于区分表单中不同的区域，包含表单域和表单标签(可选)。</p>
<h3 id="表单标签-nz-form-label"><span>表单标签 nz-form-label</span><a onclick="window.location.hash = '表单标签-nz-form-label'" class="anchor">#</a></h3><p>用于标示当前表单项的内容，可选。</p>
<h3 id="表单域-nz-form-control"><span>表单域 nz-form-control</span><a onclick="window.location.hash = '表单域-nz-form-control'" class="anchor">#</a></h3><p>表单一定会包含表单域，表单域可以是输入控件，标准表单域，标签，下拉菜单，文本域等。</p>
<pre><code class="lang-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>form</span> <span class="token attr-name">nz-form</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nz-form-item</span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nz-form-label</span> <span class="token attr-name">[nzSpan]</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>6<span class="token punctuation">"</span></span> <span class="token attr-name">nzFor</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>email<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>E-mail<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nz-form-label</span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nz-form-control</span> <span class="token attr-name">[nzSpan]</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>14<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>input</span> <span class="token attr-name">nz-input</span> <span class="token attr-name">name</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>email<span class="token punctuation">"</span></span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>email<span class="token punctuation">"</span></span> <span class="token attr-name">id</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>email<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nz-form-control</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nz-form-item</span> <span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>form</span><span class="token punctuation">></span></span>
</code></pre>

	</section>
	
	<h2>
		<span>代码演示</span>
		<i nz-icon type="appstore" class="code-box-expand-trigger" title="展开全部代码" (click)="expandAllCode()"></i>
	</h2>
</section><div nz-row [nzGutter]="8">
	<div nz-col [nzSpan]="24">
		<nz-code-box nzTitle="水平登录栏" [nzId]="'components-form-demo-horizontal-login'" nzSelector="nz-demo-form-horizontal-login" [nzLink]="'components-form-demo-horizontal-login'" nzGenerateCommand="ng g ng-zorro-antd:form-horizontal-login -p app --name=" nzComponentName="NzDemoFormHorizontalLoginComponent" [nzCode]="horizontalLogin" [nzRawCode]="horizontalLoginRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/form/demo/horizontal-login.md'">
	<nz-demo-form-horizontal-login demo></nz-demo-form-horizontal-login>
	<div intro ngNonBindable>
		<p>水平登录栏，常用在顶部导航栏中。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="登录框" [nzId]="'components-form-demo-normal-login'" nzSelector="nz-demo-form-normal-login" [nzLink]="'components-form-demo-normal-login'" nzGenerateCommand="ng g ng-zorro-antd:form-normal-login -p app --name=" nzComponentName="NzDemoFormNormalLoginComponent" [nzCode]="normalLogin" [nzRawCode]="normalLoginRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/form/demo/normal-login.md'">
	<nz-demo-form-normal-login demo></nz-demo-form-normal-login>
	<div intro ngNonBindable>
		<p>普通的登录框，可以容纳更多的元素。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="注册新用户" [nzId]="'components-form-demo-register'" nzSelector="nz-demo-form-register" [nzLink]="'components-form-demo-register'" nzGenerateCommand="ng g ng-zorro-antd:form-register -p app --name=" nzComponentName="NzDemoFormRegisterComponent" [nzCode]="register" [nzRawCode]="registerRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/form/demo/register.md'">
	<nz-demo-form-register demo></nz-demo-form-register>
	<div intro ngNonBindable>
		<p>用户填写必须的信息以注册新用户。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="高级搜索" [nzId]="'components-form-demo-advanced-search'" nzSelector="nz-demo-form-advanced-search" [nzLink]="'components-form-demo-advanced-search'" nzGenerateCommand="ng g ng-zorro-antd:form-advanced-search -p app --name=" nzComponentName="NzDemoFormAdvancedSearchComponent" [nzCode]="advancedSearch" [nzRawCode]="advancedSearchRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/form/demo/advanced-search.md'">
	<nz-demo-form-advanced-search demo></nz-demo-form-advanced-search>
	<div intro ngNonBindable>
		<p>三列栅格式的表单排列方式，常用于数据表格的高级搜索。</p>
<p>有部分定制的样式代码，由于输入标签长度不确定，需要根据具体情况自行调整。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="动态增减表单项" [nzId]="'components-form-demo-dynamic-form-item'" nzSelector="nz-demo-form-dynamic-form-item" [nzLink]="'components-form-demo-dynamic-form-item'" nzGenerateCommand="ng g ng-zorro-antd:form-dynamic-form-item -p app --name=" nzComponentName="NzDemoFormDynamicFormItemComponent" [nzCode]="dynamicFormItem" [nzRawCode]="dynamicFormItemRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/form/demo/dynamic-form-item.md'">
	<nz-demo-form-dynamic-form-item demo></nz-demo-form-dynamic-form-item>
	<div intro ngNonBindable>
		<p>动态增加、减少表单项。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="时间类控件" [nzId]="'components-form-demo-time-related-controls'" nzSelector="nz-demo-form-time-related-controls" [nzLink]="'components-form-demo-time-related-controls'" nzGenerateCommand="ng g ng-zorro-antd:form-time-related-controls -p app --name=" nzComponentName="NzDemoFormTimeRelatedControlsComponent" [nzCode]="timeRelatedControls" [nzRawCode]="timeRelatedControlsRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/form/demo/time-related-controls.md'">
	<nz-demo-form-time-related-controls demo></nz-demo-form-time-related-controls>
	<div intro ngNonBindable>
		<p>时间类组件的输入和输出类型均为 <code>Date</code> 类型，可以通过 <a href="https://date-fns.org/">date-fns</a> 工具库进行进一步的处理。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="响应式表单验证" [nzId]="'components-form-demo-validate-reactive'" nzSelector="nz-demo-form-validate-reactive" [nzLink]="'components-form-demo-validate-reactive'" nzGenerateCommand="ng g ng-zorro-antd:form-validate-reactive -p app --name=" nzComponentName="NzDemoFormValidateReactiveComponent" [nzCode]="validateReactive" [nzRawCode]="validateReactiveRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/form/demo/validate-reactive.md'">
	<nz-demo-form-validate-reactive demo></nz-demo-form-validate-reactive>
	<div intro ngNonBindable>
		<p>我们在 <code>nz-form-control</code> 上 提供了 <code>nzValidateStatus</code> <code>nzHasFeedback</code> 等属性，当使用<a href="https://angular.io/guide/reactive-forms#reactive-forms">响应式表单</a>时，可以自己定义校验的时机和内容。</p>
<ol>
<li><code>nzValidateStatus</code>: 校验状态，默认自动从 <code>nz-form-control</code> 中的 <code>NgControl</code> 获得校验状态，也可以手动指定为特定的 <code>NgControl</code>。</li>
<li><code>nzHasFeedback</code>：用于给输入框添加反馈图标。</li>
<li><code>nz-form-explain</code>：设置校验文案。</li>
</ol>

	</div>
</nz-code-box>
<nz-code-box nzTitle="模板驱动表单验证" [nzId]="'components-form-demo-validate-static'" nzSelector="nz-demo-form-validate-static" [nzLink]="'components-form-demo-validate-static'" nzGenerateCommand="ng g ng-zorro-antd:form-validate-static -p app --name=" nzComponentName="NzDemoFormValidateStaticComponent" [nzCode]="validateStatic" [nzRawCode]="validateStaticRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/form/demo/validate-static.md'">
	<nz-demo-form-validate-static demo></nz-demo-form-validate-static>
	<div intro ngNonBindable>
		<p>我们在 <code>nz-form-control</code> 上 提供了 <code>nzValidateStatus</code> <code>nzHasFeedback</code> 等属性，当使用<a href="https://angular.io/guide/forms#template-driven-forms">模板驱动表单</a>时，可以自己定义校验的时机和内容。</p>
<ol>
<li><code>nzValidateStatus</code>: 校验状态，可选 &#39;success&#39;, &#39;warning&#39;, &#39;error&#39;, &#39;validating&#39;。</li>
<li><code>nzHasFeedback</code>：用于给输入框添加反馈图标。</li>
<li><code>nz-form-explain</code>：设置校验文案。</li>
</ol>

	</div>
</nz-code-box>
<nz-code-box nzTitle="表单联动" [nzId]="'components-form-demo-coordinated'" nzSelector="nz-demo-form-coordinated" [nzLink]="'components-form-demo-coordinated'" nzGenerateCommand="ng g ng-zorro-antd:form-coordinated -p app --name=" nzComponentName="NzDemoFormCoordinatedComponent" [nzCode]="coordinated" [nzRawCode]="coordinatedRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/form/demo/coordinated.md'">
	<nz-demo-form-coordinated demo></nz-demo-form-coordinated>
	<div intro ngNonBindable>
		<p>使用 <code>setValue</code> 来动态设置其他控件的值。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="表单布局" [nzId]="'components-form-demo-layout'" nzSelector="nz-demo-form-layout" [nzLink]="'components-form-demo-layout'" nzGenerateCommand="ng g ng-zorro-antd:form-layout -p app --name=" nzComponentName="NzDemoFormLayoutComponent" [nzCode]="layout" [nzRawCode]="layoutRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/form/demo/layout.md'">
	<nz-demo-form-layout demo></nz-demo-form-layout>
	<div intro ngNonBindable>
		<p>表单有三种布局。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="动态校验规则" [nzId]="'components-form-demo-dynamic-rule'" nzSelector="nz-demo-form-dynamic-rule" [nzLink]="'components-form-demo-dynamic-rule'" nzGenerateCommand="ng g ng-zorro-antd:form-dynamic-rule -p app --name=" nzComponentName="NzDemoFormDynamicRuleComponent" [nzCode]="dynamicRule" [nzRawCode]="dynamicRuleRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/form/demo/dynamic-rule.md'">
	<nz-demo-form-dynamic-rule demo></nz-demo-form-dynamic-rule>
	<div intro ngNonBindable>
		<p>根据不同情况执行不同的校验规则。</p>

	</div>
</nz-code-box>

	</div>
</div><section class="markdown api-container" ngNonBindable><h2 id="api"><span>API</span><a onclick="window.location.hash = 'api'" class="anchor">#</a></h2><h3 id="nz-form"><span>nz-form</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-form'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[nzLayout]</code></td>
<td>表单布局</td>
<td><code>&#39;horizontal&#39;丨&#39;vertical&#39;丨&#39;inline&#39;</code></td>
<td>&#39;horizontal&#39;</td>
</tr>
</tbody>
</table>
<h3 id="nz-form-item"><span>nz-form-item</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-form-item'" class="anchor">#</a></h3><p>表单项用于区分表单中不同的区域，包含表单域和表单标签(可选)。</p>
<blockquote>
<p>所有 <a href="/components/grid/zh">nz-row</a> 的参数在 <code>nz-form-item</code> 上均可直接使用。</p>
</blockquote>
<table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[nzFlex]</code></td>
<td>是否Flex布局</td>
<td>boolean</td>
<td>false</td>
</tr>
</tbody>
</table>
<h3 id="nz-form-label"><span>nz-form-label</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-form-label'" class="anchor">#</a></h3><p>用于标示当前表单项的内容，可选。</p>
<blockquote>
<p>所有 <a href="/components/grid/zh">nz-col</a> 的参数在 <code>nz-form-label</code> 上均可直接使用。</p>
</blockquote>
<table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[nzRequired]</code></td>
<td>当前项是否为必填，仅影响样式</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzFor]</code></td>
<td>label 标签的 for 属性</td>
<td>string</td>
<td>-</td>
</tr>
</tbody>
</table>
<h3 id="nz-form-control"><span>nz-form-control</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-form-control'" class="anchor">#</a></h3><p>表单一定会包含表单域，表单域可以是输入控件，标准表单域，标签，下拉菜单，文本域等。</p>
<blockquote>
<p>所有 <a href="/components/grid/zh">nz-col</a> 的参数在 <code>nz-form-control</code> 上均可直接使用。</p>
</blockquote>
<table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[nzValidateStatus]</code>(Reactive Forms)</td>
<td>会根据 FormControl 的状态自动生成校验状态</td>
<td>FormControl</td>
<td><code>nz-form-control</code> 中包裹的第一个 <code>FormControl</code></td>
</tr>
<tr>
<td><code>[nzValidateStatus]</code>(Template-driven Forms)</td>
<td>校验状态，可选：&#39;success&#39; &#39;warning&#39; &#39;error&#39; &#39;validating&#39;</td>
<td>string</td>
<td></td>
</tr>
<tr>
<td><code>[nzHasFeedback]</code></td>
<td>配合 nzValidateStatus 属性使用，展示校验状态图标</td>
<td>boolean</td>
<td>false</td>
</tr>
</tbody>
</table>
<h3 id="nz-form-explain"><span>nz-form-explain</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-form-explain'" class="anchor">#</a></h3><p>用于显示提示信息，会自动根据当前的 nzValidateStatus 显示不同的颜色</p>
<blockquote>
<p>注意：每个 <code>nz-form-item</code> 下最多只能有一个 <code>nz-form-explain</code> 。</p>
</blockquote>
<h3 id="nz-form-extra"><span>nz-form-extra</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-form-extra'" class="anchor">#</a></h3><p>用于显示表单额外提示信息</p>
<h3 id="nz-form-split"><span>nz-form-split</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-form-split'" class="anchor">#</a></h3><p>用于显示分隔符 <code>-</code></p>
<h3 id="nz-form-text"><span>nz-form-text</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-form-text'" class="anchor">#</a></h3><p>在 <code>nz-form-control</code> 中直接显示文本</p>
</section></article></main></div></app-root>
    <script type="text/javascript">
      // Single Page Apps for GitHub Pages
      // https://github.com/rafrex/spa-github-pages
      // Copyright (c) 2016 Rafael Pedicini, licensed under the MIT License
      // ----------------------------------------------------------------------
      // This script checks to see if a redirect is present in the query string
      // and converts it back into the correct url and adds it to the
      // browser's history using window.history.replaceState(...),
      // which won't cause the browser to attempt to load the new url.
      // When the single page app is loaded further down in this file,
      // the correct url will be waiting in the browser's history for
      // the single page app to route accordingly.
      (function(l) {
        if (l.search) {
          var q = {};
          l.search.slice(1).split('&').forEach(function(v) {
            var a = v.split('=');
            q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
          });
          if (q.p !== undefined) {
            window.history.replaceState(null, null,
              l.pathname.slice(0, -1) + (q.p || '') +
              (q.q ? ('?' + q.q) : '') +
              l.hash
            );
          }
        }
      }(window.location))
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52892298-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-52892298-2');
    </script>
  <script type="text/javascript" src="runtime.3b80d31845c016626f6e.js"></script><script type="text/javascript" src="polyfills.123964adf0983bf3e4a6.js"></script><script type="text/javascript" src="scripts.03e042f1f102bf0e2ed8.js"></script><script type="text/javascript" src="main.e2ecce41a02d6a32c114.js"></script></body>
</html>
