<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tree - NG-ZORRO - Ant Design Of Angular</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
    <!-- Hotjar Tracking Code for ng.ant.design -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:792689,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
  <link rel="stylesheet" href="styles.ba7484eafc88ea9e5128.css"></head>
  <body>
    <app-root><nav><ul><li><a href="/docs/introduce/zh">Ant Design of Angular</a></li>
<li><a href="/docs/introduce/en">Ant Design of Angular</a></li>
<li><a href="/docs/getting-started/zh">快速上手</a></li>
<li><a href="/docs/getting-started/en">Getting Started</a></li>
<li><a href="/docs/schematics/en">Schematics</a></li>
<li><a href="/docs/schematics/zh">脚手架</a></li>
<li><a href="/docs/i18n/en">Internationalization</a></li>
<li><a href="/docs/i18n/zh">国际化</a></li>
<li><a href="/docs/customize-theme/en">Customize Theme</a></li>
<li><a href="/docs/customize-theme/zh">定制主题</a></li>
<li><a href="/docs/recommendation/zh">社区推荐</a></li>
<li><a href="/docs/recommendation/en">Third-Party Libraries</a></li>
<li><a href="/docs/faq/zh">常见问题</a></li>
<li><a href="/docs/faq/en">FAQ</a></li>
<li><a href="/docs/contributing/zh">贡献指南</a></li>
<li><a href="/docs/changelog/zh">更新日志</a></li>
<li><a href="/docs/contributing/en">Contributing to NG-ZORRO</a></li>
<li><a href="/docs/changelog/en">Change Log</a></li></ul><ul><li><h3>General</h3><ul><li><a href="/components/button/zh">按钮</a></li>
<li><a href="/components/button/en">Button</a></li>
<li><a href="/components/icon/zh">图标</a></li>
<li><a href="/components/icon/en">Icon</a></li></ul></li>,<li><h3>Layout</h3><ul><li><a href="/components/grid/zh">栅格</a></li>
<li><a href="/components/grid/en">Grid</a></li>
<li><a href="/components/layout/zh">布局</a></li>
<li><a href="/components/layout/en">Layout</a></li></ul></li>,<li><h3>Navigation</h3><ul><li><a href="/components/affix/zh">固钉</a></li>
<li><a href="/components/affix/en">Affix</a></li>
<li><a href="/components/breadcrumb/zh">面包屑</a></li>
<li><a href="/components/breadcrumb/en">Breadcrumb</a></li>
<li><a href="/components/dropdown/zh">下拉菜单</a></li>
<li><a href="/components/dropdown/en">Dropdown</a></li>
<li><a href="/components/menu/zh">导航菜单</a></li>
<li><a href="/components/menu/en">Menu</a></li>
<li><a href="/components/pagination/zh">分页</a></li>
<li><a href="/components/pagination/en">Pagination</a></li>
<li><a href="/components/steps/zh">步骤条</a></li>
<li><a href="/components/steps/en">Steps</a></li></ul></li>,<li><h3>Data Entry</h3><ul><li><a href="/components/auto-complete/zh">自动完成</a></li>
<li><a href="/components/auto-complete/en">Autocomplete</a></li>
<li><a href="/components/cascader/zh">级联选择</a></li>
<li><a href="/components/cascader/en">Cascader</a></li>
<li><a href="/components/checkbox/zh">多选框</a></li>
<li><a href="/components/checkbox/en">Checkbox</a></li>
<li><a href="/components/date-picker/zh">日期选择框</a></li>
<li><a href="/components/date-picker/en">DatePicker</a></li>
<li><a href="/components/form/zh">表单</a></li>
<li><a href="/components/form/en">Form</a></li>
<li><a href="/components/input/zh">输入框</a></li>
<li><a href="/components/input/en">Input</a></li>
<li><a href="/components/input-number/zh">数字输入框</a></li>
<li><a href="/components/input-number/en">InputNumber</a></li>
<li><a href="/components/mention/zh">提及</a></li>
<li><a href="/components/mention/en">Mention</a></li>
<li><a href="/components/radio/zh">单选框</a></li>
<li><a href="/components/radio/en">Radio</a></li>
<li><a href="/components/rate/zh">评分</a></li>
<li><a href="/components/rate/en">Rate</a></li>
<li><a href="/components/select/zh">选择器</a></li>
<li><a href="/components/select/en">Select</a></li>
<li><a href="/components/slider/zh">滑动输入条</a></li>
<li><a href="/components/slider/en">Slider</a></li>
<li><a href="/components/switch/zh">开关</a></li>
<li><a href="/components/switch/en">Switch</a></li>
<li><a href="/components/time-picker/zh">时间选择框</a></li>
<li><a href="/components/time-picker/en">TimePicker</a></li>
<li><a href="/components/transfer/zh">穿梭框</a></li>
<li><a href="/components/transfer/en">Transfer</a></li>
<li><a href="/components/tree-select/zh">树选择</a></li>
<li><a href="/components/tree-select/en">TreeSelect</a></li>
<li><a href="/components/upload/zh">上传</a></li>
<li><a href="/components/upload/en">Upload</a></li></ul></li>,<li><h3>Data Display</h3><ul><li><a href="/components/avatar/zh">头像</a></li>
<li><a href="/components/avatar/en">Avatar</a></li>
<li><a href="/components/badge/zh">徽标数</a></li>
<li><a href="/components/badge/en">Badge</a></li>
<li><a href="/components/calendar/zh">日历</a></li>
<li><a href="/components/calendar/en">Calendar</a></li>
<li><a href="/components/card/zh">卡片</a></li>
<li><a href="/components/card/en">Card</a></li>
<li><a href="/components/carousel/zh">走马灯</a></li>
<li><a href="/components/carousel/en">Carousel</a></li>
<li><a href="/components/collapse/zh">折叠面板</a></li>
<li><a href="/components/collapse/en">Collapse</a></li>
<li><a href="/components/list/zh">列表</a></li>
<li><a href="/components/list/en">List</a></li>
<li><a href="/components/popover/zh">气泡卡片</a></li>
<li><a href="/components/popover/en">Popover</a></li>
<li><a href="/components/table/zh">表格</a></li>
<li><a href="/components/table/en">Table</a></li>
<li><a href="/components/tabs/zh">标签页</a></li>
<li><a href="/components/tabs/en">Tabs</a></li>
<li><a href="/components/tag/zh">标签</a></li>
<li><a href="/components/tag/en">Tag</a></li>
<li><a href="/components/timeline/zh">时间轴</a></li>
<li><a href="/components/timeline/en">Timeline</a></li>
<li><a href="/components/tooltip/zh">文字提示</a></li>
<li><a href="/components/tooltip/en">Tooltip</a></li>
<li><a href="/components/tree/zh">树形控件</a></li>
<li><a href="/components/tree/en">Tree</a></li></ul></li>,<li><h3>Feedback</h3><ul><li><a href="/components/alert/zh">警告提示</a></li>
<li><a href="/components/alert/en">Alert</a></li>
<li><a href="/components/drawer/zh">抽屉</a></li>
<li><a href="/components/drawer/en">Drawer</a></li>
<li><a href="/components/message/zh">全局提示</a></li>
<li><a href="/components/message/en">Message</a></li>
<li><a href="/components/modal/zh">对话框</a></li>
<li><a href="/components/modal/en">Modal</a></li>
<li><a href="/components/notification/zh">通知提醒框</a></li>
<li><a href="/components/notification/en">Notification</a></li>
<li><a href="/components/popconfirm/zh">气泡确认框</a></li>
<li><a href="/components/popconfirm/en">Popconfirm</a></li>
<li><a href="/components/progress/zh">进度条</a></li>
<li><a href="/components/progress/en">Progress</a></li>
<li><a href="/components/skeleton/zh">加载占位图</a></li>
<li><a href="/components/skeleton/en">Skeleton</a></li>
<li><a href="/components/spin/zh">加载中</a></li>
<li><a href="/components/spin/en">Spin</a></li></ul></li>,<li><h3>Other</h3><ul><li><a href="/components/anchor/zh">锚点</a></li>
<li><a href="/components/anchor/en">Anchor</a></li>
<li><a href="/components/back-top/zh">回到顶部</a></li>
<li><a href="/components/back-top/en">BackTop</a></li>
<li><a href="/components/divider/zh">分割线</a></li>
<li><a href="/components/divider/en">Divider</a></li></ul></li></ul></nav><main><article><nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
      <nz-link nzHref="#components-tree-demo-basic" nzTitle="basic"></nz-link><nz-link nzHref="#components-tree-demo-basic-controlled" nzTitle="basic controlled example"></nz-link><nz-link nzHref="#components-tree-demo-draggable" nzTitle="draggable"></nz-link><nz-link nzHref="#components-tree-demo-draggable-confirm" nzTitle="draggable-with-two-confirmation"></nz-link><nz-link nzHref="#components-tree-demo-dynamic" nzTitle="load data asynchronously"></nz-link><nz-link nzHref="#components-tree-demo-search" nzTitle="Searchable"></nz-link><nz-link nzHref="#components-tree-demo-line" nzTitle="Tree With Line"></nz-link><nz-link nzHref="#components-tree-demo-customized-icon" nzTitle="Customize Icon"></nz-link><nz-link nzHref="#components-tree-demo-directory" nzTitle="directory"></nz-link>
    </nz-anchor>
  </nz-affix><section class="markdown">
	<h1>Tree<span class="subtitle"></span>
	<a class="edit-button" href="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/doc/index.en-US.md" target="_blank">
		<i nz-icon type="edit"></i></a>
</h1>
	<section class="markdown" ngNonBindable>
		<h2 id="when-to-use"><span>When To Use</span><a onclick="window.location.hash = 'when-to-use'" class="anchor">#</a></h2><p>Almost anything can be represented in a tree structure. Examples include directories, organization hierarchies, biological classifications, countries, etc. The <code>Tree</code> component is a way of representing the hierarchical relationship between these things. You can also  expand, collapse, and select a treeNode within a <code>Tree</code>.</p>

	</section>
	
	<h2>
		<span>Examples</span>
		<i nz-icon type="appstore" class="code-box-expand-trigger" title="expand all code" (click)="expandAllCode()"></i>
	</h2>
</section><div nz-row [nzGutter]="16">
	<div nz-col [nzLg]="12" [nzMd]="24">
		<nz-code-box nzTitle="basic" [nzId]="'components-tree-demo-basic'" nzSelector="nz-demo-tree-basic" [nzLink]="'components-tree-demo-basic'" nzGenerateCommand="ng g ng-zorro-antd:tree-basic -p app --name=" nzComponentName="NzDemoTreeBasicComponent" [nzCode]="basic" [nzRawCode]="basicRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/basic.md'">
	<nz-demo-tree-basic demo></nz-demo-tree-basic>
	<div intro ngNonBindable>
		<p>The most basic usage, tell you how to use checkable, selectable, disabled, defaultExpandKeys, and etc.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="draggable" [nzId]="'components-tree-demo-draggable'" nzSelector="nz-demo-tree-draggable" [nzLink]="'components-tree-demo-draggable'" nzGenerateCommand="ng g ng-zorro-antd:tree-draggable -p app --name=" nzComponentName="NzDemoTreeDraggableComponent" [nzCode]="draggable" [nzRawCode]="draggableRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/draggable.md'">
	<nz-demo-tree-draggable demo></nz-demo-tree-draggable>
	<div intro ngNonBindable>
		<p>Drag treeNode to insert after the other treeNode or insert into the other parent TreeNode.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="load data asynchronously" [nzId]="'components-tree-demo-dynamic'" nzSelector="nz-demo-tree-dynamic" [nzLink]="'components-tree-demo-dynamic'" nzGenerateCommand="ng g ng-zorro-antd:tree-dynamic -p app --name=" nzComponentName="NzDemoTreeDynamicComponent" [nzCode]="dynamic" [nzRawCode]="dynamicRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/dynamic.md'">
	<nz-demo-tree-dynamic demo></nz-demo-tree-dynamic>
	<div intro ngNonBindable>
		<p>To load data asynchronously when click to expand a treeNode.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Tree With Line" [nzId]="'components-tree-demo-line'" nzSelector="nz-demo-tree-line" [nzLink]="'components-tree-demo-line'" nzGenerateCommand="ng g ng-zorro-antd:tree-line -p app --name=" nzComponentName="NzDemoTreeLineComponent" [nzCode]="line" [nzRawCode]="lineRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/line.md'">
	<nz-demo-tree-line demo></nz-demo-tree-line>
	<div intro ngNonBindable>
		<p>Tree With Line.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="directory" [nzId]="'components-tree-demo-directory'" nzSelector="nz-demo-tree-directory" [nzLink]="'components-tree-demo-directory'" nzGenerateCommand="ng g ng-zorro-antd:tree-directory -p app --name=" nzComponentName="NzDemoTreeDirectoryComponent" [nzCode]="directory" [nzRawCode]="directoryRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/directory.md'">
	<nz-demo-tree-directory demo></nz-demo-tree-directory>
	<div intro ngNonBindable>
		<p>Customize directory tree(with nzTreeTemplate, supported contextmenu).</p>

	</div>
</nz-code-box>

	</div>
	<div nz-col [nzLg]="12" [nzMd]="24">
		<nz-code-box nzTitle="basic controlled example" [nzId]="'components-tree-demo-basic-controlled'" nzSelector="nz-demo-tree-basic-controlled" [nzLink]="'components-tree-demo-basic-controlled'" nzGenerateCommand="ng g ng-zorro-antd:tree-basic-controlled -p app --name=" nzComponentName="NzDemoTreeBasicControlledComponent" [nzCode]="basicControlled" [nzRawCode]="basicControlledRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/basic-controlled.md'">
	<nz-demo-tree-basic-controlled demo></nz-demo-tree-basic-controlled>
	<div intro ngNonBindable>
		<p>basic controlled example.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="draggable-with-two-confirmation" [nzId]="'components-tree-demo-draggable-confirm'" nzSelector="nz-demo-tree-draggable-confirm" [nzLink]="'components-tree-demo-draggable-confirm'" nzGenerateCommand="ng g ng-zorro-antd:tree-draggable-confirm -p app --name=" nzComponentName="NzDemoTreeDraggableConfirmComponent" [nzCode]="draggableConfirm" [nzRawCode]="draggableConfirmRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/draggable-confirm.md'">
	<nz-demo-tree-draggable-confirm demo></nz-demo-tree-draggable-confirm>
	<div intro ngNonBindable>
		<p>nzBeforeDrop: Validate before drop event, for example: only allow to drag inside(delay 1s)、 validate using modal .etc.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Searchable" [nzId]="'components-tree-demo-search'" nzSelector="nz-demo-tree-search" [nzLink]="'components-tree-demo-search'" nzGenerateCommand="ng g ng-zorro-antd:tree-search -p app --name=" nzComponentName="NzDemoTreeSearchComponent" [nzCode]="search" [nzRawCode]="searchRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/search.md'">
	<nz-demo-tree-search demo></nz-demo-tree-search>
	<div intro ngNonBindable>
		<p>Searchable Tree.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Customize Icon" [nzId]="'components-tree-demo-customized-icon'" nzSelector="nz-demo-tree-customized-icon" [nzLink]="'components-tree-demo-customized-icon'" nzGenerateCommand="ng g ng-zorro-antd:tree-customized-icon -p app --name=" nzComponentName="NzDemoTreeCustomizedIconComponent" [nzCode]="customizedIcon" [nzRawCode]="customizedIconRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/customized-icon.md'">
	<nz-demo-tree-customized-icon demo></nz-demo-tree-customized-icon>
	<div intro ngNonBindable>
		<p>You can customize icons for different nodes.</p>

	</div>
</nz-code-box>

	</div>
</div>
<section class="markdown api-container" ngNonBindable><h2 id="api"><span>API</span><a onclick="window.location.hash = 'api'" class="anchor">#</a></h2><h3 id="nz-tree"><span>nz-tree</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-tree'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[ngModel]</code></td>
<td>Tree data(nzData instead)</td>
<td>NzTreeNode[]</td>
<td>[]</td>
</tr>
<tr>
<td><code>[nzDefaultExpandAll]</code></td>
<td>Whether to expand all treeNodes <font color=red><code>Deprecated</code></font></td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzDefaultExpandedKeys]</code></td>
<td>Specify the keys of the default expanded treeNodes <font color=red><code>Deprecated</code></font></td>
<td>string[]</td>
<td>[]</td>
</tr>
<tr>
<td><code>[nzDefaultCheckedKeys]</code></td>
<td>Specifies the keys of the default checked treeNodes <font color=red><code>Deprecated</code></font></td>
<td>string[]</td>
<td>[]</td>
</tr>
<tr>
<td><code>[nzDefaultSelectedKeys]</code></td>
<td>Specifies the keys of the default selected treeNodes <font color=red><code>Deprecated</code></font></td>
<td>string[]</td>
<td>[]</td>
</tr>
<tr>
<td><code>[nzData]</code></td>
<td>Tree data (Reference NzTreeNode)</td>
<td>NzTreeNode[]</td>
<td>[]</td>
</tr>
<tr>
<td><code>[nzCheckable]</code></td>
<td>Adds a Checkbox before the treeNodes</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzShowExpand]</code></td>
<td>Show a Expand Icon before the treeNodes</td>
<td>boolean</td>
<td>true</td>
</tr>
<tr>
<td><code>[nzShowLine]</code></td>
<td>Shows a connecting line</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzShowIcon]</code></td>
<td>Shows the icon before a TreeNode&#39;s title. There is no default style</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzAsyncData]</code></td>
<td>Load data asynchronously (should be used with NzTreeNode.addChildren(...))</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzDraggable]</code></td>
<td>Specifies whether this Tree is draggable (IE &gt; 8)</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzMultiple]</code></td>
<td>Allows selecting multiple treeNodes</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzCheckStrictly]</code></td>
<td>Check treeNode precisely; parent treeNode and children treeNodes are not associated</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzExpandAll]</code></td>
<td>Whether to expand all treeNodes</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzExpandedKeys]</code></td>
<td>Specify the keys of the default expanded treeNodes, two-way binding</td>
<td>string[]</td>
<td>[]</td>
</tr>
<tr>
<td><code>[nzCheckedKeys]</code></td>
<td>Specifies the keys of the default checked treeNodes, two-way binding</td>
<td>string[]</td>
<td>[]</td>
</tr>
<tr>
<td><code>[nzSelectedKeys]</code></td>
<td>Specifies the keys of the default selected treeNodes, two-way binding</td>
<td>string[]</td>
<td>[]</td>
</tr>
<tr>
<td><code>[nzSearchValue]</code></td>
<td>Filter (highlight) treeNodes (see demo <code>Searchable</code>), two-way binding</td>
<td>string</td>
<td>null</td>
</tr>
<tr>
<td><code>[nzBeforeDrop]</code></td>
<td>Drop before the second check, allowing the user to decide whether to allow placement</td>
<td><code>(confirm: NzFormatBeforeDropEvent) =&gt; Observable&lt;boolean&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>(nzClick)</code></td>
<td>Callback function for when the user clicks a treeNode</td>
<td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
<td>-</td>
</tr>
<tr>
<td><code>(nzDblClick)</code></td>
<td>Callback function for when the user double clicks a treeNode</td>
<td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
<td>-</td>
</tr>
<tr>
<td><code>(nzContextMenu)</code></td>
<td>Callback function for when the user right clicks a treeNode</td>
<td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
<td>-</td>
</tr>
<tr>
<td><code>(nzCheckBoxChange)</code></td>
<td>Callback function for when user clicks the Checkbox</td>
<td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
<td>-</td>
</tr>
<tr>
<td><code>(nzExpandChange)</code></td>
<td>Callback function for when a treeNode is expanded or collapsed</td>
<td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
<td>-</td>
</tr>
<tr>
<td><code>(nzSearchValueChange)</code></td>
<td>Callback function for when filter treeNodes(used with nzSearchValue)</td>
<td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
<td>-</td>
</tr>
<tr>
<td><code>(nzOnDragStart)</code></td>
<td>Callback function for when the onDragStart event occurs</td>
<td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
<td>-</td>
</tr>
<tr>
<td><code>(nzOnDragEnter)</code></td>
<td>Callback function for when the onDragEnter event occurs</td>
<td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
<td>-</td>
</tr>
<tr>
<td><code>(nzOnDragOver)</code></td>
<td>Callback function for when the onDragOver event occurs</td>
<td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
<td>-</td>
</tr>
<tr>
<td><code>(nzOnDragLeave)</code></td>
<td>Callback function for when the onDragLeave event occurs</td>
<td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
<td>-</td>
</tr>
<tr>
<td><code>(nzOnDrop)</code></td>
<td>Callback function for when the onDrop event occurs</td>
<td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
<td>-</td>
</tr>
<tr>
<td><code>(nzOnDragEnd)</code></td>
<td>Callback function for when the onDragEnd event occurs</td>
<td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
<td>-</td>
</tr>
</tbody>
</table>
<h4 id="methods"><span>Methods</span><a onclick="window.location.hash = 'methods'" class="anchor">#</a></h4><table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td>getTreeNodes</td>
<td>get all nodes(NzTreeNode)</td>
<td>NzTreeNode[]</td>
<td>[]</td>
</tr>
<tr>
<td>getCheckedNodeList</td>
<td>get checked nodes(merged)</td>
<td>NzTreeNode[]</td>
<td>[]</td>
</tr>
<tr>
<td>getSelectedNodeList</td>
<td>get selected nodes</td>
<td>NzTreeNode[]</td>
<td>[]</td>
</tr>
<tr>
<td>getHalfCheckedNodeList</td>
<td>get half checked nodes</td>
<td>NzTreeNode[]</td>
<td>[]</td>
</tr>
<tr>
<td>getExpandedNodeList</td>
<td>get expanded nodes</td>
<td>NzTreeNode[]</td>
<td>[]</td>
</tr>
<tr>
<td>getMatchedNodeList</td>
<td>get matched nodes(if nzSearchValue is not null)</td>
<td>NzTreeNode[]</td>
<td>[]</td>
</tr>
</tbody>
</table>
<h4 id="nztreenodeoptions-props"><span>NzTreeNodeOptions props</span><a onclick="window.location.hash = 'nztreenodeoptions-props'" class="anchor">#</a></h4><table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td>title</td>
<td>Title</td>
<td>string</td>
<td>&#39;---&#39;</td>
</tr>
<tr>
<td>key</td>
<td>Must be unique！</td>
<td>string</td>
<td>null</td>
</tr>
<tr>
<td>children</td>
<td>TreeNode&#39;s children</td>
<td>NzTreeNodeOptions[]</td>
<td>[]</td>
</tr>
<tr>
<td>isLeaf</td>
<td>Determines if this is a leaf node(can not be dropped to)</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td>checked</td>
<td>Set the treeNode be checked</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td>selected</td>
<td>Set the treeNode be selected</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td>expanded</td>
<td>Set the treeNode be expanded ()</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td>selectable</td>
<td>Set whether the treeNode can be selected</td>
<td>boolean</td>
<td>true</td>
</tr>
<tr>
<td>disabled</td>
<td>Disables the treeNode</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td>disableCheckbox</td>
<td>Disables the checkbox of the treeNode</td>
<td>boolean</td>
<td>false</td>
</tr>
</tbody>
</table>
<h4 id="nzformatemitevent-props"><span>NzFormatEmitEvent props</span><a onclick="window.location.hash = 'nzformatemitevent-props'" class="anchor">#</a></h4><table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td>eventName</td>
<td>Event Name</td>
<td>enum: <code>click</code> <code>dblclick</code> <code>contextmenu</code> <code>check</code> <code>expand</code> <code>search</code> &amp; <code>dragstart</code> <code>dragenter</code> <code>dragover</code> <code>dragleave</code> <code>drop</code> <code>dragend</code></td>
<td>&#39;&#39;</td>
</tr>
<tr>
<td>node</td>
<td>The current operation node (such as the target node to drop while dragging)</td>
<td>NzTreeNode</td>
<td>null</td>
</tr>
<tr>
<td>event</td>
<td>MouseEvent or DragEvent</td>
<td>enum: <code>MouseEvent</code> <code>DragEvent</code></td>
<td>null</td>
</tr>
<tr>
<td>dragNode?</td>
<td>Current drag node (existing if dragged)</td>
<td>NzTreeNode</td>
<td>null</td>
</tr>
<tr>
<td>selectedKeys?</td>
<td>Selected nodes list</td>
<td>NzTreeNode[]</td>
<td>[]</td>
</tr>
<tr>
<td>checkedKeys?</td>
<td>Checked nodes list</td>
<td>NzTreeNode[]</td>
<td>[]</td>
</tr>
<tr>
<td>matchedKeys?</td>
<td>Matched keys list while searching</td>
<td>NzTreeNode[]</td>
<td>[]</td>
</tr>
<tr>
<td>keys?</td>
<td>All nodes&#39;s keys list related event(except drag events)</td>
<td>string[]</td>
<td>[]</td>
</tr>
<tr>
<td>nodes?</td>
<td>All nodes related event(except drag events)</td>
<td>NzTreeNode[]</td>
<td>[]</td>
</tr>
</tbody>
</table>
<h4 id="nzformatbeforedropevent-props"><span>NzFormatBeforeDropEvent props</span><a onclick="window.location.hash = 'nzformatbeforedropevent-props'" class="anchor">#</a></h4><table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td>dragNode</td>
<td>Current drag node (existing when dragged)</td>
<td>NzTreeNode</td>
<td>-</td>
</tr>
<tr>
<td>node</td>
<td>The current operation node (such as the target node to drop while dragging)</td>
<td>NzTreeNode</td>
<td>-</td>
</tr>
<tr>
<td>pos</td>
<td>position to drop(-1: before the target node, 0: inside the target node, 1: behind the target node)</td>
<td>number</td>
<td>-</td>
</tr>
</tbody>
</table>
<h4 id="nztreenode-props"><span>NzTreeNode props</span><a onclick="window.location.hash = 'nztreenode-props'" class="anchor">#</a></h4><table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td>title</td>
<td>Title</td>
<td>string</td>
<td>NzTreeNodeOptions.title</td>
</tr>
<tr>
<td>key</td>
<td>Key</td>
<td>string</td>
<td>NzTreeNodeOptions.key</td>
</tr>
<tr>
<td>level</td>
<td>TreeNode&#39;s level relative to the root node</td>
<td>number</td>
<td>number</td>
</tr>
<tr>
<td>children</td>
<td>Children</td>
<td>array&lt;NzTreeNode&gt;</td>
<td>array&lt;NzTreeNode&gt;</td>
</tr>
<tr>
<td>origin</td>
<td>treeNode&#39;s raw data of NzTreeNodeOptions(user provided to show more datas)</td>
<td>NzTreeNodeOptions</td>
<td>-</td>
</tr>
<tr>
<td>getParentNode</td>
<td>Get parentNode</td>
<td>function</td>
<td><code>NzTreeNode</code> / <code>null</code></td>
</tr>
<tr>
<td>isLeaf</td>
<td>Whether treeNode is a Leaf Node</td>
<td>boolean</td>
<td><code>true</code> / <code>false</code></td>
</tr>
<tr>
<td>isExpanded</td>
<td>Whether treeNode is expanded</td>
<td>boolean</td>
<td><code>true</code> / <code>false</code></td>
</tr>
<tr>
<td>isDisabled</td>
<td>Whether treeNode is disabled</td>
<td>boolean</td>
<td><code>true</code> / <code>false</code></td>
</tr>
<tr>
<td>isDisableCheckbox</td>
<td>Whether treeNode&#39;s checkbox can not be clicked</td>
<td>boolean</td>
<td><code>true</code> / <code>false</code></td>
</tr>
<tr>
<td>isSelectable</td>
<td>Set whether the treeNode can be selected</td>
<td>boolean</td>
<td><code>true</code> 或 <code>false</code></td>
</tr>
<tr>
<td>isChecked</td>
<td>Whether treeNode is checked</td>
<td>boolean</td>
<td><code>true</code> / <code>false</code></td>
</tr>
<tr>
<td>isAllChecked</td>
<td>Whether all treeNode&#39;s children are checked</td>
<td>boolean</td>
<td><code>true</code> / <code>false</code></td>
</tr>
<tr>
<td>isHalfChecked</td>
<td>Part of treeNode&#39;s children are checked</td>
<td>boolean</td>
<td><code>true</code> / <code>false</code></td>
</tr>
<tr>
<td>isSelected</td>
<td>Whether treeNode is selected</td>
<td>boolean</td>
<td><code>true</code> / <code>false</code></td>
</tr>
<tr>
<td>isLoading</td>
<td>Whether treeNode is loading(when nzAsyncData is true)</td>
<td>boolean</td>
<td><code>true</code> / <code>false</code></td>
</tr>
<tr>
<td>isMatched</td>
<td>Whether treeNode&#39;s title contains nzSearchValue</td>
<td>boolean</td>
<td><code>true</code> / <code>false</code></td>
</tr>
<tr>
<td>getChildren</td>
<td>Get all children</td>
<td>function</td>
<td>NzTreeNode[]</td>
</tr>
<tr>
<td>addChildren</td>
<td>Add child nodes, receive NzTreeNode or NzTreeNodeOptions array, the second parameter is the inserted index position</td>
<td>(children: array, index?: number )=&gt;&#123;&#125;</td>
<td>void</td>
</tr>
<tr>
<td>clearChildren</td>
<td>clear the treeNode&#39;s children</td>
<td>function</td>
<td>void</td>
</tr>
<tr>
<td>setChecked</td>
<td>set isChecked &amp; isHalfChecked state，params: checked , halfChecked</td>
<td>(checked: boolean, halfChecked: boolean=false)=&gt;&#123;&#125;</td>
<td>void</td>
</tr>
<tr>
<td>setExpanded</td>
<td>set isExpanded state</td>
<td>(value: boolean)=&gt;&#123;&#125;</td>
<td>void</td>
</tr>
<tr>
<td>setSelected</td>
<td>set isSelected state</td>
<td>(value: boolean)=&gt;&#123;&#125;</td>
<td>void</td>
</tr>
</tbody>
</table>
<h2 id="note"><span>Note</span><a onclick="window.location.hash = 'note'" class="anchor">#</a></h2><p><code>NzTreeNodeOptions</code> accepts your customized properties，use NzTreeNode.origin to get them.</p>
</section></article></main></app-root>
    <script type="text/javascript">
      // Single Page Apps for GitHub Pages
      // https://github.com/rafrex/spa-github-pages
      // Copyright (c) 2016 Rafael Pedicini, licensed under the MIT License
      // ----------------------------------------------------------------------
      // This script checks to see if a redirect is present in the query string
      // and converts it back into the correct url and adds it to the
      // browser's history using window.history.replaceState(...),
      // which won't cause the browser to attempt to load the new url.
      // When the single page app is loaded further down in this file,
      // the correct url will be waiting in the browser's history for
      // the single page app to route accordingly.
      (function(l) {
        if (l.search) {
          var q = {};
          l.search.slice(1).split('&').forEach(function(v) {
            var a = v.split('=');
            q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
          });
          if (q.p !== undefined) {
            window.history.replaceState(null, null,
              l.pathname.slice(0, -1) + (q.p || '') +
              (q.q ? ('?' + q.q) : '') +
              l.hash
            );
          }
        }
      }(window.location))
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52892298-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-52892298-2');
    </script>
  <script type="text/javascript" src="runtime.3b80d31845c016626f6e.js"></script><script type="text/javascript" src="polyfills.123964adf0983bf3e4a6.js"></script><script type="text/javascript" src="scripts.03e042f1f102bf0e2ed8.js"></script><script type="text/javascript" src="main.e2ecce41a02d6a32c114.js"></script></body>
</html>
