<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>树形控件 - NG-ZORRO - Ant Design Of Angular</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
    <!-- Hotjar Tracking Code for ng.ant.design -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:792689,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
  <link rel="stylesheet" href="styles.ba7484eafc88ea9e5128.css"></head>
  <body>
    <app-root><div style="overflow: hidden;height: 0"><nav><ul><li><a href="/docs/introduce/zh">Ant Design of Angular</a></li>
<li><a href="/docs/introduce/en">Ant Design of Angular</a></li>
<li><a href="/docs/getting-started/zh">快速上手</a></li>
<li><a href="/docs/getting-started/en">Getting Started</a></li>
<li><a href="/docs/schematics/en">Schematics</a></li>
<li><a href="/docs/schematics/zh">脚手架</a></li>
<li><a href="/docs/i18n/en">Internationalization</a></li>
<li><a href="/docs/i18n/zh">国际化</a></li>
<li><a href="/docs/customize-theme/en">Customize Theme</a></li>
<li><a href="/docs/customize-theme/zh">定制主题</a></li>
<li><a href="/docs/recommendation/zh">社区推荐</a></li>
<li><a href="/docs/recommendation/en">Third-Party Libraries</a></li>
<li><a href="/docs/faq/zh">常见问题</a></li>
<li><a href="/docs/faq/en">FAQ</a></li>
<li><a href="/docs/contributing/zh">贡献指南</a></li>
<li><a href="/docs/changelog/zh">更新日志</a></li>
<li><a href="/docs/contributing/en">Contributing to NG-ZORRO</a></li>
<li><a href="/docs/changelog/en">Change Log</a></li></ul><ul><li><h3>General</h3><ul><li><a href="/components/button/zh">按钮</a></li>
<li><a href="/components/button/en">Button</a></li>
<li><a href="/components/icon/zh">图标</a></li>
<li><a href="/components/icon/en">Icon</a></li></ul></li>,<li><h3>Layout</h3><ul><li><a href="/components/grid/zh">栅格</a></li>
<li><a href="/components/grid/en">Grid</a></li>
<li><a href="/components/layout/zh">布局</a></li>
<li><a href="/components/layout/en">Layout</a></li></ul></li>,<li><h3>Navigation</h3><ul><li><a href="/components/affix/zh">固钉</a></li>
<li><a href="/components/affix/en">Affix</a></li>
<li><a href="/components/breadcrumb/zh">面包屑</a></li>
<li><a href="/components/breadcrumb/en">Breadcrumb</a></li>
<li><a href="/components/dropdown/zh">下拉菜单</a></li>
<li><a href="/components/dropdown/en">Dropdown</a></li>
<li><a href="/components/menu/zh">导航菜单</a></li>
<li><a href="/components/menu/en">Menu</a></li>
<li><a href="/components/pagination/zh">分页</a></li>
<li><a href="/components/pagination/en">Pagination</a></li>
<li><a href="/components/steps/zh">步骤条</a></li>
<li><a href="/components/steps/en">Steps</a></li></ul></li>,<li><h3>Data Entry</h3><ul><li><a href="/components/auto-complete/zh">自动完成</a></li>
<li><a href="/components/auto-complete/en">Autocomplete</a></li>
<li><a href="/components/cascader/zh">级联选择</a></li>
<li><a href="/components/cascader/en">Cascader</a></li>
<li><a href="/components/checkbox/zh">多选框</a></li>
<li><a href="/components/checkbox/en">Checkbox</a></li>
<li><a href="/components/date-picker/zh">日期选择框</a></li>
<li><a href="/components/date-picker/en">DatePicker</a></li>
<li><a href="/components/form/zh">表单</a></li>
<li><a href="/components/form/en">Form</a></li>
<li><a href="/components/input/zh">输入框</a></li>
<li><a href="/components/input/en">Input</a></li>
<li><a href="/components/input-number/zh">数字输入框</a></li>
<li><a href="/components/input-number/en">InputNumber</a></li>
<li><a href="/components/mention/zh">提及</a></li>
<li><a href="/components/mention/en">Mention</a></li>
<li><a href="/components/radio/zh">单选框</a></li>
<li><a href="/components/radio/en">Radio</a></li>
<li><a href="/components/rate/zh">评分</a></li>
<li><a href="/components/rate/en">Rate</a></li>
<li><a href="/components/select/zh">选择器</a></li>
<li><a href="/components/select/en">Select</a></li>
<li><a href="/components/slider/zh">滑动输入条</a></li>
<li><a href="/components/slider/en">Slider</a></li>
<li><a href="/components/switch/zh">开关</a></li>
<li><a href="/components/switch/en">Switch</a></li>
<li><a href="/components/time-picker/zh">时间选择框</a></li>
<li><a href="/components/time-picker/en">TimePicker</a></li>
<li><a href="/components/transfer/zh">穿梭框</a></li>
<li><a href="/components/transfer/en">Transfer</a></li>
<li><a href="/components/tree-select/zh">树选择</a></li>
<li><a href="/components/tree-select/en">TreeSelect</a></li>
<li><a href="/components/upload/zh">上传</a></li>
<li><a href="/components/upload/en">Upload</a></li></ul></li>,<li><h3>Data Display</h3><ul><li><a href="/components/avatar/zh">头像</a></li>
<li><a href="/components/avatar/en">Avatar</a></li>
<li><a href="/components/badge/zh">徽标数</a></li>
<li><a href="/components/badge/en">Badge</a></li>
<li><a href="/components/calendar/zh">日历</a></li>
<li><a href="/components/calendar/en">Calendar</a></li>
<li><a href="/components/card/zh">卡片</a></li>
<li><a href="/components/card/en">Card</a></li>
<li><a href="/components/carousel/zh">走马灯</a></li>
<li><a href="/components/carousel/en">Carousel</a></li>
<li><a href="/components/collapse/zh">折叠面板</a></li>
<li><a href="/components/collapse/en">Collapse</a></li>
<li><a href="/components/list/zh">列表</a></li>
<li><a href="/components/list/en">List</a></li>
<li><a href="/components/popover/zh">气泡卡片</a></li>
<li><a href="/components/popover/en">Popover</a></li>
<li><a href="/components/table/zh">表格</a></li>
<li><a href="/components/table/en">Table</a></li>
<li><a href="/components/tabs/zh">标签页</a></li>
<li><a href="/components/tabs/en">Tabs</a></li>
<li><a href="/components/tag/zh">标签</a></li>
<li><a href="/components/tag/en">Tag</a></li>
<li><a href="/components/timeline/zh">时间轴</a></li>
<li><a href="/components/timeline/en">Timeline</a></li>
<li><a href="/components/tooltip/zh">文字提示</a></li>
<li><a href="/components/tooltip/en">Tooltip</a></li>
<li><a href="/components/tree/zh">树形控件</a></li>
<li><a href="/components/tree/en">Tree</a></li></ul></li>,<li><h3>Feedback</h3><ul><li><a href="/components/alert/zh">警告提示</a></li>
<li><a href="/components/alert/en">Alert</a></li>
<li><a href="/components/drawer/zh">抽屉</a></li>
<li><a href="/components/drawer/en">Drawer</a></li>
<li><a href="/components/message/zh">全局提示</a></li>
<li><a href="/components/message/en">Message</a></li>
<li><a href="/components/modal/zh">对话框</a></li>
<li><a href="/components/modal/en">Modal</a></li>
<li><a href="/components/notification/zh">通知提醒框</a></li>
<li><a href="/components/notification/en">Notification</a></li>
<li><a href="/components/popconfirm/zh">气泡确认框</a></li>
<li><a href="/components/popconfirm/en">Popconfirm</a></li>
<li><a href="/components/progress/zh">进度条</a></li>
<li><a href="/components/progress/en">Progress</a></li>
<li><a href="/components/skeleton/zh">加载占位图</a></li>
<li><a href="/components/skeleton/en">Skeleton</a></li>
<li><a href="/components/spin/zh">加载中</a></li>
<li><a href="/components/spin/en">Spin</a></li></ul></li>,<li><h3>Other</h3><ul><li><a href="/components/anchor/zh">锚点</a></li>
<li><a href="/components/anchor/en">Anchor</a></li>
<li><a href="/components/back-top/zh">回到顶部</a></li>
<li><a href="/components/back-top/en">BackTop</a></li>
<li><a href="/components/divider/zh">分割线</a></li>
<li><a href="/components/divider/en">Divider</a></li></ul></li></ul></nav><main><article><nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
      <nz-link nzHref="#components-tree-demo-basic" nzTitle="基本"></nz-link><nz-link nzHref="#components-tree-demo-basic-controlled" nzTitle="受控操作示例"></nz-link><nz-link nzHref="#components-tree-demo-draggable" nzTitle="拖动示例"></nz-link><nz-link nzHref="#components-tree-demo-draggable-confirm" nzTitle="拖动示例-二次校验"></nz-link><nz-link nzHref="#components-tree-demo-dynamic" nzTitle="异步数据加载"></nz-link><nz-link nzHref="#components-tree-demo-search" nzTitle="可搜索"></nz-link><nz-link nzHref="#components-tree-demo-line" nzTitle="连接线"></nz-link><nz-link nzHref="#components-tree-demo-customized-icon" nzTitle="自定义图标"></nz-link><nz-link nzHref="#components-tree-demo-directory" nzTitle="目录"></nz-link>
    </nz-anchor>
  </nz-affix><section class="markdown">
	<h1>Tree<span class="subtitle">树形控件</span>
	<a class="edit-button" href="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/doc/index.zh-CN.md" target="_blank">
		<i nz-icon type="edit"></i></a>
</h1>
	<section class="markdown" ngNonBindable>
		<h2 id="何时使用"><span>何时使用</span><a onclick="window.location.hash = '何时使用'" class="anchor">#</a></h2><p>文件夹、组织架构、生物分类、国家地区等等，世间万物的大多数结构都是树形结构。使用<code>树控件</code>可以完整展现其中的层级关系，并具有展开收起选择等交互功能。</p>

	</section>
	
	<h2>
		<span>代码演示</span>
		<i nz-icon type="appstore" class="code-box-expand-trigger" title="展开全部代码" (click)="expandAllCode()"></i>
	</h2>
</section><div nz-row [nzGutter]="16">
	<div nz-col [nzLg]="12" [nzMd]="24">
		<nz-code-box nzTitle="基本" [nzId]="'components-tree-demo-basic'" nzSelector="nz-demo-tree-basic" [nzLink]="'components-tree-demo-basic'" nzGenerateCommand="ng g ng-zorro-antd:tree-basic -p app --name=" nzComponentName="NzDemoTreeBasicComponent" [nzCode]="basic" [nzRawCode]="basicRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/basic.md'">
	<nz-demo-tree-basic demo></nz-demo-tree-basic>
	<div intro ngNonBindable>
		<p>最简单的用法，展示可勾选，可选中，禁用，默认展开等功能。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="拖动示例" [nzId]="'components-tree-demo-draggable'" nzSelector="nz-demo-tree-draggable" [nzLink]="'components-tree-demo-draggable'" nzGenerateCommand="ng g ng-zorro-antd:tree-draggable -p app --name=" nzComponentName="NzDemoTreeDraggableComponent" [nzCode]="draggable" [nzRawCode]="draggableRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/draggable.md'">
	<nz-demo-tree-draggable demo></nz-demo-tree-draggable>
	<div intro ngNonBindable>
		<p>将节点拖拽到其他节点内部或前后。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="异步数据加载" [nzId]="'components-tree-demo-dynamic'" nzSelector="nz-demo-tree-dynamic" [nzLink]="'components-tree-demo-dynamic'" nzGenerateCommand="ng g ng-zorro-antd:tree-dynamic -p app --name=" nzComponentName="NzDemoTreeDynamicComponent" [nzCode]="dynamic" [nzRawCode]="dynamicRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/dynamic.md'">
	<nz-demo-tree-dynamic demo></nz-demo-tree-dynamic>
	<div intro ngNonBindable>
		<p>点击展开节点，动态加载数据。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="连接线" [nzId]="'components-tree-demo-line'" nzSelector="nz-demo-tree-line" [nzLink]="'components-tree-demo-line'" nzGenerateCommand="ng g ng-zorro-antd:tree-line -p app --name=" nzComponentName="NzDemoTreeLineComponent" [nzCode]="line" [nzRawCode]="lineRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/line.md'">
	<nz-demo-tree-line demo></nz-demo-tree-line>
	<div intro ngNonBindable>
		<p>带连接线的树。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="目录" [nzId]="'components-tree-demo-directory'" nzSelector="nz-demo-tree-directory" [nzLink]="'components-tree-demo-directory'" nzGenerateCommand="ng g ng-zorro-antd:tree-directory -p app --name=" nzComponentName="NzDemoTreeDirectoryComponent" [nzCode]="directory" [nzRawCode]="directoryRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/directory.md'">
	<nz-demo-tree-directory demo></nz-demo-tree-directory>
	<div intro ngNonBindable>
		<p>自定义目录树(使用nzTreeTemplate实现，支持右键)。</p>

	</div>
</nz-code-box>

	</div>
	<div nz-col [nzLg]="12" [nzMd]="24">
		<nz-code-box nzTitle="受控操作示例" [nzId]="'components-tree-demo-basic-controlled'" nzSelector="nz-demo-tree-basic-controlled" [nzLink]="'components-tree-demo-basic-controlled'" nzGenerateCommand="ng g ng-zorro-antd:tree-basic-controlled -p app --name=" nzComponentName="NzDemoTreeBasicControlledComponent" [nzCode]="basicControlled" [nzRawCode]="basicControlledRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/basic-controlled.md'">
	<nz-demo-tree-basic-controlled demo></nz-demo-tree-basic-controlled>
	<div intro ngNonBindable>
		<p>受控操作示例(默认)。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="拖动示例-二次校验" [nzId]="'components-tree-demo-draggable-confirm'" nzSelector="nz-demo-tree-draggable-confirm" [nzLink]="'components-tree-demo-draggable-confirm'" nzGenerateCommand="ng g ng-zorro-antd:tree-draggable-confirm -p app --name=" nzComponentName="NzDemoTreeDraggableConfirmComponent" [nzCode]="draggableConfirm" [nzRawCode]="draggableConfirmRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/draggable-confirm.md'">
	<nz-demo-tree-draggable-confirm demo></nz-demo-tree-draggable-confirm>
	<div intro ngNonBindable>
		<p>nzBeforeDrop: 在拖拽放置事件(drop事件)之前做校验, 例如仅允许拖拽到内部(延时一秒)、放置前结合modal验证等。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="可搜索" [nzId]="'components-tree-demo-search'" nzSelector="nz-demo-tree-search" [nzLink]="'components-tree-demo-search'" nzGenerateCommand="ng g ng-zorro-antd:tree-search -p app --name=" nzComponentName="NzDemoTreeSearchComponent" [nzCode]="search" [nzRawCode]="searchRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/search.md'">
	<nz-demo-tree-search demo></nz-demo-tree-search>
	<div intro ngNonBindable>
		<p>可搜索的树。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="自定义图标" [nzId]="'components-tree-demo-customized-icon'" nzSelector="nz-demo-tree-customized-icon" [nzLink]="'components-tree-demo-customized-icon'" nzGenerateCommand="ng g ng-zorro-antd:tree-customized-icon -p app --name=" nzComponentName="NzDemoTreeCustomizedIconComponent" [nzCode]="customizedIcon" [nzRawCode]="customizedIconRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/tree/demo/customized-icon.md'">
	<nz-demo-tree-customized-icon demo></nz-demo-tree-customized-icon>
	<div intro ngNonBindable>
		<p>可以针对不同的节点定制图标。</p>

	</div>
</nz-code-box>

	</div>
</div>
<section class="markdown api-container" ngNonBindable><h2 id="api"><span>API</span><a onclick="window.location.hash = 'api'" class="anchor">#</a></h2><h3 id="nz-tree"><span>nz-tree</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-tree'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[ngModel]</code></td>
<td>元数据(建议使用nzData)</td>
<td>NzTreeNode[]</td>
<td>[]</td>
</tr>
<tr>
<td><code>[nzDefaultExpandAll]</code></td>
<td>默认展开所有节点 <font color=red><code>Deprecated</code></font></td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzDefaultExpandedKeys]</code></td>
<td>展开指定的节点 <font color=red><code>Deprecated</code></font></td>
<td>string[]</td>
<td>[]</td>
</tr>
<tr>
<td><code>[nzDefaultCheckedKeys]</code></td>
<td>指定选中复选框的节点 <font color=red><code>Deprecated</code></font></td>
<td>string[]</td>
<td>[]</td>
</tr>
<tr>
<td><code>[nzDefaultSelectedKeys]</code></td>
<td>指定选中的节点 <font color=red><code>Deprecated</code></font></td>
<td>string[]</td>
<td>[]</td>
</tr>
<tr>
<td><code>[nzData]</code></td>
<td>元数据</td>
<td>NzTreeNodeOptions[] / NzTreeNode[]</td>
<td>[]</td>
</tr>
<tr>
<td><code>[nzCheckable]</code></td>
<td>节点前添加 Checkbox 复选框</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzShowExpand]</code></td>
<td>节点前添加展开图标</td>
<td>boolean</td>
<td>true</td>
</tr>
<tr>
<td><code>[nzShowLine]</code></td>
<td>是否展示连接线</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzShowIcon]</code></td>
<td>是否展示 TreeNode title 前的图标，没有默认样式</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzAsyncData]</code></td>
<td>是否异步加载(显示加载状态)</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzDraggable]</code></td>
<td>设置节点可拖拽（IE&gt;8）</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzMultiple]</code></td>
<td>支持点选多个节点（节点本身）</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzCheckStrictly]</code></td>
<td>checkable状态下节点选择完全受控（父子节点选中状态不再关联）</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzExpandAll]</code></td>
<td>默认展开所有树节点</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzExpandedKeys]</code></td>
<td>展开指定的树节点,双向绑定</td>
<td>string[]</td>
<td>[]</td>
</tr>
<tr>
<td><code>[nzCheckedKeys]</code></td>
<td>指定选中复选框的树节点,双向绑定</td>
<td>string[]</td>
<td>[]</td>
</tr>
<tr>
<td><code>[nzSelectedKeys]</code></td>
<td>指定选中的树节点,双向绑定</td>
<td>string[]</td>
<td>[]</td>
</tr>
<tr>
<td><code>[nzSearchValue]</code></td>
<td>按需筛选树高亮节点(参考可搜索的树),双向绑定</td>
<td>string</td>
<td>null</td>
</tr>
<tr>
<td><code>[nzBeforeDrop]</code></td>
<td>drop前二次校验,允许用户自行决定是否允许放置</td>
<td><code>(confirm: NzFormatBeforeDropEvent) =&gt; Observable&lt;boolean&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>(nzClick)</code></td>
<td>点击树节点触发</td>
<td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
<td>-</td>
</tr>
<tr>
<td><code>(nzDblClick)</code></td>
<td>双击树节点触发</td>
<td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
<td>-</td>
</tr>
<tr>
<td><code>(nzContextMenu)</code></td>
<td>右键树节点触发</td>
<td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
<td>-</td>
</tr>
<tr>
<td><code>(nzCheckBoxChange)</code></td>
<td>点击树节点 Checkbox 触发</td>
<td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
<td>-</td>
</tr>
<tr>
<td><code>(nzExpandChange)</code></td>
<td>点击展开树节点图标触发</td>
<td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
<td>-</td>
</tr>
<tr>
<td><code>(nzSearchValueChange)</code></td>
<td>搜索节点时调用(与nzSearchValue配合使用)</td>
<td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
<td>-</td>
</tr>
<tr>
<td><code>(nzOnSearchNode)</code></td>
<td>搜索节点时调用(与nzSearchValue配合使用) <font color=red><code>Deprecated</code></font></td>
<td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
<td>-</td>
</tr>
<tr>
<td><code>(nzOnDragStart)</code></td>
<td>开始拖拽时调用</td>
<td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
<td>-</td>
</tr>
<tr>
<td><code>(nzOnDragEnter)</code></td>
<td>dragenter 触发时调用</td>
<td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
<td>-</td>
</tr>
<tr>
<td><code>(nzOnDragOver)</code></td>
<td>dragover 触发时调用</td>
<td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
<td>-</td>
</tr>
<tr>
<td><code>(nzOnDragLeave)</code></td>
<td>dragleave 触发时调用</td>
<td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
<td>-</td>
</tr>
<tr>
<td><code>(nzOnDrop)</code></td>
<td>drop 触发时调用</td>
<td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
<td>-</td>
</tr>
<tr>
<td><code>(nzOnDragEnd)</code></td>
<td>dragend 触发时调用</td>
<td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
<td>-</td>
</tr>
</tbody>
</table>
<h4 id="方法"><span>方法</span><a onclick="window.location.hash = '方法'" class="anchor">#</a></h4><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td>getTreeNodes</td>
<td>获取组件NzTreeNode节点</td>
<td>NzTreeNode[]</td>
<td>[]</td>
</tr>
<tr>
<td>getCheckedNodeList</td>
<td>获取组件 checkBox 被点击选中的节点</td>
<td>NzTreeNode[]</td>
<td>[]</td>
</tr>
<tr>
<td>getSelectedNodeList</td>
<td>获取组件被选中的节点</td>
<td>NzTreeNode[]</td>
<td>[]</td>
</tr>
<tr>
<td>getHalfCheckedNodeList</td>
<td>获取组件半选状态节点</td>
<td>NzTreeNode[]</td>
<td>[]</td>
</tr>
<tr>
<td>getExpandedNodeList</td>
<td>获取组件展开状态节点</td>
<td>NzTreeNode[]</td>
<td>[]</td>
</tr>
<tr>
<td>getMatchedNodeList</td>
<td>获取组搜索匹配到的节点</td>
<td>NzTreeNode[]</td>
<td>[]</td>
</tr>
</tbody>
</table>
<h4 id="nztreenodeoptions-props"><span>NzTreeNodeOptions props</span><a onclick="window.location.hash = 'nztreenodeoptions-props'" class="anchor">#</a></h4><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td>title</td>
<td>标题</td>
<td>string</td>
<td>&#39;---&#39;</td>
</tr>
<tr>
<td>key</td>
<td>整个树范围内的所有节点的 key 值不能重复且不为空！</td>
<td>string</td>
<td>null</td>
</tr>
<tr>
<td>children</td>
<td>子节点</td>
<td>array&lt;NzTreeNodeOptions&gt;</td>
<td>[]</td>
</tr>
<tr>
<td>isLeaf</td>
<td>设置为叶子节点(叶子节点不可被拖拽模式放置)</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td>checked</td>
<td>设置节点 Checkbox 是否选中</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td>selected</td>
<td>设置节点本身是否选中</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td>expanded</td>
<td>设置节点是否展开(叶子节点无效)</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td>selectable</td>
<td>设置节点是否可被选中</td>
<td>boolean</td>
<td>true</td>
</tr>
<tr>
<td>disabled</td>
<td>设置是否禁用节点(不可进行任何操作)</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td>disableCheckbox</td>
<td>设置节点禁用 Checkbox</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td>[key: string]</td>
<td>自定义数据,可通过 NzTreeNode 的 origin 字段获取</td>
<td>any</td>
<td>-</td>
</tr>
</tbody>
</table>
<h4 id="nzformatemitevent-props"><span>NzFormatEmitEvent props</span><a onclick="window.location.hash = 'nzformatemitevent-props'" class="anchor">#</a></h4><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td>eventName</td>
<td>事件名</td>
<td>enum: <code>click</code> <code>dblclick</code> <code>contextmenu</code> <code>check</code> <code>expand</code> <code>search</code> &amp; <code>dragstart</code> <code>dragenter</code> <code>dragover</code> <code>dragleave</code> <code>drop</code> <code>dragend</code></td>
<td>&#39;&#39;</td>
</tr>
<tr>
<td>node</td>
<td>当前操作节点(拖拽时表示目标节点)</td>
<td>NzTreeNode</td>
<td>null</td>
</tr>
<tr>
<td>event</td>
<td>原生事件</td>
<td>enum: <code>MouseEvent</code> <code>DragEvent</code></td>
<td>null</td>
</tr>
<tr>
<td>dragNode?</td>
<td>当前拖拽节点(拖拽时存在)</td>
<td>NzTreeNode</td>
<td>null</td>
</tr>
<tr>
<td>selectedKeys?</td>
<td>已选中的节点key(单击时存在)</td>
<td>NzTreeNode[]</td>
<td>[]</td>
</tr>
<tr>
<td>checkedKeys?</td>
<td>checkBox 已选中的节点key(点击 checkBox 存在)</td>
<td>NzTreeNode[]</td>
<td>[]</td>
</tr>
<tr>
<td>matchedKeys?</td>
<td>搜索时匹配到的节点key</td>
<td>NzTreeNode[]</td>
<td>[]</td>
</tr>
<tr>
<td>keys?</td>
<td>非拖拽事件相关的全部节点的key数组</td>
<td>string[]</td>
<td>[]</td>
</tr>
<tr>
<td>nodes?</td>
<td>非拖拽事件相关的全部节点</td>
<td>NzTreeNode[]</td>
<td>[]</td>
</tr>
</tbody>
</table>
<h4 id="nzformatbeforedropevent-props"><span>NzFormatBeforeDropEvent props</span><a onclick="window.location.hash = 'nzformatbeforedropevent-props'" class="anchor">#</a></h4><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td>dragNode</td>
<td>当前拖拽节点(拖拽时存在)</td>
<td>NzTreeNode</td>
<td>-</td>
</tr>
<tr>
<td>node</td>
<td>当前操作节点(拖拽时表示目标节点)</td>
<td>NzTreeNode</td>
<td>-</td>
</tr>
<tr>
<td>pos</td>
<td>放置位置(-1:目标节点前面, 0: 目标节点内部, 1: 目标节点后面)</td>
<td>number</td>
<td>-</td>
</tr>
</tbody>
</table>
<h4 id="nztreenode-props"><span>NzTreeNode props</span><a onclick="window.location.hash = 'nztreenode-props'" class="anchor">#</a></h4><table>
<thead>
<tr>
<th>方法</th>
<th>说明</th>
<th>类型</th>
<th>返回值类型</th>
</tr>
</thead>
<tbody>
<tr>
<td>title</td>
<td>标题</td>
<td>string</td>
<td>NzTreeNodeOptions.title</td>
</tr>
<tr>
<td>key</td>
<td>key值</td>
<td>string</td>
<td>NzTreeNodeOptions.key</td>
</tr>
<tr>
<td>level</td>
<td>层级(最顶层为0,子节点逐层加1)</td>
<td>number</td>
<td>number</td>
</tr>
<tr>
<td>children</td>
<td>子节点</td>
<td>array</td>
<td>NzTreeNode[]</td>
</tr>
<tr>
<td>origin</td>
<td>原始节点树结构(用户提供,用于展示额外信息)</td>
<td>NzTreeNodeOptions</td>
<td>-</td>
</tr>
<tr>
<td>getParentNode</td>
<td>获取父节点</td>
<td>function</td>
<td><code>NzTreeNode</code> 或 <code>null</code></td>
</tr>
<tr>
<td>isLeaf</td>
<td>是否为叶子节点</td>
<td>boolean</td>
<td><code>true</code> 或 <code>false</code></td>
</tr>
<tr>
<td>isExpanded</td>
<td>是否已展开</td>
<td>boolean</td>
<td><code>true</code> 或 <code>false</code></td>
</tr>
<tr>
<td>isDisabled</td>
<td>是否禁用</td>
<td>boolean</td>
<td><code>true</code> 或 <code>false</code></td>
</tr>
<tr>
<td>isDisableCheckbox</td>
<td>是否禁用 checkBox</td>
<td>boolean</td>
<td><code>true</code> 或 <code>false</code></td>
</tr>
<tr>
<td>isSelectable</td>
<td>是否可选中</td>
<td>boolean</td>
<td><code>true</code> 或 <code>false</code></td>
</tr>
<tr>
<td>isChecked</td>
<td>是否选中 checkBox</td>
<td>boolean</td>
<td><code>true</code> 或 <code>false</code></td>
</tr>
<tr>
<td>isAllChecked</td>
<td>子节点是否全选</td>
<td>boolean</td>
<td><code>true</code> 或 <code>false</code></td>
</tr>
<tr>
<td>isHalfChecked</td>
<td>子节点有选中但未全选</td>
<td>boolean</td>
<td><code>true</code> 或 <code>false</code></td>
</tr>
<tr>
<td>isSelected</td>
<td>是否已选中</td>
<td>boolean</td>
<td><code>true</code> 或 <code>false</code></td>
</tr>
<tr>
<td>isLoading</td>
<td>是否异步加载状态(影响展开图标展示)</td>
<td>boolean</td>
<td><code>true</code> 或 <code>false</code></td>
</tr>
<tr>
<td>isMatched</td>
<td>title是否包含nzSearchValue(搜索使用)</td>
<td>boolean</td>
<td><code>true</code> 或 <code>false</code></td>
</tr>
<tr>
<td>getChildren</td>
<td>获取子节点,返回NzTreeNode数组</td>
<td>function</td>
<td>NzTreeNode[]</td>
</tr>
<tr>
<td>addChildren</td>
<td>添加子节点,接收NzTreeNode或NzTreeNodeOptions数组,第二个参数为插入的索引位置,默认插入末尾</td>
<td>(children: array, index?: number )=&gt;&#123;&#125;</td>
<td>void</td>
</tr>
<tr>
<td>clearChildren</td>
<td>清除子节点</td>
<td>function</td>
<td>void</td>
</tr>
<tr>
<td>setChecked</td>
<td>设置checked状态，参数为checked和halfChecked</td>
<td>(checked: boolean, halfChecked: boolean=false)=&gt;&#123;&#125;</td>
<td>void</td>
</tr>
<tr>
<td>setExpanded</td>
<td>设置expanded状态</td>
<td>(value: boolean)=&gt;&#123;&#125;</td>
<td>void</td>
</tr>
<tr>
<td>setSelected</td>
<td>设置selected状态</td>
<td>(value: boolean)=&gt;&#123;&#125;</td>
<td>void</td>
</tr>
</tbody>
</table>
<h2 id="注意"><span>注意</span><a onclick="window.location.hash = '注意'" class="anchor">#</a></h2><p><code>NzTreeNodeOptions</code> 可以接受用户自定义属性，可通过 <code>NzTreeNode</code> 的 <code>origin</code> 属性取得。</p>
</section></article></main></div></app-root>
    <script type="text/javascript">
      // Single Page Apps for GitHub Pages
      // https://github.com/rafrex/spa-github-pages
      // Copyright (c) 2016 Rafael Pedicini, licensed under the MIT License
      // ----------------------------------------------------------------------
      // This script checks to see if a redirect is present in the query string
      // and converts it back into the correct url and adds it to the
      // browser's history using window.history.replaceState(...),
      // which won't cause the browser to attempt to load the new url.
      // When the single page app is loaded further down in this file,
      // the correct url will be waiting in the browser's history for
      // the single page app to route accordingly.
      (function(l) {
        if (l.search) {
          var q = {};
          l.search.slice(1).split('&').forEach(function(v) {
            var a = v.split('=');
            q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
          });
          if (q.p !== undefined) {
            window.history.replaceState(null, null,
              l.pathname.slice(0, -1) + (q.p || '') +
              (q.q ? ('?' + q.q) : '') +
              l.hash
            );
          }
        }
      }(window.location))
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52892298-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-52892298-2');
    </script>
  <script type="text/javascript" src="runtime.3b80d31845c016626f6e.js"></script><script type="text/javascript" src="polyfills.123964adf0983bf3e4a6.js"></script><script type="text/javascript" src="scripts.03e042f1f102bf0e2ed8.js"></script><script type="text/javascript" src="main.e2ecce41a02d6a32c114.js"></script></body>
</html>
