<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>抽屉 - NG-ZORRO - Ant Design Of Angular</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
    <!-- Hotjar Tracking Code for ng.ant.design -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:792689,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
  <link rel="stylesheet" href="styles.ba7484eafc88ea9e5128.css"></head>
  <body>
    <nav><ul><li><a href="/docs/introduce/zh">Ant Design of Angular</a></li>
<li><a href="/docs/introduce/en">Ant Design of Angular</a></li>
<li><a href="/docs/getting-started/zh">快速上手</a></li>
<li><a href="/docs/getting-started/en">Getting Started</a></li>
<li><a href="/docs/schematics/en">Schematics</a></li>
<li><a href="/docs/schematics/zh">脚手架</a></li>
<li><a href="/docs/i18n/en">Internationalization</a></li>
<li><a href="/docs/i18n/zh">国际化</a></li>
<li><a href="/docs/customize-theme/en">Customize Theme</a></li>
<li><a href="/docs/customize-theme/zh">定制主题</a></li>
<li><a href="/docs/recommendation/zh">社区推荐</a></li>
<li><a href="/docs/recommendation/en">Third-Party Libraries</a></li>
<li><a href="/docs/faq/zh">常见问题</a></li>
<li><a href="/docs/faq/en">FAQ</a></li>
<li><a href="/docs/contributing/zh">贡献指南</a></li>
<li><a href="/docs/changelog/zh">更新日志</a></li>
<li><a href="/docs/contributing/en">Contributing to NG-ZORRO</a></li>
<li><a href="/docs/changelog/en">Change Log</a></li></ul><ul><li><h3>General</h3><ul><li><a href="/components/button/zh">按钮</a></li>
<li><a href="/components/button/en">Button</a></li>
<li><a href="/components/icon/zh">图标</a></li>
<li><a href="/components/icon/en">Icon</a></li></ul></li>,<li><h3>Layout</h3><ul><li><a href="/components/grid/zh">栅格</a></li>
<li><a href="/components/grid/en">Grid</a></li>
<li><a href="/components/layout/zh">布局</a></li>
<li><a href="/components/layout/en">Layout</a></li></ul></li>,<li><h3>Navigation</h3><ul><li><a href="/components/affix/zh">固钉</a></li>
<li><a href="/components/affix/en">Affix</a></li>
<li><a href="/components/breadcrumb/zh">面包屑</a></li>
<li><a href="/components/breadcrumb/en">Breadcrumb</a></li>
<li><a href="/components/dropdown/zh">下拉菜单</a></li>
<li><a href="/components/dropdown/en">Dropdown</a></li>
<li><a href="/components/menu/zh">导航菜单</a></li>
<li><a href="/components/menu/en">Menu</a></li>
<li><a href="/components/pagination/zh">分页</a></li>
<li><a href="/components/pagination/en">Pagination</a></li>
<li><a href="/components/steps/zh">步骤条</a></li>
<li><a href="/components/steps/en">Steps</a></li></ul></li>,<li><h3>Data Entry</h3><ul><li><a href="/components/auto-complete/zh">自动完成</a></li>
<li><a href="/components/auto-complete/en">Autocomplete</a></li>
<li><a href="/components/cascader/zh">级联选择</a></li>
<li><a href="/components/cascader/en">Cascader</a></li>
<li><a href="/components/checkbox/zh">多选框</a></li>
<li><a href="/components/checkbox/en">Checkbox</a></li>
<li><a href="/components/date-picker/zh">日期选择框</a></li>
<li><a href="/components/date-picker/en">DatePicker</a></li>
<li><a href="/components/form/zh">表单</a></li>
<li><a href="/components/form/en">Form</a></li>
<li><a href="/components/input/zh">输入框</a></li>
<li><a href="/components/input/en">Input</a></li>
<li><a href="/components/input-number/zh">数字输入框</a></li>
<li><a href="/components/input-number/en">InputNumber</a></li>
<li><a href="/components/mention/zh">提及</a></li>
<li><a href="/components/mention/en">Mention</a></li>
<li><a href="/components/radio/zh">单选框</a></li>
<li><a href="/components/radio/en">Radio</a></li>
<li><a href="/components/rate/zh">评分</a></li>
<li><a href="/components/rate/en">Rate</a></li>
<li><a href="/components/select/zh">选择器</a></li>
<li><a href="/components/select/en">Select</a></li>
<li><a href="/components/slider/zh">滑动输入条</a></li>
<li><a href="/components/slider/en">Slider</a></li>
<li><a href="/components/switch/zh">开关</a></li>
<li><a href="/components/switch/en">Switch</a></li>
<li><a href="/components/time-picker/zh">时间选择框</a></li>
<li><a href="/components/time-picker/en">TimePicker</a></li>
<li><a href="/components/transfer/zh">穿梭框</a></li>
<li><a href="/components/transfer/en">Transfer</a></li>
<li><a href="/components/tree-select/zh">树选择</a></li>
<li><a href="/components/tree-select/en">TreeSelect</a></li>
<li><a href="/components/upload/zh">上传</a></li>
<li><a href="/components/upload/en">Upload</a></li></ul></li>,<li><h3>Data Display</h3><ul><li><a href="/components/avatar/zh">头像</a></li>
<li><a href="/components/avatar/en">Avatar</a></li>
<li><a href="/components/badge/zh">徽标数</a></li>
<li><a href="/components/badge/en">Badge</a></li>
<li><a href="/components/calendar/zh">日历</a></li>
<li><a href="/components/calendar/en">Calendar</a></li>
<li><a href="/components/card/zh">卡片</a></li>
<li><a href="/components/card/en">Card</a></li>
<li><a href="/components/carousel/zh">走马灯</a></li>
<li><a href="/components/carousel/en">Carousel</a></li>
<li><a href="/components/collapse/zh">折叠面板</a></li>
<li><a href="/components/collapse/en">Collapse</a></li>
<li><a href="/components/list/zh">列表</a></li>
<li><a href="/components/list/en">List</a></li>
<li><a href="/components/popover/zh">气泡卡片</a></li>
<li><a href="/components/popover/en">Popover</a></li>
<li><a href="/components/table/zh">表格</a></li>
<li><a href="/components/table/en">Table</a></li>
<li><a href="/components/tabs/zh">标签页</a></li>
<li><a href="/components/tabs/en">Tabs</a></li>
<li><a href="/components/tag/zh">标签</a></li>
<li><a href="/components/tag/en">Tag</a></li>
<li><a href="/components/timeline/zh">时间轴</a></li>
<li><a href="/components/timeline/en">Timeline</a></li>
<li><a href="/components/tooltip/zh">文字提示</a></li>
<li><a href="/components/tooltip/en">Tooltip</a></li>
<li><a href="/components/tree/zh">树形控件</a></li>
<li><a href="/components/tree/en">Tree</a></li></ul></li>,<li><h3>Feedback</h3><ul><li><a href="/components/alert/zh">警告提示</a></li>
<li><a href="/components/alert/en">Alert</a></li>
<li><a href="/components/drawer/zh">抽屉</a></li>
<li><a href="/components/drawer/en">Drawer</a></li>
<li><a href="/components/message/zh">全局提示</a></li>
<li><a href="/components/message/en">Message</a></li>
<li><a href="/components/modal/zh">对话框</a></li>
<li><a href="/components/modal/en">Modal</a></li>
<li><a href="/components/notification/zh">通知提醒框</a></li>
<li><a href="/components/notification/en">Notification</a></li>
<li><a href="/components/popconfirm/zh">气泡确认框</a></li>
<li><a href="/components/popconfirm/en">Popconfirm</a></li>
<li><a href="/components/progress/zh">进度条</a></li>
<li><a href="/components/progress/en">Progress</a></li>
<li><a href="/components/skeleton/zh">加载占位图</a></li>
<li><a href="/components/skeleton/en">Skeleton</a></li>
<li><a href="/components/spin/zh">加载中</a></li>
<li><a href="/components/spin/en">Spin</a></li></ul></li>,<li><h3>Other</h3><ul><li><a href="/components/anchor/zh">锚点</a></li>
<li><a href="/components/anchor/en">Anchor</a></li>
<li><a href="/components/back-top/zh">回到顶部</a></li>
<li><a href="/components/back-top/en">BackTop</a></li>
<li><a href="/components/divider/zh">分割线</a></li>
<li><a href="/components/divider/en">Divider</a></li></ul></li></ul></nav><main><article><nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
      <nz-link nzHref="#components-drawer-demo-basic-right" nzTitle="基础抽屉"></nz-link><nz-link nzHref="#components-drawer-demo-placement" nzTitle="自定义位置"></nz-link><nz-link nzHref="#components-drawer-demo-from-drawer" nzTitle="对象编辑"></nz-link><nz-link nzHref="#components-drawer-demo-user-profile" nzTitle="信息预览抽屉"></nz-link><nz-link nzHref="#components-drawer-demo-multi-level-drawer" nzTitle="多层抽屉"></nz-link><nz-link nzHref="#components-drawer-demo-service" nzTitle="服务方式创建"></nz-link>
    </nz-anchor>
  </nz-affix><section class="markdown">
	<h1>Drawer<span class="subtitle">抽屉</span>
	<a class="edit-button" href="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/drawer/doc/index.zh-CN.md" target="_blank">
		<i nz-icon type="edit"></i></a>
</h1>
	<section class="markdown" ngNonBindable>
		<p>抽屉从父窗体边缘滑入，覆盖住部分父窗体内容。用户在抽屉内操作时不必离开当前任务，操作完成后，可以平滑地回到到原任务。</p>
<h2 id="何时使用"><span>何时使用</span><a onclick="window.location.hash = '何时使用'" class="anchor">#</a></h2><ul>
<li>当需要一个附加的面板来控制父窗体内容，这个面板在需要时呼出。比如，控制界面展示样式，往界面中添加内容。</li>
<li>当需要在当前任务流中插入临时任务，创建或预览附加内容。比如展示协议条款，创建子对象。</li>
</ul>

	</section>
	
	<h2>
		<span>代码演示</span>
		<i nz-icon type="appstore" class="code-box-expand-trigger" title="展开全部代码" (click)="expandAllCode()"></i>
	</h2>
</section><div nz-row [nzGutter]="16">
	<div nz-col [nzLg]="12" [nzMd]="24">
		<nz-code-box nzTitle="基础抽屉" [nzId]="'components-drawer-demo-basic-right'" nzSelector="nz-demo-drawer-basic-right" [nzLink]="'components-drawer-demo-basic-right'" nzGenerateCommand="ng g ng-zorro-antd:drawer-basic-right -p app --name=" nzComponentName="NzDemoDrawerBasicRightComponent" [nzCode]="basicRight" [nzRawCode]="basicRightRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/drawer/demo/basic-right.md'">
	<nz-demo-drawer-basic-right demo></nz-demo-drawer-basic-right>
	<div intro ngNonBindable>
		<p>基础抽屉，点击触发按钮抽屉从右滑出，点击遮罩区关闭</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="对象编辑" [nzId]="'components-drawer-demo-from-drawer'" nzSelector="nz-demo-drawer-from-drawer" [nzLink]="'components-drawer-demo-from-drawer'" nzGenerateCommand="ng g ng-zorro-antd:drawer-from-drawer -p app --name=" nzComponentName="NzDemoDrawerFromDrawerComponent" [nzCode]="fromDrawer" [nzRawCode]="fromDrawerRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/drawer/demo/from-drawer.md'">
	<nz-demo-drawer-from-drawer demo></nz-demo-drawer-from-drawer>
	<div intro ngNonBindable>
		<p>用于承载编辑相关操作，需要点击关闭按钮关闭。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="多层抽屉" [nzId]="'components-drawer-demo-multi-level-drawer'" nzSelector="nz-demo-drawer-multi-level-drawer" [nzLink]="'components-drawer-demo-multi-level-drawer'" nzGenerateCommand="ng g ng-zorro-antd:drawer-multi-level-drawer -p app --name=" nzComponentName="NzDemoDrawerMultiLevelDrawerComponent" [nzCode]="multiLevelDrawer" [nzRawCode]="multiLevelDrawerRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/drawer/demo/multi-level-drawer.md'">
	<nz-demo-drawer-multi-level-drawer demo></nz-demo-drawer-multi-level-drawer>
	<div intro ngNonBindable>
		<p>在抽屉内打开新的抽屉，用以解决多分支任务的复杂状况。</p>

	</div>
</nz-code-box>

	</div>
	<div nz-col [nzLg]="12" [nzMd]="24">
		<nz-code-box nzTitle="自定义位置" [nzId]="'components-drawer-demo-placement'" nzSelector="nz-demo-drawer-placement" [nzLink]="'components-drawer-demo-placement'" nzGenerateCommand="ng g ng-zorro-antd:drawer-placement -p app --name=" nzComponentName="NzDemoDrawerPlacementComponent" [nzCode]="placement" [nzRawCode]="placementRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/drawer/demo/placement.md'">
	<nz-demo-drawer-placement demo></nz-demo-drawer-placement>
	<div intro ngNonBindable>
		<p>自定义位置，点击触发按钮抽屉从相应的位置滑出，点击遮罩区关闭</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="信息预览抽屉" [nzId]="'components-drawer-demo-user-profile'" nzSelector="nz-demo-drawer-user-profile" [nzLink]="'components-drawer-demo-user-profile'" nzGenerateCommand="ng g ng-zorro-antd:drawer-user-profile -p app --name=" nzComponentName="NzDemoDrawerUserProfileComponent" [nzCode]="userProfile" [nzRawCode]="userProfileRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/drawer/demo/user-profile.md'">
	<nz-demo-drawer-user-profile demo></nz-demo-drawer-user-profile>
	<div intro ngNonBindable>
		<p>需要快速预览对象概要时使用，点击遮罩区关闭。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="服务方式创建" [nzId]="'components-drawer-demo-service'" nzSelector="nz-demo-drawer-service" [nzLink]="'components-drawer-demo-service'" nzGenerateCommand="ng g ng-zorro-antd:drawer-service -p app --name=" nzComponentName="NzDemoDrawerServiceComponent" [nzCode]="service" [nzRawCode]="serviceRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/drawer/demo/service.md'">
	<nz-demo-drawer-service demo></nz-demo-drawer-service>
	<div intro ngNonBindable>
		<p>Drawer 的 service 用法，示例中演示了用户自定义模板、自定义component。</p>
<blockquote>
<p><strong>注意</strong> 如果使用Component模式，则需要在NgModule中的 <code>declarations</code> 和 <code>entryComponents</code> 加入自定义的Component</p>
</blockquote>

	</div>
</nz-code-box>

	</div>
</div>
<section class="markdown api-container" ngNonBindable><h2 id="api"><span>API</span><a onclick="window.location.hash = 'api'" class="anchor">#</a></h2><h3 id="nz-drawer"><span>nz-drawer</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-drawer'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[nzClosable]</code></td>
<td>是否显示右上角的关闭按钮</td>
<td><code>boolean</code></td>
<td><code>true</code></td>
</tr>
<tr>
<td><code>[nzMaskClosable]</code></td>
<td>点击蒙层是否允许关闭</td>
<td><code>boolean</code></td>
<td><code>true</code></td>
</tr>
<tr>
<td><code>[nzMask]</code></td>
<td>是否展示遮罩</td>
<td><code>boolean</code></td>
<td><code>true</code></td>
</tr>
<tr>
<td><code>[nzMaskStyle]</code></td>
<td>遮罩样式</td>
<td><code>object</code></td>
<td><code>&#123;&#125;</code></td>
</tr>
<tr>
<td><code>[nzBodyStyle]</code></td>
<td>Drawer body 样式</td>
<td><code>object</code></td>
<td><code>&#123;&#125;</code></td>
</tr>
<tr>
<td><code>[nzTitle]</code></td>
<td>标题</td>
<td><code>string</code>  <code>TemplateRef&lt;&#123;&#125;&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzVisible]</code></td>
<td>Drawer 是否可见</td>
<td><code>boolean</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzPlacement]</code></td>
<td>抽屉的方向</td>
<td><code>&#39;top&#39;</code> <code>&#39;right&#39;</code> <code>&#39;bottom&#39;</code> <code>&#39;left&#39;</code></td>
<td><code>&#39;right&#39;</code></td>
</tr>
<tr>
<td><code>[nzWidth]</code></td>
<td>宽度, 只在方向为 <code>&#39;right&#39;</code>或<code>&#39;left&#39;</code> 时生效</td>
<td><code>number</code> <code>string</code></td>
<td><code>256</code></td>
</tr>
<tr>
<td><code>[nzHeight]</code></td>
<td>高度, 只在方向为 <code>&#39;top&#39;</code>或<code>&#39;bottom&#39;</code> 时生效</td>
<td><code>number</code> <code>string</code></td>
<td><code>256</code></td>
</tr>
<tr>
<td><code>[nzOffsetX]</code></td>
<td>x 坐标移量(px), 只在方向为 <code>&#39;right&#39;</code>或<code>&#39;left&#39;</code> 时生效</td>
<td><code>number</code></td>
<td><code>0</code></td>
</tr>
<tr>
<td><code>[nzOffsetY]</code></td>
<td>y 坐标移量(px), 高度, 只在方向为 <code>&#39;top&#39;</code>或<code>&#39;bottom&#39;</code> 时生效</td>
<td><code>number</code></td>
<td><code>0</code></td>
</tr>
<tr>
<td><code>[nzWrapClassName]</code></td>
<td>对话框外层容器的类名</td>
<td><code>string</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzZIndex]</code></td>
<td>设置 Drawer 的 <code>z-index</code></td>
<td><code>number</code></td>
<td><code>1000</code></td>
</tr>
<tr>
<td><code>(nzOnClose)</code></td>
<td>点击遮罩层或右上角叉或取消按钮的回调</td>
<td><code>EventEmitter&lt;MouseEvent&gt;</code></td>
<td>-</td>
</tr>
</tbody>
</table>
<h3 id="nzdrawerservice"><span>NzDrawerService</span><label class="api-type-label service">service</label><a onclick="window.location.hash = 'nzdrawerservice'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>方法名</th>
<th>说明</th>
<th>参数</th>
<th>返回</th>
</tr>
</thead>
<tbody>
<tr>
<td>create</td>
<td>创建并打开一个 Drawer</td>
<td><code>NzDrawerOptions&lt;T, D, R&gt;</code></td>
<td><code>NzDrawerRef&lt;R&gt;</code></td>
</tr>
</tbody>
</table>
<h3 id="nzdraweroptions"><span>NzDrawerOptions</span><a onclick="window.location.hash = 'nzdraweroptions'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td>nzContent</td>
<td>Drawer body 的内容</td>
<td><code>TemplateRef&lt;&#123; $implicit: D, drawerRef: NzDrawerRef &#125;&gt;</code>, <code>Type&lt;T&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td>nzClosable</td>
<td>是否显示右上角的关闭按钮</td>
<td><code>boolean</code></td>
<td><code>true</code></td>
</tr>
<tr>
<td>nzContentParams</td>
<td>内容组件的输入参数 / Template的 context</td>
<td><code>D</code></td>
<td>-</td>
</tr>
<tr>
<td>nzMaskClosable</td>
<td>点击蒙层是否允许关闭</td>
<td><code>boolean</code></td>
<td><code>true</code></td>
</tr>
<tr>
<td>nzMask</td>
<td>是否展示遮罩</td>
<td><code>boolean</code></td>
<td><code>true</code></td>
</tr>
<tr>
<td>nzMaskStyle</td>
<td>遮罩样式</td>
<td><code>object</code></td>
<td><code>&#123;&#125;</code></td>
</tr>
<tr>
<td>nzBodyStyle</td>
<td>Modal body 样式</td>
<td><code>object</code></td>
<td><code>&#123;&#125;</code></td>
</tr>
<tr>
<td>nzTitle</td>
<td>标题</td>
<td><code>string</code>  <code>TemplateRef&lt;&#123;&#125;&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td>nzWidth</td>
<td>宽度</td>
<td><code>number</code> <code>string</code></td>
<td><code>256</code></td>
</tr>
<tr>
<td>nzHeight</td>
<td>高度, 只在方向为 <code>&#39;top&#39;</code>或<code>&#39;bottom&#39;</code> 时生效</td>
<td><code>number</code> <code>string</code></td>
<td><code>256</code></td>
</tr>
<tr>
<td>nzWrapClassName</td>
<td>对话框外层容器的类名</td>
<td><code>string</code></td>
<td>-</td>
</tr>
<tr>
<td>nzZIndex</td>
<td>设置 Drawer 的 <code>z-index</code></td>
<td><code>number</code></td>
<td><code>1000</code></td>
</tr>
<tr>
<td>nzPlacement</td>
<td>抽屉的方向</td>
<td><code>&#39;top&#39;</code> <code>&#39;right&#39;</code> <code>&#39;bottom&#39;</code> <code>&#39;left&#39;</code></td>
<td><code>&#39;right&#39;</code></td>
</tr>
<tr>
<td>nzOffsetX</td>
<td>x 坐标移量(px)</td>
<td><code>number</code></td>
<td><code>0</code></td>
</tr>
<tr>
<td>nzOffsetY</td>
<td>y 坐标移量(px), 高度, 只在方向为 <code>&#39;top&#39;</code>或<code>&#39;bottom&#39;</code> 时生效</td>
<td><code>number</code></td>
<td><code>0</code></td>
</tr>
</tbody>
</table>
<h3 id="nzdrawerref"><span>NzDrawerRef</span><a onclick="window.location.hash = 'nzdrawerref'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
</tr>
</thead>
<tbody>
<tr>
<td>afterOpen</td>
<td>打开之后的回调</td>
<td><code>Observable&lt;void&gt;</code></td>
</tr>
<tr>
<td>afterClose</td>
<td>关闭之后的回调</td>
<td><code>Observable&lt;R&gt;</code></td>
</tr>
<tr>
<td>close</td>
<td>关闭 Drawer</td>
<td><code>(result?: R) =&gt; void</code></td>
</tr>
<tr>
<td>open</td>
<td>打开 Drawer</td>
<td><code>() =&gt; void</code></td>
</tr>
</tbody>
</table>
</section></article></main>
    <script type="text/javascript">
      // Single Page Apps for GitHub Pages
      // https://github.com/rafrex/spa-github-pages
      // Copyright (c) 2016 Rafael Pedicini, licensed under the MIT License
      // ----------------------------------------------------------------------
      // This script checks to see if a redirect is present in the query string
      // and converts it back into the correct url and adds it to the
      // browser's history using window.history.replaceState(...),
      // which won't cause the browser to attempt to load the new url.
      // When the single page app is loaded further down in this file,
      // the correct url will be waiting in the browser's history for
      // the single page app to route accordingly.
      (function(l) {
        if (l.search) {
          var q = {};
          l.search.slice(1).split('&').forEach(function(v) {
            var a = v.split('=');
            q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
          });
          if (q.p !== undefined) {
            window.history.replaceState(null, null,
              l.pathname.slice(0, -1) + (q.p || '') +
              (q.q ? ('?' + q.q) : '') +
              l.hash
            );
          }
        }
      }(window.location))
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52892298-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-52892298-2');
    </script>
  <script type="text/javascript" src="runtime.3b80d31845c016626f6e.js"></script><script type="text/javascript" src="polyfills.123964adf0983bf3e4a6.js"></script><script type="text/javascript" src="scripts.03e042f1f102bf0e2ed8.js"></script><script type="text/javascript" src="main.7e111ff5ba3e8cf76293.js"></script></body>
</html>
