<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mention - NG-ZORRO - Ant Design Of Angular</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
    <!-- Hotjar Tracking Code for ng.ant.design -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:792689,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
  <link rel="stylesheet" href="styles.ba7484eafc88ea9e5128.css"></head>
  <body>
    <app-root><nav><ul><li><a href="/docs/introduce/zh">Ant Design of Angular</a></li>
<li><a href="/docs/introduce/en">Ant Design of Angular</a></li>
<li><a href="/docs/getting-started/zh">快速上手</a></li>
<li><a href="/docs/getting-started/en">Getting Started</a></li>
<li><a href="/docs/schematics/en">Schematics</a></li>
<li><a href="/docs/schematics/zh">脚手架</a></li>
<li><a href="/docs/i18n/en">Internationalization</a></li>
<li><a href="/docs/i18n/zh">国际化</a></li>
<li><a href="/docs/customize-theme/en">Customize Theme</a></li>
<li><a href="/docs/customize-theme/zh">定制主题</a></li>
<li><a href="/docs/recommendation/zh">社区推荐</a></li>
<li><a href="/docs/recommendation/en">Third-Party Libraries</a></li>
<li><a href="/docs/faq/zh">常见问题</a></li>
<li><a href="/docs/faq/en">FAQ</a></li>
<li><a href="/docs/contributing/zh">贡献指南</a></li>
<li><a href="/docs/changelog/zh">更新日志</a></li>
<li><a href="/docs/contributing/en">Contributing to NG-ZORRO</a></li>
<li><a href="/docs/changelog/en">Change Log</a></li></ul><ul><li><h3>General</h3><ul><li><a href="/components/button/zh">按钮</a></li>
<li><a href="/components/button/en">Button</a></li>
<li><a href="/components/icon/zh">图标</a></li>
<li><a href="/components/icon/en">Icon</a></li></ul></li>,<li><h3>Layout</h3><ul><li><a href="/components/grid/zh">栅格</a></li>
<li><a href="/components/grid/en">Grid</a></li>
<li><a href="/components/layout/zh">布局</a></li>
<li><a href="/components/layout/en">Layout</a></li></ul></li>,<li><h3>Navigation</h3><ul><li><a href="/components/affix/zh">固钉</a></li>
<li><a href="/components/affix/en">Affix</a></li>
<li><a href="/components/breadcrumb/zh">面包屑</a></li>
<li><a href="/components/breadcrumb/en">Breadcrumb</a></li>
<li><a href="/components/dropdown/zh">下拉菜单</a></li>
<li><a href="/components/dropdown/en">Dropdown</a></li>
<li><a href="/components/menu/zh">导航菜单</a></li>
<li><a href="/components/menu/en">Menu</a></li>
<li><a href="/components/pagination/zh">分页</a></li>
<li><a href="/components/pagination/en">Pagination</a></li>
<li><a href="/components/steps/zh">步骤条</a></li>
<li><a href="/components/steps/en">Steps</a></li></ul></li>,<li><h3>Data Entry</h3><ul><li><a href="/components/auto-complete/zh">自动完成</a></li>
<li><a href="/components/auto-complete/en">Autocomplete</a></li>
<li><a href="/components/cascader/zh">级联选择</a></li>
<li><a href="/components/cascader/en">Cascader</a></li>
<li><a href="/components/checkbox/zh">多选框</a></li>
<li><a href="/components/checkbox/en">Checkbox</a></li>
<li><a href="/components/date-picker/zh">日期选择框</a></li>
<li><a href="/components/date-picker/en">DatePicker</a></li>
<li><a href="/components/form/zh">表单</a></li>
<li><a href="/components/form/en">Form</a></li>
<li><a href="/components/input/zh">输入框</a></li>
<li><a href="/components/input/en">Input</a></li>
<li><a href="/components/input-number/zh">数字输入框</a></li>
<li><a href="/components/input-number/en">InputNumber</a></li>
<li><a href="/components/mention/zh">提及</a></li>
<li><a href="/components/mention/en">Mention</a></li>
<li><a href="/components/radio/zh">单选框</a></li>
<li><a href="/components/radio/en">Radio</a></li>
<li><a href="/components/rate/zh">评分</a></li>
<li><a href="/components/rate/en">Rate</a></li>
<li><a href="/components/select/zh">选择器</a></li>
<li><a href="/components/select/en">Select</a></li>
<li><a href="/components/slider/zh">滑动输入条</a></li>
<li><a href="/components/slider/en">Slider</a></li>
<li><a href="/components/switch/zh">开关</a></li>
<li><a href="/components/switch/en">Switch</a></li>
<li><a href="/components/time-picker/zh">时间选择框</a></li>
<li><a href="/components/time-picker/en">TimePicker</a></li>
<li><a href="/components/transfer/zh">穿梭框</a></li>
<li><a href="/components/transfer/en">Transfer</a></li>
<li><a href="/components/tree-select/zh">树选择</a></li>
<li><a href="/components/tree-select/en">TreeSelect</a></li>
<li><a href="/components/upload/zh">上传</a></li>
<li><a href="/components/upload/en">Upload</a></li></ul></li>,<li><h3>Data Display</h3><ul><li><a href="/components/avatar/zh">头像</a></li>
<li><a href="/components/avatar/en">Avatar</a></li>
<li><a href="/components/badge/zh">徽标数</a></li>
<li><a href="/components/badge/en">Badge</a></li>
<li><a href="/components/calendar/zh">日历</a></li>
<li><a href="/components/calendar/en">Calendar</a></li>
<li><a href="/components/card/zh">卡片</a></li>
<li><a href="/components/card/en">Card</a></li>
<li><a href="/components/carousel/zh">走马灯</a></li>
<li><a href="/components/carousel/en">Carousel</a></li>
<li><a href="/components/collapse/zh">折叠面板</a></li>
<li><a href="/components/collapse/en">Collapse</a></li>
<li><a href="/components/list/zh">列表</a></li>
<li><a href="/components/list/en">List</a></li>
<li><a href="/components/popover/zh">气泡卡片</a></li>
<li><a href="/components/popover/en">Popover</a></li>
<li><a href="/components/table/zh">表格</a></li>
<li><a href="/components/table/en">Table</a></li>
<li><a href="/components/tabs/zh">标签页</a></li>
<li><a href="/components/tabs/en">Tabs</a></li>
<li><a href="/components/tag/zh">标签</a></li>
<li><a href="/components/tag/en">Tag</a></li>
<li><a href="/components/timeline/zh">时间轴</a></li>
<li><a href="/components/timeline/en">Timeline</a></li>
<li><a href="/components/tooltip/zh">文字提示</a></li>
<li><a href="/components/tooltip/en">Tooltip</a></li>
<li><a href="/components/tree/zh">树形控件</a></li>
<li><a href="/components/tree/en">Tree</a></li></ul></li>,<li><h3>Feedback</h3><ul><li><a href="/components/alert/zh">警告提示</a></li>
<li><a href="/components/alert/en">Alert</a></li>
<li><a href="/components/drawer/zh">抽屉</a></li>
<li><a href="/components/drawer/en">Drawer</a></li>
<li><a href="/components/message/zh">全局提示</a></li>
<li><a href="/components/message/en">Message</a></li>
<li><a href="/components/modal/zh">对话框</a></li>
<li><a href="/components/modal/en">Modal</a></li>
<li><a href="/components/notification/zh">通知提醒框</a></li>
<li><a href="/components/notification/en">Notification</a></li>
<li><a href="/components/popconfirm/zh">气泡确认框</a></li>
<li><a href="/components/popconfirm/en">Popconfirm</a></li>
<li><a href="/components/progress/zh">进度条</a></li>
<li><a href="/components/progress/en">Progress</a></li>
<li><a href="/components/skeleton/zh">加载占位图</a></li>
<li><a href="/components/skeleton/en">Skeleton</a></li>
<li><a href="/components/spin/zh">加载中</a></li>
<li><a href="/components/spin/en">Spin</a></li></ul></li>,<li><h3>Other</h3><ul><li><a href="/components/anchor/zh">锚点</a></li>
<li><a href="/components/anchor/en">Anchor</a></li>
<li><a href="/components/back-top/zh">回到顶部</a></li>
<li><a href="/components/back-top/en">BackTop</a></li>
<li><a href="/components/divider/zh">分割线</a></li>
<li><a href="/components/divider/en">Divider</a></li></ul></li></ul></nav><main><article><nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
      <nz-link nzHref="#components-mention-demo-basic" nzTitle="Basic"></nz-link><nz-link nzHref="#components-mention-demo-placement" nzTitle="Placement"></nz-link><nz-link nzHref="#components-mention-demo-async" nzTitle="Asynchronous loading"></nz-link><nz-link nzHref="#components-mention-demo-custom-tag" nzTitle="Customize Suggestion"></nz-link><nz-link nzHref="#components-mention-demo-avatar" nzTitle="Icon Image"></nz-link><nz-link nzHref="#components-mention-demo-controlled" nzTitle="With Form"></nz-link><nz-link nzHref="#components-mention-demo-multilines" nzTitle="Multi-lines Mode"></nz-link><nz-link nzHref="#components-mention-demo-readonly" nzTitle="disabled or readOnly"></nz-link><nz-link nzHref="#components-mention-demo-multiple-trigger" nzTitle="Customize Trigger Token"></nz-link><nz-link nzHref="#components-mention-demo-preview" nzTitle="Preview"></nz-link>
    </nz-anchor>
  </nz-affix><section class="markdown">
	<h1>Mention<span class="subtitle"></span>
	<a class="edit-button" href="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/mention/doc/index.en-US.md" target="_blank">
		<i nz-icon type="edit"></i></a>
</h1>
	<section class="markdown" ngNonBindable>
		<p>Mention component.</p>
<h2 id="when-to-use"><span>When To Use</span><a onclick="window.location.hash = 'when-to-use'" class="anchor">#</a></h2><p>When need to mention someone or something.</p>

	</section>
	
	<h2>
		<span>Examples</span>
		<i nz-icon type="appstore" class="code-box-expand-trigger" title="expand all code" (click)="expandAllCode()"></i>
	</h2>
</section><div nz-row [nzGutter]="16">
	<div nz-col [nzLg]="12" [nzMd]="24">
		<nz-code-box nzTitle="Basic" [nzId]="'components-mention-demo-basic'" nzSelector="nz-demo-mention-basic" [nzLink]="'components-mention-demo-basic'" nzGenerateCommand="ng g ng-zorro-antd:mention-basic -p app --name=" nzComponentName="NzDemoMentionBasicComponent" [nzCode]="basic" [nzRawCode]="basicRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/mention/demo/basic.md'">
	<nz-demo-mention-basic demo></nz-demo-mention-basic>
	<div intro ngNonBindable>
		<p>Basic usage.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Asynchronous loading" [nzId]="'components-mention-demo-async'" nzSelector="nz-demo-mention-async" [nzLink]="'components-mention-demo-async'" nzGenerateCommand="ng g ng-zorro-antd:mention-async -p app --name=" nzComponentName="NzDemoMentionAsyncComponent" [nzCode]="async" [nzRawCode]="asyncRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/mention/demo/async.md'">
	<nz-demo-mention-async demo></nz-demo-mention-async>
	<div intro ngNonBindable>
		<p>async</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Icon Image" [nzId]="'components-mention-demo-avatar'" nzSelector="nz-demo-mention-avatar" [nzLink]="'components-mention-demo-avatar'" nzGenerateCommand="ng g ng-zorro-antd:mention-avatar -p app --name=" nzComponentName="NzDemoMentionAvatarComponent" [nzCode]="avatar" [nzRawCode]="avatarRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/mention/demo/avatar.md'">
	<nz-demo-mention-avatar demo></nz-demo-mention-avatar>
	<div intro ngNonBindable>
		<p>Customize suggestions.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Multi-lines Mode" [nzId]="'components-mention-demo-multilines'" nzSelector="nz-demo-mention-multilines" [nzLink]="'components-mention-demo-multilines'" nzGenerateCommand="ng g ng-zorro-antd:mention-multilines -p app --name=" nzComponentName="NzDemoMentionMultilinesComponent" [nzCode]="multilines" [nzRawCode]="multilinesRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/mention/demo/multilines.md'">
	<nz-demo-mention-multilines demo></nz-demo-mention-multilines>
	<div intro ngNonBindable>
		<p>Multi lines mode.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Customize Trigger Token" [nzId]="'components-mention-demo-multiple-trigger'" nzSelector="nz-demo-mention-multiple-trigger" [nzLink]="'components-mention-demo-multiple-trigger'" nzGenerateCommand="ng g ng-zorro-antd:mention-multiple-trigger -p app --name=" nzComponentName="NzDemoMentionMultipleTriggerComponent" [nzCode]="multipleTrigger" [nzRawCode]="multipleTriggerRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/mention/demo/multiple-trigger.md'">
	<nz-demo-mention-multiple-trigger demo></nz-demo-mention-multiple-trigger>
	<div intro ngNonBindable>
		<p>Customize Trigger Token by <code>nzPrefix</code> props. Default to <code>@</code>, <code>Array&lt;string&gt;</code> also supported.</p>

	</div>
</nz-code-box>

	</div>
	<div nz-col [nzLg]="12" [nzMd]="24">
		<nz-code-box nzTitle="Placement" [nzId]="'components-mention-demo-placement'" nzSelector="nz-demo-mention-placement" [nzLink]="'components-mention-demo-placement'" nzGenerateCommand="ng g ng-zorro-antd:mention-placement -p app --name=" nzComponentName="NzDemoMentionPlacementComponent" [nzCode]="placement" [nzRawCode]="placementRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/mention/demo/placement.md'">
	<nz-demo-mention-placement demo></nz-demo-mention-placement>
	<div intro ngNonBindable>
		<p>Change the suggestions placement.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Customize Suggestion" [nzId]="'components-mention-demo-custom-tag'" nzSelector="nz-demo-mention-custom-tag" [nzLink]="'components-mention-demo-custom-tag'" nzGenerateCommand="ng g ng-zorro-antd:mention-custom-tag -p app --name=" nzComponentName="NzDemoMentionCustomTagComponent" [nzCode]="customTag" [nzRawCode]="customTagRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/mention/demo/custom-tag.md'">
	<nz-demo-mention-custom-tag demo></nz-demo-mention-custom-tag>
	<div intro ngNonBindable>
		<p>Customize suggestions.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="With Form" [nzId]="'components-mention-demo-controlled'" nzSelector="nz-demo-mention-controlled" [nzLink]="'components-mention-demo-controlled'" nzGenerateCommand="ng g ng-zorro-antd:mention-controlled -p app --name=" nzComponentName="NzDemoMentionControlledComponent" [nzCode]="controlled" [nzRawCode]="controlledRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/mention/demo/controlled.md'">
	<nz-demo-mention-controlled demo></nz-demo-mention-controlled>
	<div intro ngNonBindable>
		<p>Controlled mode, for example, to work with <code>Form</code>.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="disabled or readOnly" [nzId]="'components-mention-demo-readonly'" nzSelector="nz-demo-mention-readonly" [nzLink]="'components-mention-demo-readonly'" nzGenerateCommand="ng g ng-zorro-antd:mention-readonly -p app --name=" nzComponentName="NzDemoMentionReadonlyComponent" [nzCode]="readonly" [nzRawCode]="readonlyRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/mention/demo/readonly.md'">
	<nz-demo-mention-readonly demo></nz-demo-mention-readonly>
	<div intro ngNonBindable>
		<p>Configurate <code>disabled</code> and <code>readOnly</code>.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Preview" [nzId]="'components-mention-demo-preview'" nzSelector="nz-demo-mention-preview" [nzLink]="'components-mention-demo-preview'" nzGenerateCommand="ng g ng-zorro-antd:mention-preview -p app --name=" nzComponentName="NzDemoMentionPreviewComponent" [nzCode]="preview" [nzRawCode]="previewRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/mention/demo/preview.md'">
	<nz-demo-mention-preview demo></nz-demo-mention-preview>
	<div intro ngNonBindable>
		<p>Rendering the mentions.</p>

	</div>
</nz-code-box>

	</div>
</div>
<section class="markdown api-container" ngNonBindable><h2 id="api"><span>API</span><a onclick="window.location.hash = 'api'" class="anchor">#</a></h2><pre><code class="lang-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nz-mention</span> <span class="token attr-name">[nzSuggestions]</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>suggestions<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
 <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>textarea</span>
    <span class="token attr-name">nz-input</span>
    <span class="token attr-name">[(ngModel)]</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>value<span class="token punctuation">"</span></span>
    <span class="token attr-name">nzMentionTrigger</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>textarea</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nz-mention</span><span class="token punctuation">></span></span>
</code></pre>
<h3 id="nz-mention"><span>nz-mention</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-mention'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[nzMentionTrigger]</code></td>
<td>Trigger element <strong>(required)</strong></td>
<td><code>HTMLTextAreaElement</code> <code>HTMLInputElement</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzMentionSuggestion]</code></td>
<td>Customize the suggestion template</td>
<td><code>TemplateRef&lt;any&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzLoading]</code></td>
<td>Loading mode</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td><code>[nzNotFoundContent]</code></td>
<td>Suggestion when suggestions empty</td>
<td><code>string</code></td>
<td><code>&#39;无匹配结果，轻敲空格完成输入&#39;</code></td>
</tr>
<tr>
<td><code>[nzPlacement]</code></td>
<td>The position of the suggestion relative to the target, which can be one of top and bottom</td>
<td><code>&#39;button&#39;</code> <code>&#39;top&#39;</code></td>
<td><code>&#39;bottom&#39;</code></td>
</tr>
<tr>
<td><code>[nzPrefix]</code></td>
<td>Character which will trigger Mention to show mention list</td>
<td><code>&#39;string&#39;</code> <code>&#39;string[]&#39;</code></td>
<td><code>&#39;@&#39;</code></td>
</tr>
<tr>
<td><code>[nzSuggestions]</code></td>
<td>Suggestion content</td>
<td><code>any[]</code></td>
<td><code>[]</code></td>
</tr>
<tr>
<td><code>[nzValueWith]</code></td>
<td>Function that maps an suggestion&#39;s value</td>
<td><code>(any) =&gt; string</code></td>
<td><code>(value: string) =&gt; string</code></td>
</tr>
<tr>
<td><code>(nzOnSelect)</code></td>
<td>Callback function called when select from suggestions</td>
<td><code>EventEmitter&lt;any&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>(onSearchChange)</code></td>
<td>Callback function called when search content changes</td>
<td><code>EventEmitter&lt;MentionOnSearchTypes&gt;</code></td>
<td>-</td>
</tr>
</tbody>
</table>
<h4 id="methods"><span>Methods</span><a onclick="window.location.hash = 'methods'" class="anchor">#</a></h4><table>
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>getMentions</td>
<td>Get the mentions array in the <code>input[nzMentionTrigger]</code></td>
</tr>
</tbody>
</table>
<h3 id="nzmentiontrigger"><span>nzMentionTrigger</span><a onclick="window.location.hash = 'nzmentiontrigger'" class="anchor">#</a></h3><p>Trigger element</p>
<pre><code class="lang-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nz-mention</span><span class="token punctuation">></span></span>
 <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>textarea</span> <span class="token attr-name">nzMentionTrigger</span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>textarea</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nz-mention</span><span class="token punctuation">></span></span>
</code></pre>
<pre><code class="lang-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nz-mention</span><span class="token punctuation">></span></span>
 <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>input</span> <span class="token attr-name">nzMentionTrigger</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nz-mention</span><span class="token punctuation">></span></span>
</code></pre>
<h3 id="nzmentionsuggestion"><span>nzMentionSuggestion</span><a onclick="window.location.hash = 'nzmentionsuggestion'" class="anchor">#</a></h3><p>Customize the suggestion template</p>
<pre><code class="lang-html">  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nz-mention</span>
    <span class="token attr-name">[nzSuggestions]</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>items<span class="token punctuation">"</span></span>
    <span class="token attr-name">[nzValueWith]</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>valueWith<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>input</span> <span class="token attr-name">nz-input</span> <span class="token attr-name">nzMentionTrigger</span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ng-container</span> <span class="token attr-name">*nzMentionSuggestion</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>let item<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>span</span><span class="token punctuation">></span></span>&#123;&#123; item.label &#125;&#125; - &#123;&#123; item.value &#125;&#125;<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>span</span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ng-container</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nz-mention</span><span class="token punctuation">></span></span>
</code></pre>
<h3 id="mentiononsearchtypes"><span>MentionOnSearchTypes</span><a onclick="window.location.hash = 'mentiononsearchtypes'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td>value</td>
<td>Search keyword</td>
<td>string</td>
<td>-</td>
</tr>
<tr>
<td>prefix</td>
<td>prefix</td>
<td>string</td>
<td>-</td>
</tr>
</tbody>
</table>
</section></article></main></app-root>
    <script type="text/javascript">
      // Single Page Apps for GitHub Pages
      // https://github.com/rafrex/spa-github-pages
      // Copyright (c) 2016 Rafael Pedicini, licensed under the MIT License
      // ----------------------------------------------------------------------
      // This script checks to see if a redirect is present in the query string
      // and converts it back into the correct url and adds it to the
      // browser's history using window.history.replaceState(...),
      // which won't cause the browser to attempt to load the new url.
      // When the single page app is loaded further down in this file,
      // the correct url will be waiting in the browser's history for
      // the single page app to route accordingly.
      (function(l) {
        if (l.search) {
          var q = {};
          l.search.slice(1).split('&').forEach(function(v) {
            var a = v.split('=');
            q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
          });
          if (q.p !== undefined) {
            window.history.replaceState(null, null,
              l.pathname.slice(0, -1) + (q.p || '') +
              (q.q ? ('?' + q.q) : '') +
              l.hash
            );
          }
        }
      }(window.location))
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52892298-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-52892298-2');
    </script>
  <script type="text/javascript" src="runtime.3b80d31845c016626f6e.js"></script><script type="text/javascript" src="polyfills.123964adf0983bf3e4a6.js"></script><script type="text/javascript" src="scripts.03e042f1f102bf0e2ed8.js"></script><script type="text/javascript" src="main.e2ecce41a02d6a32c114.js"></script></body>
</html>
