<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Radio - NG-ZORRO - Ant Design Of Angular</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
    <!-- Hotjar Tracking Code for ng.ant.design -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:792689,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
  <link rel="stylesheet" href="styles.ba7484eafc88ea9e5128.css"></head>
  <body>
    <app-root><div style="overflow: hidden;height: 0"><nav><ul><li><a href="/docs/introduce/zh">Ant Design of Angular</a></li>
<li><a href="/docs/introduce/en">Ant Design of Angular</a></li>
<li><a href="/docs/getting-started/zh">快速上手</a></li>
<li><a href="/docs/getting-started/en">Getting Started</a></li>
<li><a href="/docs/schematics/en">Schematics</a></li>
<li><a href="/docs/schematics/zh">脚手架</a></li>
<li><a href="/docs/i18n/en">Internationalization</a></li>
<li><a href="/docs/i18n/zh">国际化</a></li>
<li><a href="/docs/customize-theme/en">Customize Theme</a></li>
<li><a href="/docs/customize-theme/zh">定制主题</a></li>
<li><a href="/docs/recommendation/zh">社区推荐</a></li>
<li><a href="/docs/recommendation/en">Third-Party Libraries</a></li>
<li><a href="/docs/faq/zh">常见问题</a></li>
<li><a href="/docs/faq/en">FAQ</a></li>
<li><a href="/docs/contributing/zh">贡献指南</a></li>
<li><a href="/docs/changelog/zh">更新日志</a></li>
<li><a href="/docs/contributing/en">Contributing to NG-ZORRO</a></li>
<li><a href="/docs/changelog/en">Change Log</a></li></ul><ul><li><h3>General</h3><ul><li><a href="/components/button/zh">按钮</a></li>
<li><a href="/components/button/en">Button</a></li>
<li><a href="/components/icon/zh">图标</a></li>
<li><a href="/components/icon/en">Icon</a></li></ul></li>,<li><h3>Layout</h3><ul><li><a href="/components/grid/zh">栅格</a></li>
<li><a href="/components/grid/en">Grid</a></li>
<li><a href="/components/layout/zh">布局</a></li>
<li><a href="/components/layout/en">Layout</a></li></ul></li>,<li><h3>Navigation</h3><ul><li><a href="/components/affix/zh">固钉</a></li>
<li><a href="/components/affix/en">Affix</a></li>
<li><a href="/components/breadcrumb/zh">面包屑</a></li>
<li><a href="/components/breadcrumb/en">Breadcrumb</a></li>
<li><a href="/components/dropdown/zh">下拉菜单</a></li>
<li><a href="/components/dropdown/en">Dropdown</a></li>
<li><a href="/components/menu/zh">导航菜单</a></li>
<li><a href="/components/menu/en">Menu</a></li>
<li><a href="/components/pagination/zh">分页</a></li>
<li><a href="/components/pagination/en">Pagination</a></li>
<li><a href="/components/steps/zh">步骤条</a></li>
<li><a href="/components/steps/en">Steps</a></li></ul></li>,<li><h3>Data Entry</h3><ul><li><a href="/components/auto-complete/zh">自动完成</a></li>
<li><a href="/components/auto-complete/en">Autocomplete</a></li>
<li><a href="/components/cascader/zh">级联选择</a></li>
<li><a href="/components/cascader/en">Cascader</a></li>
<li><a href="/components/checkbox/zh">多选框</a></li>
<li><a href="/components/checkbox/en">Checkbox</a></li>
<li><a href="/components/date-picker/zh">日期选择框</a></li>
<li><a href="/components/date-picker/en">DatePicker</a></li>
<li><a href="/components/form/zh">表单</a></li>
<li><a href="/components/form/en">Form</a></li>
<li><a href="/components/input/zh">输入框</a></li>
<li><a href="/components/input/en">Input</a></li>
<li><a href="/components/input-number/zh">数字输入框</a></li>
<li><a href="/components/input-number/en">InputNumber</a></li>
<li><a href="/components/mention/zh">提及</a></li>
<li><a href="/components/mention/en">Mention</a></li>
<li><a href="/components/radio/zh">单选框</a></li>
<li><a href="/components/radio/en">Radio</a></li>
<li><a href="/components/rate/zh">评分</a></li>
<li><a href="/components/rate/en">Rate</a></li>
<li><a href="/components/select/zh">选择器</a></li>
<li><a href="/components/select/en">Select</a></li>
<li><a href="/components/slider/zh">滑动输入条</a></li>
<li><a href="/components/slider/en">Slider</a></li>
<li><a href="/components/switch/zh">开关</a></li>
<li><a href="/components/switch/en">Switch</a></li>
<li><a href="/components/time-picker/zh">时间选择框</a></li>
<li><a href="/components/time-picker/en">TimePicker</a></li>
<li><a href="/components/transfer/zh">穿梭框</a></li>
<li><a href="/components/transfer/en">Transfer</a></li>
<li><a href="/components/tree-select/zh">树选择</a></li>
<li><a href="/components/tree-select/en">TreeSelect</a></li>
<li><a href="/components/upload/zh">上传</a></li>
<li><a href="/components/upload/en">Upload</a></li></ul></li>,<li><h3>Data Display</h3><ul><li><a href="/components/avatar/zh">头像</a></li>
<li><a href="/components/avatar/en">Avatar</a></li>
<li><a href="/components/badge/zh">徽标数</a></li>
<li><a href="/components/badge/en">Badge</a></li>
<li><a href="/components/calendar/zh">日历</a></li>
<li><a href="/components/calendar/en">Calendar</a></li>
<li><a href="/components/card/zh">卡片</a></li>
<li><a href="/components/card/en">Card</a></li>
<li><a href="/components/carousel/zh">走马灯</a></li>
<li><a href="/components/carousel/en">Carousel</a></li>
<li><a href="/components/collapse/zh">折叠面板</a></li>
<li><a href="/components/collapse/en">Collapse</a></li>
<li><a href="/components/list/zh">列表</a></li>
<li><a href="/components/list/en">List</a></li>
<li><a href="/components/popover/zh">气泡卡片</a></li>
<li><a href="/components/popover/en">Popover</a></li>
<li><a href="/components/table/zh">表格</a></li>
<li><a href="/components/table/en">Table</a></li>
<li><a href="/components/tabs/zh">标签页</a></li>
<li><a href="/components/tabs/en">Tabs</a></li>
<li><a href="/components/tag/zh">标签</a></li>
<li><a href="/components/tag/en">Tag</a></li>
<li><a href="/components/timeline/zh">时间轴</a></li>
<li><a href="/components/timeline/en">Timeline</a></li>
<li><a href="/components/tooltip/zh">文字提示</a></li>
<li><a href="/components/tooltip/en">Tooltip</a></li>
<li><a href="/components/tree/zh">树形控件</a></li>
<li><a href="/components/tree/en">Tree</a></li></ul></li>,<li><h3>Feedback</h3><ul><li><a href="/components/alert/zh">警告提示</a></li>
<li><a href="/components/alert/en">Alert</a></li>
<li><a href="/components/drawer/zh">抽屉</a></li>
<li><a href="/components/drawer/en">Drawer</a></li>
<li><a href="/components/message/zh">全局提示</a></li>
<li><a href="/components/message/en">Message</a></li>
<li><a href="/components/modal/zh">对话框</a></li>
<li><a href="/components/modal/en">Modal</a></li>
<li><a href="/components/notification/zh">通知提醒框</a></li>
<li><a href="/components/notification/en">Notification</a></li>
<li><a href="/components/popconfirm/zh">气泡确认框</a></li>
<li><a href="/components/popconfirm/en">Popconfirm</a></li>
<li><a href="/components/progress/zh">进度条</a></li>
<li><a href="/components/progress/en">Progress</a></li>
<li><a href="/components/skeleton/zh">加载占位图</a></li>
<li><a href="/components/skeleton/en">Skeleton</a></li>
<li><a href="/components/spin/zh">加载中</a></li>
<li><a href="/components/spin/en">Spin</a></li></ul></li>,<li><h3>Other</h3><ul><li><a href="/components/anchor/zh">锚点</a></li>
<li><a href="/components/anchor/en">Anchor</a></li>
<li><a href="/components/back-top/zh">回到顶部</a></li>
<li><a href="/components/back-top/en">BackTop</a></li>
<li><a href="/components/divider/zh">分割线</a></li>
<li><a href="/components/divider/en">Divider</a></li></ul></li></ul></nav><main><article><nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
      <nz-link nzHref="#components-radio-demo-basic" nzTitle="Basic"></nz-link><nz-link nzHref="#components-radio-demo-disable" nzTitle="Disabled"></nz-link><nz-link nzHref="#components-radio-demo-radiogroup" nzTitle="Radio Group"></nz-link><nz-link nzHref="#components-radio-demo-radiogroup-more" nzTitle="Vertical RadioGroup"></nz-link><nz-link nzHref="#components-radio-demo-radiogroup-options" nzTitle="RadioGroup group - optional"></nz-link><nz-link nzHref="#components-radio-demo-radiobutton" nzTitle="Radio Style"></nz-link><nz-link nzHref="#components-radio-demo-radiogroup-with-name" nzTitle="RadioGroup with name"></nz-link><nz-link nzHref="#components-radio-demo-size" nzTitle="Size"></nz-link><nz-link nzHref="#components-radio-demo-solid" nzTitle="Solid radio button"></nz-link>
    </nz-anchor>
  </nz-affix><section class="markdown">
	<h1>Radio<span class="subtitle"></span>
	<a class="edit-button" href="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/radio/doc/index.en-US.md" target="_blank">
		<i nz-icon type="edit"></i></a>
</h1>
	<section class="markdown" ngNonBindable>
		<p>Radio.</p>
<h2 id="when-to-use"><span>When To Use</span><a onclick="window.location.hash = 'when-to-use'" class="anchor">#</a></h2><ul>
<li>Used to select a single state in multiple options.</li>
<li>The difference between Select is that Radio is visible to user and can facilitate the comparison of choice. So, when you want to use Radio, option should not be too much.</li>
</ul>

	</section>
	
	<h2>
		<span>Examples</span>
		<i nz-icon type="appstore" class="code-box-expand-trigger" title="expand all code" (click)="expandAllCode()"></i>
	</h2>
</section><div nz-row [nzGutter]="16">
	<div nz-col [nzLg]="12" [nzMd]="24">
		<nz-code-box nzTitle="Basic" [nzId]="'components-radio-demo-basic'" nzSelector="nz-demo-radio-basic" [nzLink]="'components-radio-demo-basic'" nzGenerateCommand="ng g ng-zorro-antd:radio-basic -p app --name=" nzComponentName="NzDemoRadioBasicComponent" [nzCode]="basic" [nzRawCode]="basicRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/radio/demo/basic.md'">
	<nz-demo-radio-basic demo></nz-demo-radio-basic>
	<div intro ngNonBindable>
		<p>The simplest use.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Radio Group" [nzId]="'components-radio-demo-radiogroup'" nzSelector="nz-demo-radio-radiogroup" [nzLink]="'components-radio-demo-radiogroup'" nzGenerateCommand="ng g ng-zorro-antd:radio-radiogroup -p app --name=" nzComponentName="NzDemoRadioRadiogroupComponent" [nzCode]="radiogroup" [nzRawCode]="radiogroupRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/radio/demo/radiogroup.md'">
	<nz-demo-radio-radiogroup demo></nz-demo-radio-radiogroup>
	<div intro ngNonBindable>
		<p>A group of <code>nz-radio</code> components.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="RadioGroup group - optional" [nzId]="'components-radio-demo-radiogroup-options'" nzSelector="nz-demo-radio-radiogroup-options" [nzLink]="'components-radio-demo-radiogroup-options'" nzGenerateCommand="ng g ng-zorro-antd:radio-radiogroup-options -p app --name=" nzComponentName="NzDemoRadioRadiogroupOptionsComponent" [nzCode]="radiogroupOptions" [nzRawCode]="radiogroupOptionsRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/radio/demo/radiogroup-options.md'">
	<nz-demo-radio-radiogroup-options demo></nz-demo-radio-radiogroup-options>
	<div intro ngNonBindable>
		<p>Render radios by configuring <code>options</code>.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="RadioGroup with name" [nzId]="'components-radio-demo-radiogroup-with-name'" nzSelector="nz-demo-radio-radiogroup-with-name" [nzLink]="'components-radio-demo-radiogroup-with-name'" nzGenerateCommand="ng g ng-zorro-antd:radio-radiogroup-with-name -p app --name=" nzComponentName="NzDemoRadioRadiogroupWithNameComponent" [nzCode]="radiogroupWithName" [nzRawCode]="radiogroupWithNameRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/radio/demo/radiogroup-with-name.md'">
	<nz-demo-radio-radiogroup-with-name demo></nz-demo-radio-radiogroup-with-name>
	<div intro ngNonBindable>
		<p>Passing the <code>nzName</code> property to all <code>input[type=&quot;radio&quot;]</code> that are in the same RadioGroup. It is usually used to let the browser see your <code>nz-radio-group</code> as a real &quot;group&quot; and keep the default behavior. For example, using left/right keyboard arrow to change your selection that in the same <code>nz-radio-group</code>.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Solid radio button" [nzId]="'components-radio-demo-solid'" nzSelector="nz-demo-radio-solid" [nzLink]="'components-radio-demo-solid'" nzGenerateCommand="ng g ng-zorro-antd:radio-solid -p app --name=" nzComponentName="NzDemoRadioSolidComponent" [nzCode]="solid" [nzRawCode]="solidRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/radio/demo/solid.md'">
	<nz-demo-radio-solid demo></nz-demo-radio-solid>
	<div intro ngNonBindable>
		<p>Solid radio button style.</p>

	</div>
</nz-code-box>

	</div>
	<div nz-col [nzLg]="12" [nzMd]="24">
		<nz-code-box nzTitle="Disabled" [nzId]="'components-radio-demo-disable'" nzSelector="nz-demo-radio-disable" [nzLink]="'components-radio-demo-disable'" nzGenerateCommand="ng g ng-zorro-antd:radio-disable -p app --name=" nzComponentName="NzDemoRadioDisableComponent" [nzCode]="disable" [nzRawCode]="disableRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/radio/demo/disable.md'">
	<nz-demo-radio-disable demo></nz-demo-radio-disable>
	<div intro ngNonBindable>
		<p><code>nz-radio</code> unavailable.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Vertical RadioGroup" [nzId]="'components-radio-demo-radiogroup-more'" nzSelector="nz-demo-radio-radiogroup-more" [nzLink]="'components-radio-demo-radiogroup-more'" nzGenerateCommand="ng g ng-zorro-antd:radio-radiogroup-more -p app --name=" nzComponentName="NzDemoRadioRadiogroupMoreComponent" [nzCode]="radiogroupMore" [nzRawCode]="radiogroupMoreRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/radio/demo/radiogroup-more.md'">
	<nz-demo-radio-radiogroup-more demo></nz-demo-radio-radiogroup-more>
	<div intro ngNonBindable>
		<p>Vertical <code>nz-radio-group</code>, with more radios.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Radio Style" [nzId]="'components-radio-demo-radiobutton'" nzSelector="nz-demo-radio-radiobutton" [nzLink]="'components-radio-demo-radiobutton'" nzGenerateCommand="ng g ng-zorro-antd:radio-radiobutton -p app --name=" nzComponentName="NzDemoRadioRadiobuttonComponent" [nzCode]="radiobutton" [nzRawCode]="radiobuttonRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/radio/demo/radiobutton.md'">
	<nz-demo-radio-radiobutton demo></nz-demo-radio-radiobutton>
	<div intro ngNonBindable>
		<p>The combination of radio button style.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Size" [nzId]="'components-radio-demo-size'" nzSelector="nz-demo-radio-size" [nzLink]="'components-radio-demo-size'" nzGenerateCommand="ng g ng-zorro-antd:radio-size -p app --name=" nzComponentName="NzDemoRadioSizeComponent" [nzCode]="size" [nzRawCode]="sizeRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/radio/demo/size.md'">
	<nz-demo-radio-size demo></nz-demo-radio-size>
	<div intro ngNonBindable>
		<p>There are three sizes available: large, medium, and small. It can coordinate with input box.</p>

	</div>
</nz-code-box>

	</div>
</div>
<section class="markdown api-container" ngNonBindable><h2 id="api"><span>API</span><a onclick="window.location.hash = 'api'" class="anchor">#</a></h2><h3 id="[nz-radio]-|-[nz-radio-button]"><span>[nz-radio] | [nz-radio-button]</span><label class="api-type-label directive">directive</label><a onclick="window.location.hash = '[nz-radio]-|-[nz-radio-button]'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[nzAutoFocus]</code></td>
<td>get focus when component mounted</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzDisabled]</code></td>
<td>Disable radio</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[ngModel]</code></td>
<td>Specifies whether the radio is selected, double binding</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzValue]</code></td>
<td>use with <code>nz-radio-group</code></td>
<td>string</td>
<td>-</td>
</tr>
<tr>
<td><code>(ngModelChange)</code></td>
<td>The callback function that is triggered when the state changes.</td>
<td><code>EventEmitter&lt;boolean&gt;</code></td>
<td>-</td>
</tr>
</tbody>
</table>
<h3 id="nz-radio-group"><span>nz-radio-group</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-radio-group'" class="anchor">#</a></h3><p>radio group，wrap a group of <code>nz-radio</code>。</p>
<table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[ngModel]</code></td>
<td>current selected <code>nz-radio</code> value, double binding</td>
<td>string</td>
<td>-</td>
</tr>
<tr>
<td><code>[nzName]</code></td>
<td>The <code>name</code> property of all <code>input[type=&quot;radio&quot;]</code> children</td>
<td>string</td>
<td>none</td>
</tr>
<tr>
<td><code>[nzDisabled]</code></td>
<td>Disable all radio buttons</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzSize]</code></td>
<td>Size, only on radio style</td>
<td><code>large</code> <code>default</code> <code>small</code></td>
<td><code>default</code></td>
</tr>
<tr>
<td><code>(ngModelChange)</code></td>
<td>the callback function when current selected <code>nz-radio</code> value change</td>
<td><code>EventEmitter&lt;string&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzButtonStyle]</code></td>
<td>style type of radio button</td>
<td><code>outline</code> 丨 <code>solid</code></td>
<td><code>outline</code></td>
</tr>
</tbody>
</table>
<h2 id="methods"><span>Methods</span><a onclick="window.location.hash = 'methods'" class="anchor">#</a></h2><h3 id="[nz-radio]"><span>[nz-radio]</span><label class="api-type-label directive">directive</label><a onclick="window.location.hash = '[nz-radio]'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>blur()</td>
<td>remove focus</td>
</tr>
<tr>
<td>focus()</td>
<td>get focus</td>
</tr>
</tbody>
</table>
</section></article></main></div></app-root>
    <script type="text/javascript">
      // Single Page Apps for GitHub Pages
      // https://github.com/rafrex/spa-github-pages
      // Copyright (c) 2016 Rafael Pedicini, licensed under the MIT License
      // ----------------------------------------------------------------------
      // This script checks to see if a redirect is present in the query string
      // and converts it back into the correct url and adds it to the
      // browser's history using window.history.replaceState(...),
      // which won't cause the browser to attempt to load the new url.
      // When the single page app is loaded further down in this file,
      // the correct url will be waiting in the browser's history for
      // the single page app to route accordingly.
      (function(l) {
        if (l.search) {
          var q = {};
          l.search.slice(1).split('&').forEach(function(v) {
            var a = v.split('=');
            q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
          });
          if (q.p !== undefined) {
            window.history.replaceState(null, null,
              l.pathname.slice(0, -1) + (q.p || '') +
              (q.q ? ('?' + q.q) : '') +
              l.hash
            );
          }
        }
      }(window.location))
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52892298-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-52892298-2');
    </script>
  <script type="text/javascript" src="runtime.3b80d31845c016626f6e.js"></script><script type="text/javascript" src="polyfills.123964adf0983bf3e4a6.js"></script><script type="text/javascript" src="scripts.03e042f1f102bf0e2ed8.js"></script><script type="text/javascript" src="main.e2ecce41a02d6a32c114.js"></script></body>
</html>
