<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>通知提醒框 - NG-ZORRO - Ant Design Of Angular</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
    <!-- Hotjar Tracking Code for ng.ant.design -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:792689,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
  <link rel="stylesheet" href="styles.ba7484eafc88ea9e5128.css"></head>
  <body>
    <app-root><div style="overflow: hidden;height: 0"><nav><ul><li><a href="/docs/introduce/zh">Ant Design of Angular</a></li>
<li><a href="/docs/introduce/en">Ant Design of Angular</a></li>
<li><a href="/docs/getting-started/zh">快速上手</a></li>
<li><a href="/docs/getting-started/en">Getting Started</a></li>
<li><a href="/docs/schematics/en">Schematics</a></li>
<li><a href="/docs/schematics/zh">脚手架</a></li>
<li><a href="/docs/i18n/en">Internationalization</a></li>
<li><a href="/docs/i18n/zh">国际化</a></li>
<li><a href="/docs/customize-theme/en">Customize Theme</a></li>
<li><a href="/docs/customize-theme/zh">定制主题</a></li>
<li><a href="/docs/recommendation/zh">社区推荐</a></li>
<li><a href="/docs/recommendation/en">Third-Party Libraries</a></li>
<li><a href="/docs/faq/zh">常见问题</a></li>
<li><a href="/docs/faq/en">FAQ</a></li>
<li><a href="/docs/contributing/zh">贡献指南</a></li>
<li><a href="/docs/changelog/zh">更新日志</a></li>
<li><a href="/docs/contributing/en">Contributing to NG-ZORRO</a></li>
<li><a href="/docs/changelog/en">Change Log</a></li></ul><ul><li><h3>General</h3><ul><li><a href="/components/button/zh">按钮</a></li>
<li><a href="/components/button/en">Button</a></li>
<li><a href="/components/icon/zh">图标</a></li>
<li><a href="/components/icon/en">Icon</a></li></ul></li>,<li><h3>Layout</h3><ul><li><a href="/components/grid/zh">栅格</a></li>
<li><a href="/components/grid/en">Grid</a></li>
<li><a href="/components/layout/zh">布局</a></li>
<li><a href="/components/layout/en">Layout</a></li></ul></li>,<li><h3>Navigation</h3><ul><li><a href="/components/affix/zh">固钉</a></li>
<li><a href="/components/affix/en">Affix</a></li>
<li><a href="/components/breadcrumb/zh">面包屑</a></li>
<li><a href="/components/breadcrumb/en">Breadcrumb</a></li>
<li><a href="/components/dropdown/zh">下拉菜单</a></li>
<li><a href="/components/dropdown/en">Dropdown</a></li>
<li><a href="/components/menu/zh">导航菜单</a></li>
<li><a href="/components/menu/en">Menu</a></li>
<li><a href="/components/pagination/zh">分页</a></li>
<li><a href="/components/pagination/en">Pagination</a></li>
<li><a href="/components/steps/zh">步骤条</a></li>
<li><a href="/components/steps/en">Steps</a></li></ul></li>,<li><h3>Data Entry</h3><ul><li><a href="/components/auto-complete/zh">自动完成</a></li>
<li><a href="/components/auto-complete/en">Autocomplete</a></li>
<li><a href="/components/cascader/zh">级联选择</a></li>
<li><a href="/components/cascader/en">Cascader</a></li>
<li><a href="/components/checkbox/zh">多选框</a></li>
<li><a href="/components/checkbox/en">Checkbox</a></li>
<li><a href="/components/date-picker/zh">日期选择框</a></li>
<li><a href="/components/date-picker/en">DatePicker</a></li>
<li><a href="/components/form/zh">表单</a></li>
<li><a href="/components/form/en">Form</a></li>
<li><a href="/components/input/zh">输入框</a></li>
<li><a href="/components/input/en">Input</a></li>
<li><a href="/components/input-number/zh">数字输入框</a></li>
<li><a href="/components/input-number/en">InputNumber</a></li>
<li><a href="/components/mention/zh">提及</a></li>
<li><a href="/components/mention/en">Mention</a></li>
<li><a href="/components/radio/zh">单选框</a></li>
<li><a href="/components/radio/en">Radio</a></li>
<li><a href="/components/rate/zh">评分</a></li>
<li><a href="/components/rate/en">Rate</a></li>
<li><a href="/components/select/zh">选择器</a></li>
<li><a href="/components/select/en">Select</a></li>
<li><a href="/components/slider/zh">滑动输入条</a></li>
<li><a href="/components/slider/en">Slider</a></li>
<li><a href="/components/switch/zh">开关</a></li>
<li><a href="/components/switch/en">Switch</a></li>
<li><a href="/components/time-picker/zh">时间选择框</a></li>
<li><a href="/components/time-picker/en">TimePicker</a></li>
<li><a href="/components/transfer/zh">穿梭框</a></li>
<li><a href="/components/transfer/en">Transfer</a></li>
<li><a href="/components/tree-select/zh">树选择</a></li>
<li><a href="/components/tree-select/en">TreeSelect</a></li>
<li><a href="/components/upload/zh">上传</a></li>
<li><a href="/components/upload/en">Upload</a></li></ul></li>,<li><h3>Data Display</h3><ul><li><a href="/components/avatar/zh">头像</a></li>
<li><a href="/components/avatar/en">Avatar</a></li>
<li><a href="/components/badge/zh">徽标数</a></li>
<li><a href="/components/badge/en">Badge</a></li>
<li><a href="/components/calendar/zh">日历</a></li>
<li><a href="/components/calendar/en">Calendar</a></li>
<li><a href="/components/card/zh">卡片</a></li>
<li><a href="/components/card/en">Card</a></li>
<li><a href="/components/carousel/zh">走马灯</a></li>
<li><a href="/components/carousel/en">Carousel</a></li>
<li><a href="/components/collapse/zh">折叠面板</a></li>
<li><a href="/components/collapse/en">Collapse</a></li>
<li><a href="/components/list/zh">列表</a></li>
<li><a href="/components/list/en">List</a></li>
<li><a href="/components/popover/zh">气泡卡片</a></li>
<li><a href="/components/popover/en">Popover</a></li>
<li><a href="/components/table/zh">表格</a></li>
<li><a href="/components/table/en">Table</a></li>
<li><a href="/components/tabs/zh">标签页</a></li>
<li><a href="/components/tabs/en">Tabs</a></li>
<li><a href="/components/tag/zh">标签</a></li>
<li><a href="/components/tag/en">Tag</a></li>
<li><a href="/components/timeline/zh">时间轴</a></li>
<li><a href="/components/timeline/en">Timeline</a></li>
<li><a href="/components/tooltip/zh">文字提示</a></li>
<li><a href="/components/tooltip/en">Tooltip</a></li>
<li><a href="/components/tree/zh">树形控件</a></li>
<li><a href="/components/tree/en">Tree</a></li></ul></li>,<li><h3>Feedback</h3><ul><li><a href="/components/alert/zh">警告提示</a></li>
<li><a href="/components/alert/en">Alert</a></li>
<li><a href="/components/drawer/zh">抽屉</a></li>
<li><a href="/components/drawer/en">Drawer</a></li>
<li><a href="/components/message/zh">全局提示</a></li>
<li><a href="/components/message/en">Message</a></li>
<li><a href="/components/modal/zh">对话框</a></li>
<li><a href="/components/modal/en">Modal</a></li>
<li><a href="/components/notification/zh">通知提醒框</a></li>
<li><a href="/components/notification/en">Notification</a></li>
<li><a href="/components/popconfirm/zh">气泡确认框</a></li>
<li><a href="/components/popconfirm/en">Popconfirm</a></li>
<li><a href="/components/progress/zh">进度条</a></li>
<li><a href="/components/progress/en">Progress</a></li>
<li><a href="/components/skeleton/zh">加载占位图</a></li>
<li><a href="/components/skeleton/en">Skeleton</a></li>
<li><a href="/components/spin/zh">加载中</a></li>
<li><a href="/components/spin/en">Spin</a></li></ul></li>,<li><h3>Other</h3><ul><li><a href="/components/anchor/zh">锚点</a></li>
<li><a href="/components/anchor/en">Anchor</a></li>
<li><a href="/components/back-top/zh">回到顶部</a></li>
<li><a href="/components/back-top/en">BackTop</a></li>
<li><a href="/components/divider/zh">分割线</a></li>
<li><a href="/components/divider/en">Divider</a></li></ul></li></ul></nav><main><article><nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
      <nz-link nzHref="#components-notification-demo-basic" nzTitle="基本"></nz-link><nz-link nzHref="#components-notification-demo-duration" nzTitle="自动关闭的延时"></nz-link><nz-link nzHref="#components-notification-demo-with-icon" nzTitle="带有图标的通知提醒框"></nz-link><nz-link nzHref="#components-notification-demo-with-btn" nzTitle="自定义按钮"></nz-link><nz-link nzHref="#components-notification-demo-custom-icon" nzTitle="自定义图标"></nz-link><nz-link nzHref="#components-notification-demo-placement" nzTitle="位置"></nz-link><nz-link nzHref="#components-notification-demo-custom-style" nzTitle="自定义样式"></nz-link>
    </nz-anchor>
  </nz-affix><section class="markdown">
	<h1>Notification<span class="subtitle">通知提醒框</span>
	<a class="edit-button" href="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/notification/doc/index.zh-CN.md" target="_blank">
		<i nz-icon type="edit"></i></a>
</h1>
	<section class="markdown" ngNonBindable>
		<p>全局展示通知提醒信息。</p>
<h2 id="何时使用"><span>何时使用</span><a onclick="window.location.hash = '何时使用'" class="anchor">#</a></h2><p>在系统四个角显示通知提醒信息。经常用于以下情况：</p>
<ul>
<li>较为复杂的通知内容。</li>
<li>带有交互的通知，给出用户下一步的行动点。</li>
<li>系统主动推送。</li>
</ul>
<h2 id="如何使用"><span>如何使用</span><a onclick="window.location.hash = '如何使用'" class="anchor">#</a></h2><p>与<code>NzMessage</code>类似，如果要修改全局默认配置，你可以设置提供商 <code>NZ_NOTIFICATION_CONFIG</code> 的值来修改。
（如：在你的模块的<code>providers</code>中加入 <code>&#123; provide: NZ_NOTIFICATION_CONFIG, useValue: &#123; nzDuration: 3000 &#125;&#125;</code>，<code>NZ_NOTIFICATION_CONFIG</code> 可以从 <code>ng-zorro-antd</code> 中导入）</p>
<p>默认全局配置为：</p>
<pre><code class="lang-js"><span class="token punctuation">&#123;</span>
  nzTop         <span class="token punctuation">:</span> <span class="token string">'24px'</span><span class="token punctuation">,</span>
  nzBottom      <span class="token punctuation">:</span> <span class="token string">'24px'</span><span class="token punctuation">,</span>
  nzPlacement   <span class="token punctuation">:</span> <span class="token string">'topRight'</span><span class="token punctuation">,</span>
  nzDuration    <span class="token punctuation">:</span> <span class="token number">4500</span><span class="token punctuation">,</span>
  nzMaxStack    <span class="token punctuation">:</span> <span class="token number">7</span><span class="token punctuation">,</span>
  nzPauseOnHover<span class="token punctuation">:</span> <span class="token boolean">true</span><span class="token punctuation">,</span>
  nzAnimate     <span class="token punctuation">:</span> <span class="token boolean">true</span>
 <span class="token punctuation">&#125;</span>
</code></pre>

	</section>
	
	<h2>
		<span>代码演示</span>
		<i nz-icon type="appstore" class="code-box-expand-trigger" title="展开全部代码" (click)="expandAllCode()"></i>
	</h2>
</section><div nz-row [nzGutter]="16">
	<div nz-col [nzLg]="12" [nzMd]="24">
		<nz-code-box nzTitle="基本" [nzId]="'components-notification-demo-basic'" nzSelector="nz-demo-notification-basic" [nzLink]="'components-notification-demo-basic'" nzGenerateCommand="ng g ng-zorro-antd:notification-basic -p app --name=" nzComponentName="NzDemoNotificationBasicComponent" [nzCode]="basic" [nzRawCode]="basicRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/notification/demo/basic.md'">
	<nz-demo-notification-basic demo></nz-demo-notification-basic>
	<div intro ngNonBindable>
		<p>最简单的用法，4.5 秒后自动关闭。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="带有图标的通知提醒框" [nzId]="'components-notification-demo-with-icon'" nzSelector="nz-demo-notification-with-icon" [nzLink]="'components-notification-demo-with-icon'" nzGenerateCommand="ng g ng-zorro-antd:notification-with-icon -p app --name=" nzComponentName="NzDemoNotificationWithIconComponent" [nzCode]="withIcon" [nzRawCode]="withIconRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/notification/demo/with-icon.md'">
	<nz-demo-notification-with-icon demo></nz-demo-notification-with-icon>
	<div intro ngNonBindable>
		<p>通知提醒框左侧有图标。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="自定义图标" [nzId]="'components-notification-demo-custom-icon'" nzSelector="nz-demo-notification-custom-icon" [nzLink]="'components-notification-demo-custom-icon'" nzGenerateCommand="ng g ng-zorro-antd:notification-custom-icon -p app --name=" nzComponentName="NzDemoNotificationCustomIconComponent" [nzCode]="customIcon" [nzRawCode]="customIconRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/notification/demo/custom-icon.md'">
	<nz-demo-notification-custom-icon demo></nz-demo-notification-custom-icon>
	<div intro ngNonBindable>
		<p>图标可以被自定义。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="自定义样式" [nzId]="'components-notification-demo-custom-style'" nzSelector="nz-demo-notification-custom-style" [nzLink]="'components-notification-demo-custom-style'" nzGenerateCommand="ng g ng-zorro-antd:notification-custom-style -p app --name=" nzComponentName="NzDemoNotificationCustomStyleComponent" [nzCode]="customStyle" [nzRawCode]="customStyleRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/notification/demo/custom-style.md'">
	<nz-demo-notification-custom-style demo></nz-demo-notification-custom-style>
	<div intro ngNonBindable>
		<p>使用 nzStyle 和 nzClass 来定义样式。</p>

	</div>
</nz-code-box>

	</div>
	<div nz-col [nzLg]="12" [nzMd]="24">
		<nz-code-box nzTitle="自动关闭的延时" [nzId]="'components-notification-demo-duration'" nzSelector="nz-demo-notification-duration" [nzLink]="'components-notification-demo-duration'" nzGenerateCommand="ng g ng-zorro-antd:notification-duration -p app --name=" nzComponentName="NzDemoNotificationDurationComponent" [nzCode]="duration" [nzRawCode]="durationRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/notification/demo/duration.md'">
	<nz-demo-notification-duration demo></nz-demo-notification-duration>
	<div intro ngNonBindable>
		<p>自定义通知框自动关闭的延时，默认<code>4.5s</code>，取消自动关闭只要将该值设为 <code>0</code> 即可。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="自定义按钮" [nzId]="'components-notification-demo-with-btn'" nzSelector="nz-demo-notification-with-btn" [nzLink]="'components-notification-demo-with-btn'" nzGenerateCommand="ng g ng-zorro-antd:notification-with-btn -p app --name=" nzComponentName="NzDemoNotificationWithBtnComponent" [nzCode]="withBtn" [nzRawCode]="withBtnRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/notification/demo/with-btn.md'">
	<nz-demo-notification-with-btn demo></nz-demo-notification-with-btn>
	<div intro ngNonBindable>
		<p>自定义关闭按钮的样式和文字。</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="位置" [nzId]="'components-notification-demo-placement'" nzSelector="nz-demo-notification-placement" [nzLink]="'components-notification-demo-placement'" nzGenerateCommand="ng g ng-zorro-antd:notification-placement -p app --name=" nzComponentName="NzDemoNotificationPlacementComponent" [nzCode]="placement" [nzRawCode]="placementRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/notification/demo/placement.md'">
	<nz-demo-notification-placement demo></nz-demo-notification-placement>
	<div intro ngNonBindable>
		<p>可以设置通知从右上角、右下角、左下角、左上角弹出。</p>

	</div>
</nz-code-box>

	</div>
</div>
<section class="markdown api-container" ngNonBindable><h2 id="api"><span>API</span><a onclick="window.location.hash = 'api'" class="anchor">#</a></h2><h3 id="nznotificationservice"><span>NzNotificationService</span><label class="api-type-label service">service</label><a onclick="window.location.hash = 'nznotificationservice'" class="anchor">#</a></h3><p>组件提供了一些服务方法，使用方式和参数如下：</p>
<ul>
<li><code>NzNotificationService.blank(title, content, [options])</code> // 不带图标的提示</li>
<li><code>NzNotificationService.success(title, content, [options])</code></li>
<li><code>NzNotificationService.error(title, content, [options])</code></li>
<li><code>NzNotificationService.info(title, content, [options])</code></li>
<li><code>NzNotificationService.warning(title, content, [options])</code></li>
</ul>
<table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td>title</td>
<td>标题</td>
<td>string</td>
<td>-</td>
</tr>
<tr>
<td>content</td>
<td>提示内容</td>
<td>string</td>
<td>-</td>
</tr>
<tr>
<td>options</td>
<td>支持设置针对当前提示框的参数，见下方表格</td>
<td>object</td>
<td>-</td>
</tr>
</tbody>
</table>
<p><code>options</code> 支持设置的参数如下：</p>
<table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
</tr>
</thead>
<tbody>
<tr>
<td>nzDuration</td>
<td>持续时间(毫秒)，当设置为0时不消失</td>
<td>number</td>
</tr>
<tr>
<td>nzPauseOnHover</td>
<td>鼠标移上时禁止自动移除</td>
<td>boolean</td>
</tr>
<tr>
<td>nzAnimate</td>
<td>开关动画效果</td>
<td>boolean</td>
</tr>
<tr>
<td>nzStyle</td>
<td>自定义内联样式</td>
<td>object</td>
</tr>
<tr>
<td>nzClass</td>
<td>自定义 CSS class</td>
<td>object</td>
</tr>
</tbody>
</table>
<p>还提供了全局销毁方法：</p>
<ul>
<li><code>NzNotificationService.remove(id)</code> // 移除特定id的消息，当id为空时，移除所有消息（该消息id通过上述方法返回值中得到）</li>
</ul>
<h3 id="全局配置（nz_message_config）"><span>全局配置（NZ_MESSAGE_CONFIG）</span><a onclick="window.location.hash = '全局配置（nz_message_config）'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td>nzDuration</td>
<td>持续时间(毫秒)，当设置为0时不消失</td>
<td>number</td>
<td>4500</td>
</tr>
<tr>
<td>nzMaxStack</td>
<td>同一时间可展示的最大提示数量</td>
<td>number</td>
<td>8</td>
</tr>
<tr>
<td>nzPauseOnHover</td>
<td>鼠标移上时禁止自动移除</td>
<td>boolean</td>
<td>true</td>
</tr>
<tr>
<td>nzAnimate</td>
<td>开关动画效果</td>
<td>boolean</td>
<td>true</td>
</tr>
<tr>
<td>nzTop</td>
<td>消息从顶部弹出时，距离顶部的位置。</td>
<td>string</td>
<td>24px</td>
</tr>
<tr>
<td>nzBottom</td>
<td>消息从底部弹出时，距离底部的位置。</td>
<td>string</td>
<td>24px</td>
</tr>
<tr>
<td>nzPlacement</td>
<td>弹出位置，可选 <code>topLeft</code> <code>topRight</code> <code>bottomLeft</code> <code>bottomRight</code></td>
<td>string</td>
<td><code>topRight</code></td>
</tr>
</tbody>
</table>
</section></article></main></div></app-root>
    <script type="text/javascript">
      // Single Page Apps for GitHub Pages
      // https://github.com/rafrex/spa-github-pages
      // Copyright (c) 2016 Rafael Pedicini, licensed under the MIT License
      // ----------------------------------------------------------------------
      // This script checks to see if a redirect is present in the query string
      // and converts it back into the correct url and adds it to the
      // browser's history using window.history.replaceState(...),
      // which won't cause the browser to attempt to load the new url.
      // When the single page app is loaded further down in this file,
      // the correct url will be waiting in the browser's history for
      // the single page app to route accordingly.
      (function(l) {
        if (l.search) {
          var q = {};
          l.search.slice(1).split('&').forEach(function(v) {
            var a = v.split('=');
            q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
          });
          if (q.p !== undefined) {
            window.history.replaceState(null, null,
              l.pathname.slice(0, -1) + (q.p || '') +
              (q.q ? ('?' + q.q) : '') +
              l.hash
            );
          }
        }
      }(window.location))
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52892298-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-52892298-2');
    </script>
  <script type="text/javascript" src="runtime.3b80d31845c016626f6e.js"></script><script type="text/javascript" src="polyfills.123964adf0983bf3e4a6.js"></script><script type="text/javascript" src="scripts.03e042f1f102bf0e2ed8.js"></script><script type="text/javascript" src="main.e2ecce41a02d6a32c114.js"></script></body>
</html>
