<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Alert - NG-ZORRO - Ant Design Of Angular</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
    <!-- Hotjar Tracking Code for ng.ant.design -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:792689,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
  <link rel="stylesheet" href="styles.ba7484eafc88ea9e5128.css"></head>
  <body>
    <app-root><div style="overflow: hidden;height: 0"><nav><ul><li><a href="/docs/introduce/zh">Ant Design of Angular</a></li>
<li><a href="/docs/introduce/en">Ant Design of Angular</a></li>
<li><a href="/docs/getting-started/zh">快速上手</a></li>
<li><a href="/docs/getting-started/en">Getting Started</a></li>
<li><a href="/docs/schematics/en">Schematics</a></li>
<li><a href="/docs/schematics/zh">脚手架</a></li>
<li><a href="/docs/i18n/en">Internationalization</a></li>
<li><a href="/docs/i18n/zh">国际化</a></li>
<li><a href="/docs/customize-theme/en">Customize Theme</a></li>
<li><a href="/docs/customize-theme/zh">定制主题</a></li>
<li><a href="/docs/recommendation/zh">社区推荐</a></li>
<li><a href="/docs/recommendation/en">Third-Party Libraries</a></li>
<li><a href="/docs/faq/zh">常见问题</a></li>
<li><a href="/docs/faq/en">FAQ</a></li>
<li><a href="/docs/contributing/zh">贡献指南</a></li>
<li><a href="/docs/changelog/zh">更新日志</a></li>
<li><a href="/docs/contributing/en">Contributing to NG-ZORRO</a></li>
<li><a href="/docs/changelog/en">Change Log</a></li></ul><ul><li><h3>General</h3><ul><li><a href="/components/button/zh">按钮</a></li>
<li><a href="/components/button/en">Button</a></li>
<li><a href="/components/icon/zh">图标</a></li>
<li><a href="/components/icon/en">Icon</a></li></ul></li>,<li><h3>Layout</h3><ul><li><a href="/components/grid/zh">栅格</a></li>
<li><a href="/components/grid/en">Grid</a></li>
<li><a href="/components/layout/zh">布局</a></li>
<li><a href="/components/layout/en">Layout</a></li></ul></li>,<li><h3>Navigation</h3><ul><li><a href="/components/affix/zh">固钉</a></li>
<li><a href="/components/affix/en">Affix</a></li>
<li><a href="/components/breadcrumb/zh">面包屑</a></li>
<li><a href="/components/breadcrumb/en">Breadcrumb</a></li>
<li><a href="/components/dropdown/zh">下拉菜单</a></li>
<li><a href="/components/dropdown/en">Dropdown</a></li>
<li><a href="/components/menu/zh">导航菜单</a></li>
<li><a href="/components/menu/en">Menu</a></li>
<li><a href="/components/pagination/zh">分页</a></li>
<li><a href="/components/pagination/en">Pagination</a></li>
<li><a href="/components/steps/zh">步骤条</a></li>
<li><a href="/components/steps/en">Steps</a></li></ul></li>,<li><h3>Data Entry</h3><ul><li><a href="/components/auto-complete/zh">自动完成</a></li>
<li><a href="/components/auto-complete/en">Autocomplete</a></li>
<li><a href="/components/cascader/zh">级联选择</a></li>
<li><a href="/components/cascader/en">Cascader</a></li>
<li><a href="/components/checkbox/zh">多选框</a></li>
<li><a href="/components/checkbox/en">Checkbox</a></li>
<li><a href="/components/date-picker/zh">日期选择框</a></li>
<li><a href="/components/date-picker/en">DatePicker</a></li>
<li><a href="/components/form/zh">表单</a></li>
<li><a href="/components/form/en">Form</a></li>
<li><a href="/components/input/zh">输入框</a></li>
<li><a href="/components/input/en">Input</a></li>
<li><a href="/components/input-number/zh">数字输入框</a></li>
<li><a href="/components/input-number/en">InputNumber</a></li>
<li><a href="/components/mention/zh">提及</a></li>
<li><a href="/components/mention/en">Mention</a></li>
<li><a href="/components/radio/zh">单选框</a></li>
<li><a href="/components/radio/en">Radio</a></li>
<li><a href="/components/rate/zh">评分</a></li>
<li><a href="/components/rate/en">Rate</a></li>
<li><a href="/components/select/zh">选择器</a></li>
<li><a href="/components/select/en">Select</a></li>
<li><a href="/components/slider/zh">滑动输入条</a></li>
<li><a href="/components/slider/en">Slider</a></li>
<li><a href="/components/switch/zh">开关</a></li>
<li><a href="/components/switch/en">Switch</a></li>
<li><a href="/components/time-picker/zh">时间选择框</a></li>
<li><a href="/components/time-picker/en">TimePicker</a></li>
<li><a href="/components/transfer/zh">穿梭框</a></li>
<li><a href="/components/transfer/en">Transfer</a></li>
<li><a href="/components/tree-select/zh">树选择</a></li>
<li><a href="/components/tree-select/en">TreeSelect</a></li>
<li><a href="/components/upload/zh">上传</a></li>
<li><a href="/components/upload/en">Upload</a></li></ul></li>,<li><h3>Data Display</h3><ul><li><a href="/components/avatar/zh">头像</a></li>
<li><a href="/components/avatar/en">Avatar</a></li>
<li><a href="/components/badge/zh">徽标数</a></li>
<li><a href="/components/badge/en">Badge</a></li>
<li><a href="/components/calendar/zh">日历</a></li>
<li><a href="/components/calendar/en">Calendar</a></li>
<li><a href="/components/card/zh">卡片</a></li>
<li><a href="/components/card/en">Card</a></li>
<li><a href="/components/carousel/zh">走马灯</a></li>
<li><a href="/components/carousel/en">Carousel</a></li>
<li><a href="/components/collapse/zh">折叠面板</a></li>
<li><a href="/components/collapse/en">Collapse</a></li>
<li><a href="/components/list/zh">列表</a></li>
<li><a href="/components/list/en">List</a></li>
<li><a href="/components/popover/zh">气泡卡片</a></li>
<li><a href="/components/popover/en">Popover</a></li>
<li><a href="/components/table/zh">表格</a></li>
<li><a href="/components/table/en">Table</a></li>
<li><a href="/components/tabs/zh">标签页</a></li>
<li><a href="/components/tabs/en">Tabs</a></li>
<li><a href="/components/tag/zh">标签</a></li>
<li><a href="/components/tag/en">Tag</a></li>
<li><a href="/components/timeline/zh">时间轴</a></li>
<li><a href="/components/timeline/en">Timeline</a></li>
<li><a href="/components/tooltip/zh">文字提示</a></li>
<li><a href="/components/tooltip/en">Tooltip</a></li>
<li><a href="/components/tree/zh">树形控件</a></li>
<li><a href="/components/tree/en">Tree</a></li></ul></li>,<li><h3>Feedback</h3><ul><li><a href="/components/alert/zh">警告提示</a></li>
<li><a href="/components/alert/en">Alert</a></li>
<li><a href="/components/drawer/zh">抽屉</a></li>
<li><a href="/components/drawer/en">Drawer</a></li>
<li><a href="/components/message/zh">全局提示</a></li>
<li><a href="/components/message/en">Message</a></li>
<li><a href="/components/modal/zh">对话框</a></li>
<li><a href="/components/modal/en">Modal</a></li>
<li><a href="/components/notification/zh">通知提醒框</a></li>
<li><a href="/components/notification/en">Notification</a></li>
<li><a href="/components/popconfirm/zh">气泡确认框</a></li>
<li><a href="/components/popconfirm/en">Popconfirm</a></li>
<li><a href="/components/progress/zh">进度条</a></li>
<li><a href="/components/progress/en">Progress</a></li>
<li><a href="/components/skeleton/zh">加载占位图</a></li>
<li><a href="/components/skeleton/en">Skeleton</a></li>
<li><a href="/components/spin/zh">加载中</a></li>
<li><a href="/components/spin/en">Spin</a></li></ul></li>,<li><h3>Other</h3><ul><li><a href="/components/anchor/zh">锚点</a></li>
<li><a href="/components/anchor/en">Anchor</a></li>
<li><a href="/components/back-top/zh">回到顶部</a></li>
<li><a href="/components/back-top/en">BackTop</a></li>
<li><a href="/components/divider/zh">分割线</a></li>
<li><a href="/components/divider/en">Divider</a></li></ul></li></ul></nav><main><article><nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
      <nz-link nzHref="#components-alert-demo-basic" nzTitle="Basic"></nz-link><nz-link nzHref="#components-alert-demo-style" nzTitle="More types"></nz-link><nz-link nzHref="#components-alert-demo-closable" nzTitle="Closable"></nz-link><nz-link nzHref="#components-alert-demo-description" nzTitle="Description"></nz-link><nz-link nzHref="#components-alert-demo-icon" nzTitle="Icon"></nz-link><nz-link nzHref="#components-alert-demo-close-text" nzTitle="Customized Close Text"></nz-link><nz-link nzHref="#components-alert-demo-banner" nzTitle="Banner"></nz-link>
    </nz-anchor>
  </nz-affix><section class="markdown">
	<h1>Alert<span class="subtitle"></span>
	<a class="edit-button" href="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/alert/doc/index.en-US.md" target="_blank">
		<i nz-icon type="edit"></i></a>
</h1>
	<section class="markdown" ngNonBindable>
		<p>Alert component for feedback.</p>
<h2 id="when-to-use"><span>When To Use</span><a onclick="window.location.hash = 'when-to-use'" class="anchor">#</a></h2><ul>
<li>When you need to show alert messages to users.</li>
<li>When you need a persistent static container which is closable by user actions.</li>
</ul>

	</section>
	
	<h2>
		<span>Examples</span>
		<i nz-icon type="appstore" class="code-box-expand-trigger" title="expand all code" (click)="expandAllCode()"></i>
	</h2>
</section><div nz-row [nzGutter]="16">
	<div nz-col [nzLg]="12" [nzMd]="24">
		<nz-code-box nzTitle="Basic" [nzId]="'components-alert-demo-basic'" nzSelector="nz-demo-alert-basic" [nzLink]="'components-alert-demo-basic'" nzGenerateCommand="ng g ng-zorro-antd:alert-basic -p app --name=" nzComponentName="NzDemoAlertBasicComponent" [nzCode]="basic" [nzRawCode]="basicRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/alert/demo/basic.md'">
	<nz-demo-alert-basic demo></nz-demo-alert-basic>
	<div intro ngNonBindable>
		<p>The simplest usage for short messages.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Closable" [nzId]="'components-alert-demo-closable'" nzSelector="nz-demo-alert-closable" [nzLink]="'components-alert-demo-closable'" nzGenerateCommand="ng g ng-zorro-antd:alert-closable -p app --name=" nzComponentName="NzDemoAlertClosableComponent" [nzCode]="closable" [nzRawCode]="closableRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/alert/demo/closable.md'">
	<nz-demo-alert-closable demo></nz-demo-alert-closable>
	<div intro ngNonBindable>
		<p>To show close button.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Icon" [nzId]="'components-alert-demo-icon'" nzSelector="nz-demo-alert-icon" [nzLink]="'components-alert-demo-icon'" nzGenerateCommand="ng g ng-zorro-antd:alert-icon -p app --name=" nzComponentName="NzDemoAlertIconComponent" [nzCode]="icon" [nzRawCode]="iconRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/alert/demo/icon.md'">
	<nz-demo-alert-icon demo></nz-demo-alert-icon>
	<div intro ngNonBindable>
		<p>Decent icon make information more clear and more friendly.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Banner" [nzId]="'components-alert-demo-banner'" nzSelector="nz-demo-alert-banner" [nzLink]="'components-alert-demo-banner'" nzGenerateCommand="ng g ng-zorro-antd:alert-banner -p app --name=" nzComponentName="NzDemoAlertBannerComponent" [nzCode]="banner" [nzRawCode]="bannerRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/alert/demo/banner.md'">
	<nz-demo-alert-banner demo></nz-demo-alert-banner>
	<div intro ngNonBindable>
		<p>Display Alert as a banner at top of page.</p>

	</div>
</nz-code-box>

	</div>
	<div nz-col [nzLg]="12" [nzMd]="24">
		<nz-code-box nzTitle="More types" [nzId]="'components-alert-demo-style'" nzSelector="nz-demo-alert-style" [nzLink]="'components-alert-demo-style'" nzGenerateCommand="ng g ng-zorro-antd:alert-style -p app --name=" nzComponentName="NzDemoAlertStyleComponent" [nzCode]="style" [nzRawCode]="styleRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/alert/demo/style.md'">
	<nz-demo-alert-style demo></nz-demo-alert-style>
	<div intro ngNonBindable>
		<p>There are 4 types of Alert: <code>success</code>, <code>info</code>, <code>warning</code>, <code>error</code>.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Description" [nzId]="'components-alert-demo-description'" nzSelector="nz-demo-alert-description" [nzLink]="'components-alert-demo-description'" nzGenerateCommand="ng g ng-zorro-antd:alert-description -p app --name=" nzComponentName="NzDemoAlertDescriptionComponent" [nzCode]="description" [nzRawCode]="descriptionRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/alert/demo/description.md'">
	<nz-demo-alert-description demo></nz-demo-alert-description>
	<div intro ngNonBindable>
		<p>Additional description for alert message.</p>

	</div>
</nz-code-box>
<nz-code-box nzTitle="Customized Close Text" [nzId]="'components-alert-demo-close-text'" nzSelector="nz-demo-alert-close-text" [nzLink]="'components-alert-demo-close-text'" nzGenerateCommand="ng g ng-zorro-antd:alert-close-text -p app --name=" nzComponentName="NzDemoAlertCloseTextComponent" [nzCode]="closeText" [nzRawCode]="closeTextRaw" nzIframeSource="null" nzIframeHeight="null" [nzHref]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/alert/demo/close-text.md'">
	<nz-demo-alert-close-text demo></nz-demo-alert-close-text>
	<div intro ngNonBindable>
		<p>Replace the default icon with customized content.</p>

	</div>
</nz-code-box>

	</div>
</div>
<section class="markdown api-container" ngNonBindable><h2 id="api"><span>API</span><a onclick="window.location.hash = 'api'" class="anchor">#</a></h2><h3 id="nz-alert"><span>nz-alert</span><label class="api-type-label component">component</label><a onclick="window.location.hash = 'nz-alert'" class="anchor">#</a></h3><table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Type</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[nzBanner]</code></td>
<td>Whether to show as banner</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td><code>[nzClosable]</code></td>
<td>Whether Alert can be closed</td>
<td>boolean</td>
<td>-</td>
</tr>
<tr>
<td><code>[nzCloseText]</code></td>
<td>Close text to show</td>
<td>string｜<code>TemplateRef&lt;void&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzDescription]</code></td>
<td>Additional content of Alert</td>
<td>string｜<code>TemplateRef&lt;void&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzMessage]</code></td>
<td>Content of Alert</td>
<td>string｜<code>TemplateRef&lt;void&gt;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzShowIcon]</code></td>
<td>Whether to show icon</td>
<td>boolean</td>
<td>false, in <code>nzBanner</code> mode default is true</td>
</tr>
<tr>
<td><code>[nzIconType]</code></td>
<td>Icon type, effective when <code>nzShowIcon</code> is <code>true</code></td>
<td><code>string 丨 string[] 丨 Set&lt;string&gt; 丨 &#123; [klass: string]: any; &#125;;</code></td>
<td>-</td>
</tr>
<tr>
<td><code>[nzType]</code></td>
<td>Type of Alert styles, options: <code>success</code>, <code>info</code>, <code>warning</code>, <code>error</code></td>
<td>string</td>
<td><code>info</code>, in <code>banner</code> mode default is <code>warning</code></td>
</tr>
<tr>
<td><code>(nzOnClose)</code></td>
<td>Callback when Alert is closed</td>
<td><code>EventEmitter&lt;void&gt;</code></td>
<td>-</td>
</tr>
</tbody>
</table>
</section></article></main></div></app-root>
    <script type="text/javascript">
      // Single Page Apps for GitHub Pages
      // https://github.com/rafrex/spa-github-pages
      // Copyright (c) 2016 Rafael Pedicini, licensed under the MIT License
      // ----------------------------------------------------------------------
      // This script checks to see if a redirect is present in the query string
      // and converts it back into the correct url and adds it to the
      // browser's history using window.history.replaceState(...),
      // which won't cause the browser to attempt to load the new url.
      // When the single page app is loaded further down in this file,
      // the correct url will be waiting in the browser's history for
      // the single page app to route accordingly.
      (function(l) {
        if (l.search) {
          var q = {};
          l.search.slice(1).split('&').forEach(function(v) {
            var a = v.split('=');
            q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
          });
          if (q.p !== undefined) {
            window.history.replaceState(null, null,
              l.pathname.slice(0, -1) + (q.p || '') +
              (q.q ? ('?' + q.q) : '') +
              l.hash
            );
          }
        }
      }(window.location))
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52892298-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-52892298-2');
    </script>
  <script type="text/javascript" src="runtime.3b80d31845c016626f6e.js"></script><script type="text/javascript" src="polyfills.123964adf0983bf3e4a6.js"></script><script type="text/javascript" src="scripts.03e042f1f102bf0e2ed8.js"></script><script type="text/javascript" src="main.e2ecce41a02d6a32c114.js"></script></body>
</html>
